.dc_box {
	background: #ffffff;
	font-size: 15px;
	margin: 20px 0 0;
	padding: 20px;
	width: 1000px;
	float: left;
}

.dc_box a {
	color: #3498db;
	text-decoration: none;
}

.dc_box a:hover {
	text-decoration: underline;
}

.dc_box_header {
	margin: 0 0 20px;
	width: 100%;
}
.dc_box_description {
	display: inline-block;
	font-size: inherit;
	margin: 0 0 20px;
	padding: 0;
	width: 100%;
}
.dc_box_description--no_margin { margin: 0; }
.dc_box_subdescription {
	display: inline-block;
	font-size: inherit;
	margin: 0 0 10px;
	padding: 0;
	width: 1000px;
}

.dc_box_title {
	font-size: 1.25em;
	line-height: 161.8%;
	margin: 0 0 10px;
}

.dc_box_subtitle {
	font-size: 1em;
	line-height: 161.8%;
	margin: 20px 0 10px;
	padding: 0;
	display: inline-block;
	width: 100%;
}

.dc_settings {
	float: left;
	font-size: 1em;
	margin: -20px 0 30px;
	width: 100%;
}
.dc_settings--no_margin { margin: 0; }

.dc_list {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
}

.dc_list_item {
	background: #f1f1f1;
	border-bottom: solid 1px #dddddd;
	float: left;
	font-size: 1em;
	height: auto;
	line-height: 2em;
	margin: 0;
	min-height: 2em;
	padding: 5px;
	width: calc(100% - 10px);
}

.dc_list_item:nth-child(even) {
	background: none;
}

.dc_settings_row {
	background: #f1f1f1;
	border-bottom: solid 1px #dddddd;
	float: left;
	font-size: 1em;
	height: 2em;
	line-height: 2em;
	padding: 5px;
	width: calc(100% - 10px);
}

.dc_settings_row:nth-child(even) {
	background: none;
}

.dc_settings_row_name {
	float: left;
	font-size: inherit;
	height: inherit;
	line-height: inherit;
	width: 150px;
}

.dc_settings_row_value {
	float: left;
	font-size: inherit;
	height: inherit;
	line-height: inherit;
	width: calc(100% - 150px);
}
	.dc_settings_row_value--marginBottom { margin: 0 0 5px; }
	.dc_settings_row_value input, .dc_settings_row_value select {
		width: 200px;
	}
	.dc_settings_row_value input.error, .dc_settings_row_value select.error {
		background-color: #FEEFB3;
		border-color: #9F6000;
	}
	.dc_settings_row_value_reset_color {
		cursor: pointer;
		margin: 0 0 0 10px;
		width: auto !important;
	}

.dc_settings_row_value_description {
	display: inline-block;
	font-size: inherit;
	font-style: italic;
	height: inherit;
	line-height: inherit;
	margin: 0 0 0 10px;
}

.dc_settings_button {
	background: #3498db;
	border: none;
	color: #ffffff;
	cursor: pointer;
	float: left;
	font-size: inherit;
	height: 2em;
	line-height: 2em;
	margin: 20px 0 0;
	padding: 0 20px;
	width: auto;
}

.dc_shorttag {
	background: #f1f1f1;
	border-bottom: 1px solid #dddddd;
	color: #333333;
	cursor: pointer;
	margin-bottom: 20px;
	padding: 5px;
	text-align: center;
	width: 100%;
}

.dc_message {
	background-position: 10px center;
	background-repeat: no-repeat;
	border: 1px solid;
	margin: 0 0 20px;
	padding: 10px 20px;
	width: calc(1000px - 40px);
}

.dc_message_warning {
	background: #FEEFB3;
	color: #9F6000;
}

.dc_message_success {
	background: #DFF2BF;
	color: #4F8A10;
}
