<input type="hidden" id="quote_page_business" value="{{ single_model.configuration.quote_page.business }}">
<input type="hidden" id="quote_page_private" value="{{ single_model.configuration.quote_page.private }}">

{% if(single_model.prices.private is not empty and single_model.prices.business is not empty) %}
	{% set label = 'Zakelijke lease' %}
	{% set css_class = 'models__data' %}
	{% set price_mode = 'both_prices' %}
	{% set switch_mode = 'business' %}
	{% set model_price = single_model.prices.business %}
{% elseif(single_model.prices.private is not empty and single_model.prices.business is empty) %}
	{% set label = 'Private lease' %}
	{% set css_class = 'models__data' %}
	{% set price_mode = 'private' %}
	{% set switch_mode = 'private' %}
	{% set model_price = single_model.prices.private %}
{% elseif(single_model.prices.private is empty and single_model.prices.business is not empty) %}
	{% set label = 'Zakelijke lease' %}
	{% set css_class = 'models__data' %}
	{% set price_mode = 'business' %}
	{% set switch_mode = 'business' %}
	{% set model_price = single_model.prices.business %}
{% else %}
	{% set label = 'Nog niet beschikbaar' %}
	{% set css_class = 'models__data models__data--not-yet-available' %}
	{% set price_mode = 'not_yet_available' %}
	{% set switch_mode = 'business' %}
	{% set model_price = '' %}
{% endif %}

<form class="{{ css_class }}" id="configurator">
	<h2 class="js-lease-title">{{ label }}</h2>

	{% if(price_mode == 'both_prices') %}
		<div class="switch">
			<label>Zakelijk</label>
			{% if(single_model.prices.private) %}
				<label class="switch__inner">
					<input type="checkbox" class="js-lease-switch" data-label="Private lease" data-price="{{ single_model.prices.private }}">
					<span class="slider"></span>
				</label>
				<label>Private</label>
			{% endif %}
		</div>
	{% endif %}

	<input type="hidden" name="model_id" value="{{ single_model.model_information.id }}">
	<input type="hidden" name="reference" value="{{ single_model.model_information.reference }}">
	<input type="hidden" name="is_stock_car" value="{{ single_model.is_stock_car }}">
	<input type="hidden" name="type" value="{{ switch_mode }}" class="js-lease-type">

	{% if(price_mode != 'not_yet_available') %}

		{% if(single_model.configuration.duration) %}
			<div class="models__data-grid duration">
				{% if post.is_occasion %}
					<label>Resterende looptijd <small>in maanden</small></label>
				{% else %}
					<label>Looptijd <small>in maanden</small></label>
				{% endif %}
				<div>
					{% for month in single_model.configuration.duration %}
						<input class="radio-input" type="radio" id="{{ month }}-months" name="duration" value="{{ month }}">
						<label class="radio-label" for="{{ month }}-months">{{ month }}</label>
					{% endfor %}
				</div>
			</div>
		{% endif %}

		{% if(single_model.configuration.kilometers) %}
			<div class="models__data-grid km">
				<label for="km">KM per jaar
					<i class="tooltip-icon">
						<div class="tooltip" role="tooltip">
							<div class="tooltip__text">Vul goed in om bijbetaling te voorkomen</div>
						</div>
					</i>
				</label>
				<select id="km" name="km">
					{% for kilometer in single_model.configuration.kilometers %}
						<option value="{{ kilometer.value }}">{{ kilometer.label }}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}

		<span class="price__indicator js-lease-price">{{ model_price }}</span>

		<a class="button button__primary button__arrow js-og-button" data-occasion="{{ post.is_occasion ? '1' : '0' }}">
			<span>{{ single_model.quote_button_text }}</span>
			<svg class="icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg">
				<path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/>
			</svg>
		</a>

	{% else %}

		<a class="button button__primary button__arrow" href="{{ single_model.all_models_link }}">
			<span>{{ single_model.all_models_text }}</span>
			<svg class="icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg">
				<path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/>
			</svg>
		</a>

	{% endif %}

	{% if(price_mode != 'not_yet_available' and not post.is_occasion) %}
		<span class="price__from">Vanafprijs p/m o.b.v. 10.000 km en looptijd van 60 maanden.</span>
	{% endif %}

	{% if(single_model.usps_general) %}
		<div class="usps usps__general">
			<ul class="usps__list">
				{% for usp_general in single_model.usps_general %}
					<li class="usps__item">
						<svg width="15" height="11" xmlns="http://www.w3.org/2000/svg">
							<path d="M13.293.293a1 1 0 0 1 1.414 1.414l-9 9a1 1 0 0 1-1.414 0l-4-4a1 1 0 1 1 1.414-1.414L5 8.586 13.293.293z" fill="#0AD85A" fill-rule="nonzero"></path>
						</svg>
						<span>{{ usp_general.post_title }}</span></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<div class="usps">
		{% include 'components/model-usp-list.twig' with {
			'model': post,
			'count': 4
		} %}
	</div>
</form>
