<h3>{{ single_model.detail_tables.stock_car_information.title }}</h3>

{% if single_model.detail_tables.stock_car_information.table %}
	<table class="table table--2col">
		{% for table_row in single_model.detail_tables.stock_car_information.table %}
			<tr>
				<th>{{ table_row.label }}</th>
				<td>{{ table_row.value }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}
