{% if post.is_occasion %}

	<h3>{{ single_model.detail_tables.general_information.title }}</h3>

	{% if single_model.model_information.occasion_column_1 %}
		<div>
			{{ single_model.model_information.occasion_column_1 }}
		</div>
	{% endif %}

	{% if single_model.model_information.occasion_column_2 %}
		<div>
			{{ single_model.model_information.occasion_column_2 }}
		</div>
	{% endif %}

{% else %}

	<h3>{{ single_model.detail_tables.general_information.title }}</h3>

	<div>
		{% if single_model.detail_tables.general_information.description %}
			{{ single_model.detail_tables.general_information.description }}
		{% else %}
			{% if single_model.charging_electrical_car_image %}
				<img src="{{ single_model.charging_electrical_car_image }}"/>
			{% endif %}
		{% endif %}
	</div>

	{% if single_model.detail_tables.general_information.table %}
		<table class="table">
			{% for table_row in single_model.detail_tables.general_information.table %}
				<tr>
					<th>{{ table_row.label }}</th>
					<td>{{ table_row.value }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	<h3>{{ single_model.detail_tables.load_information.title }}</h3>

	{% if single_model.detail_tables.load_information.table %}
		<table class="table table--2col">
			{% for table_row in single_model.detail_tables.load_information.table %}
				<tr>
					<th>{{ table_row.label }}</th>
					<td>{{ table_row.value }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	<h3>{{ single_model.detail_tables.tech_specs.title }}</h3>

	{% if single_model.detail_tables.tech_specs.table %}
		<table class="table table--2col">
			{% for table_row in single_model.detail_tables.tech_specs.table %}
				<tr>
					<th>{{ table_row.label }}</th>
					<td>{{ table_row.value }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	{% if(single_model.results_text.description) %}
		<h3><!-- Not necessary now --></h3>

		<div>
			{{ single_model.results_text.description }}
		</div>

		{% if single_model.charging_electrical_car_image %}
			<img src="{{ single_model.charging_electrical_car_image }}"/>
		{% endif %}
	{% endif %}

{% endif %}
