{% if(single_model.results_text.description) %}
	<h3>{{ single_model.detail_tables.general_information.title }}</h3>
	<div>
		{{ single_model.results_text.description }}
	</div>
	{% if single_model.charging_electrical_car_image %}
		<img src="{{ single_model.charging_electrical_car_image }}"/>
	{% endif %}
{% endif %}
