<div class="models__images">
	<div class="custom__label">
		{{ post.meta('custom_label') }}
	</div>
	<div class="carousel-image">
		{% if single_model.gallery_images %}
			{% for gallery_image in single_model.gallery_images %}
				<img src="{{ gallery_image.src }}" alt="{{ gallery_image.alt }}"/>
			{% endfor %}
		{% endif %}
	</div>

	{% if single_model.gallery_thumbnails|length > 1 %}
		<div class="carousel-image__list">
			{% for gallery_thumbnail in single_model.gallery_thumbnails %}
				<img src="{{ gallery_thumbnail.src }}" alt="{{ gallery_thumbnail.alt }}"/>
			{% endfor %}
		</div>
	{% endif %}

</div>
