<div class="section__container">
	<div class="title--container">
		<h3>Vergelijkbare auto’s</h3>
		<h5>Ontdek de populairste auto's</h5>
	</div>
	<ul class="related--cars__list">
		{% for car in single_model.top_5_models %}
			{% include 'components/related-item-card.twig' with {
				'post': car,
				'count': loop.index,
				'brand_id': car.terms('brand')
			} %}
		{% endfor %}
	</ul>
</div>
