<div class="post-footer section--background">
	<div class="wrapper">
		<div class="title--container">
			<h3>Meer artikelen</h3>
			<h5>Ontdek al onze artikelen</h5>
		</div>
		<div class="post-grid">
			{% for related_post in related_posts %}
				{% include 'partials/blog/post-card.twig' with {
					'model': related_post.model,
					'excerpt': related_post.excerpt
				} %}
			{% endfor %}
		</div>
	</div>
</div>
