<article {{ featured ? 'class="post-card post-card--featured"' : 'class="post-card"' }}">
<a href="{{ model.permalink }}">
	<div class="post-card__image">
		<img src="{{ model.thumbnail.src('sticky_blog_item') }}" alt="{{ model.title }}">
	</div>
	<div class="post-card__content">
		<time class="post-date" datetime="{{ model.post_date|date("Y-m-d") }}">{{ model.post_date|date("j F Y") }}</time>
		<h2 class="post-card__heading">{{ model.title }}</h2>
		<p>{{ excerpt }}</p>
	</div>
</a>
</article>
