{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--modellen' %}

<section class="{{ cssClass|trim }}" data-modellen data-site={{ site.link }} data-pagination="1" data-limit="5">

	<div class="section__container">
		<aside class="index--summary">
			<h3 class="category__title">{{ __('Filter') }}</h3>

			<div class="sticky">

				<div class="filter__block">
					<strong>Leaseprijs</strong>

				</div>

				<div class="filter__block">
					<strong>Leaseprijs</strong>
					<label><input type="checkbox">Zakelijk</label>
					<label><input type="checkbox">Prive</label>

					<div class="checkbox">
						<input type="checkbox" data-modellen-button data-action="more_modellen" data-cat="32">
						<label for="">{{ __('32') }}</label>
					</div>
				</div>

				<div class="filter__block">
					<strong>Merk</strong>
				</div>

				<div class="filter__block">
					<strong>Type auto</strong>
				</div>

				<div class="filter__block">
					<strong>Actieradius</strong>
				</div>

				<div class="filter__block">
					<strong>Bruto bijtelling</strong>
				</div>

				<div class="filter__block">
					<strong>Aantal deuren</strong>
				</div>

				<div class="filter__block">
					<strong>Snelladen mogelijk</strong>
				</div>

				<div class="filter__block">
					<strong>Zitplaatsen</strong>
				</div>


				{% for category in section.category %}
					{% if category.id != 1 %}
						<button class="category__item" data-modellen-button data-action="more_modellen" data-cat="{{ category.id }}">
							{{ category.title }}
						</button>
					{% endif %}
				{% endfor %}
			</div>
		</aside>

		{% if models %}
			<div class="index--content">

				{{ section.description }}

				<div data-modellen-section>
					{% if models %}
						<ul class="list model__list">
							{% for model in models %}
								<li class="model__item">
									{% include 'components/teaser-card.twig' with {
										'post': models
									} %}
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<p><em>{{ __('Geen items gevonden.') }}</em></p>
					{% endif %}

					{% if section.show_pagination %}
						{% include 'partials/pagination.twig' with {
							'pagination': section.pagination
						} %}
					{% endif %}
				</div>
			</div>
		{% endif %}

	</div>
</section>
