{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--banner_home' %}

<section class="{{ cssClass|trim }}" style="background-image: url('{{ section.background_image }}');">
	<div class="column__container main_container">
		<div class="column__item content__item">
			<h1>{{ section.heading_banner }}</h1>

			<div class="lease_form_wrap">
				<div class="lease_form_inner">
					<div class="tab">
						<button class="tablinks active" onclick="openForm(event, 'Zakelijke')">Zakelijke lease</button>
						<button class="tablinks" onclick="openForm(event, 'Private')">Private lease</button>
					</div>

					<div id="Zakelijke" class="tabcontent" style="display:block;">
						<form id="zakelijke_lease" class="zakelijke_lease lease_form" action="/">
							<div class="column__container">
								<div class="column__item left_side">
									<select id="brand" name="quick_form_brand">
										<option value="init">Merk</option>
										{% for brand in brands %}
											<option value="{{ brand.id }}">
												{{ brand.title }}
											</option>
										{% endfor %}
									</select>
									<select id="car_range" name="quick_form_actieradius">
										<option value="init">Actieradius</option>
										<option value="250">250</option>
										<option value="500">500</option>
										<option value="750">750</option>
										<option value="1000">1000</option>
									</select>
								</div>

								<div class="column__item right_side">
									<select id="price_range" name="quick_form_budget">
										<option value="init">Budget</option>
										<option value="500">tot &euro; 500</option>
										<option value="1000">tot &euro; 1000</option>
										<option value="1500">tot &euro; 1500</option>
										<option value="2000">tot &euro; 2000</option>
									</select>
									<select id="type" name="quick_form_type">
										<option value="init">Type auto</option>
										{% for car_type in car_types %}
											<option value="{{ car_type.id }}">
												{{ car_type.title }}
											</option>
										{% endfor %}
									</select>
								</div>
							</div>
							<input type="hidden" name="eal_redirect_link" value="{{ section.business_lease_page }}">
							<input type="submit" name="quick_form_submit" class="button button__price button__primary submit_btn" value="Zoek de beste deal">
						</form>
					</div>

					<div id="Private" class="tabcontent">
						<form id="private_lease" class="private_lease lease_form" action="/">
							<div class="column__container">
								<div class="column__item left_side">
									<select id="brand" name="quick_form_brand">
										<option value="init">Merk</option>
										{% for brand in brands %}
											<option value="{{ brand.slug }}">
												{{ brand.title }}
											</option>
										{% endfor %}
									</select>
									<select id="type" name="quick_form_type">
										<option value="init">Type auto</option>
										{% for car_type in car_types %}
											<option value="{{ car_type.slug }}">
												{{ car_type.title }}
											</option>
										{% endfor %}
									</select>
								</div>
								<div class="column__item right_side">
									<select id="car_range" name="quick_form_km">
										<option value="init">Km per jaar</option>
										<option value="5000">5000</option>
										<option value="7500">7500</option>
										<option value="10000">10000</option>
										<option value="12500">12500</option>
										<option value="15000">15000</option>
										<option value="20000">20000</option>
										<option value="25000">25000</option>
										<option value="30000">30000</option>
										<option value="40000">40000</option>
										<option value="50000">50000</option>
										<option value="60000">60000</option>
										<option value="70000">70000</option>
										<option value="80000">80000</option>
										<option value="90000">90000</option>
										<option value="100000">100000</option>
									</select>
									<select id="contract" name="quick_form_contract">
										<option value="init">Looptijd</option>
										<option value="12">12</option>
										<option value="24">24</option>
										<option value="36">36</option>
										<option value="48">48</option>
										<option value="60">60</option>
									</select>
								</div>
							</div>
							<input type="hidden" name="eal_redirect_link" value="{{ section.private_lease_page }}">
							<input type="submit" name="quick_form_submit" class="button button__price button__primary submit_btn" value="Zoek de beste deal">
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="column__item img__item">
			<img src="{{ section.banner_image.url }}">
		</div>
	</div>

	<div class="section__container banner__container usps__container">
		{% include 'partials/header_usps.twig' %}
	</div>
</section>
