{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--blog_layout' %}

{# settings #}
{% if section.settings.background_color == 'dark-bg' %}
    {% set background_color = 'section--background_dark' %}
{% endif %}

{% if section.settings.background_color == 'white-bg' %}
    {% set background_color = 'section--background_white' %}
{% endif %}

{% if section.settings.background_color == 'light-bg' %}
    {% set background_color = 'section--background_light' %}
{% endif %}

{% if section.settings.background_color == 'custom-bg' %}
    {% set background_color = 'section--background_custom' %}
    {% set color_c = 'style="background-color:' ~ section.settings.select_custom_color ~ ';"' %}
{% endif %}

<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }} {{ background_color }}" {{color_c}}>
    <div class="section__container">
        <div class="column__title column__title_underline">

            {% if section.heading_group.heading_first %}
                {{section.heading_group.heading_first}} 
            {% endif %}

            {% if section.heading_group.underline_heading %}
                <span>
                    {{section.heading_group.underline_heading}}
                    
                    <svg width="271" height="22" viewBox="0 0 271 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 19C52.4232 7.87268 175.516 -8.50674 268.5 14.9942" stroke="#04BC83" stroke-width="5" stroke-linecap="round"/></svg>
                </span>
            {% endif %}

            {% if section.heading_group.heading_second %}
                {{section.heading_group.heading_second}}
            {% endif %}

        </div>

        <div class="carousel" data-carousel>
            {% if section.posts %}
                <div class="blog--posts-slider">
                    {% for post in section.posts %}
                        {%- import 'macros/html.twig' as html -%}
                        {%- import 'macros/picture.twig' as picture -%}
                        
                        <article class="news--card in-view" data-in-view>
                        
                            {% if post.thumbnail %}
                                <figure class="news--card__thumb">
                                    <a href="{{ post.link }}">
                                        {{ picture.featured(post.thumbnail, 'newscard') }} 
                                        <div class="aspect-ratio-placeholder__fill"></div>
                                    </a>
                                </figure>
                            {% endif %}


                            <div class="news--card__bottom">
                                <h2 class="news--card__title"><a href="{{post.link}}">{{ post.title }}</a></h2>
                               
                                <div class="news--card__date">{{post.date}}</div>
                            
                                <a href="{{post.link}}" class="button button__underline">
                                    <span>{{ __('Lees meer')}}</span>
                                </a>
                            </div>
                        </article>

                    {% endfor %}
                </div>
            {% else %}
                <p><em>{{ __('Geen items gevonden.') }}</em></p>
            {% endif %}
        </div>
       
        {# {% if section.button_blog_layout.button_url %} #}
            <div class="blog--layout_btn">
                <a href="{{section.button_blog_layout.button_url_intern}}" class="button {{ section.button_blog_layout.button_style }} button__arrow">
                    <span>{{ section.button_blog_layout.button_text }}</span>
                </a>
            </div>
        {# {% endif %} #}
    </div>
</section>