{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--blog green_bottom' %}

<section class="{{ cssClass|trim }}" data-blog data-site={{ site.link }} data-pagination="1" {% if section.limit %} data-limit="{{ section.limit }}"{% endif %}>
   
    <div class="section__container">
        <div class="blog--filter">
            <span>{{ __('Kies je onderwerp') }}</span>

            <button class="category__item is-active" data-blog-button data-action="more_posts">
                {{ __('Alle') }}
            </button>
    
            {% for category in section.category %} 
                {% if category.id != 1 %}
                    <button class="category__item" data-blog-button data-action="more_posts" data-cat="{{ category.id }}">
                        {{ category.title }}
                    </button>       
                {% endif %}   
            {% endfor %}
        </div>
           
        {% if section.posts %}
            <div data-blog-section>
                {% if section.posts %}
                    <div class="flexbox--container">
                        {% for post in section.posts %}
                            {% include 'components/news-card.twig' with {
                                    'post': post
                                } %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p><em>{{ __('Geen items gevonden.') }}</em></p>
                {% endif %}
            
                {% if section.show_pagination and section.pagination %}
                    {% include 'partials/pagination.twig' with {
                        'pagination': section.pagination
                    } %}
                {% endif %}
            </div>
        {% endif %}
   
    </div>
</section>
