{%- import 'macros/picture.twig' as picture -%}

{% set id = id|default(0) %}
{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--brands' %}

{% set settings %}
    {%- include 'macros/settings.twig' -%}
{% endset %}

{% set wrapperSize %}
    {%- include 'macros/settings.twig' -%}
{% endset %}

{# Options #}
{% if section.settings.no_margin_top %}
    {% set no_margin_top = 'no_margin_top' %}
{% endif %}

{% if section.settings.no_margin_bottom %}
    {% set no_margin_bottom = 'no_margin_bottom' %}
{% endif %}

{% if section.settings.background_color %}
    {% set background = 'section--background' %}
{% endif %}

{% if section.settings.shear %}
    {% set background = 'section--background section--background_shear' %}
{% endif %}

<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }} {{no_margin_top}} {{no_margin_bottom}} {{green_bottom}}">
    <div class="wrapper {{section.settings.wrapper_size}}">

        {% if model_collection_list %}
            <div class="brands__container">

                {% for model_collection in model_collection_list %}

                    <div class="brand">
                        <div class="brand__image-container">
                            {% if(model_collection.image.src('brand_archive_image')) %}
                                <img src="{{ model_collection.image.src('brand_archive_image') }}" class="brand__image"/>
                            {% else %}
                                <img src="https://placehold.it/580x250/" class="brand__image"/>
                            {% endif %}
                            <a href="{{ model_collection.brand.link }}" title="{{ model_collection.brand.name }}" class="brand__name button button__primary button__medium">{{ model_collection.brand.name }}</a>
                        </div>
                        {% if( model_collection.models ) %}
                            <ul class="brand__models">

                                {% for model in model_collection.models %}
                                    <li class="brand-model">
                                        {% if( model.post_type is not same as('model_collections') ) %}
                                            <a href="{{ model.link }}" title="{{ model.post_title }}" class="button button__alternative button__shadow--dark button__large brand-model__name">{{ model.post_title }}</a>
                                        {% endif %}

                                        {% if( model.post_type is same as('model_collections') ) %}
                                            <a href="{{ model.custom_model_collection_link }}" title="{{ model.post_title }}" class="button button__alternative button__shadow--dark  button__large brand-model__name">{{ model.post_title }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}

                            </ul>
                        {% endif %}

                    </div>

                {% endfor %}

            </div>
        {% endif %}

    </div>
</section>
