{% set id = id|default(0) %}
{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'breadcrumbs' %}


<div {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }}">
	<div class="section__container">
   		{% if breadcrumbs %} {{breadcrumbs}} {% endif %}
   	</div>
</div>
