{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--car_types' %}

{# settings #}
{% if section.settings.background_color == 'dark-bg' %}
    {% set background_color = 'section--background_dark' %}
{% endif %}

{% if section.settings.background_color == 'white-bg' %}
    {% set background_color = 'section--background_white' %}
{% endif %}

{% if section.settings.background_color == 'light-bg' %}
    {% set background_color = 'section--background_light' %}
{% endif %}

{% if section.settings.background_color == 'custom-bg' %}
    {% set background_color = 'section--background_custom' %}
    {% set color_c = 'style="background-color:' ~ section.settings.select_custom_color ~ ';"' %}
{% endif %}

<section class="{{ cssClass|trim }} {{ background_color }}" {{ color_c }}>
    <div class="section__container">
        <div class="column__title w-100 column__title_underline text_align--center">

            {% if section.heading_group.heading_first %}
                {{ section.heading_group.heading_first }}
            {% endif %}

            {% if section.heading_group.underline_heading %}
                <span>
                    {{ section.heading_group.underline_heading }}

                    <svg width="271" height="22" viewBox="0 0 271 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.5 19C52.4232 7.87268 175.516 -8.50674 268.5 14.9942" stroke="#04BC83" stroke-width="5" stroke-linecap="round" />
                    </svg>
                </span>
            {% endif %}

            {% if section.heading_group.heading_second %}
                {{ section.heading_group.heading_second }}
            {% endif %}
        </div>
        <div class="column__content w-100">
            <div class="car_type__slider text_align--center">
                {% for type in section.car_types_repeater %}
					{% if type.link['url'] %}
						<div class="single_type">
							<div class="single_wrap">
								<span>
									{{ car_svgs[type.icon] }}
								</span>
								<a href="{{ type.link['url'] }}" class="button button__primary" target="{{ type.link['target'] }}" title="{{ type.link['title'] }}">
									{{ type.link['title'] }}
								</a>
							</div>
						</div>
					{% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

