{%- import 'macros/picture.twig' as picture -%}

{% set id = id|default(0) %}
{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--carousel' %}

{% set settings %}
    {%- include 'macros/settings.twig' -%}
{% endset %}

{% set wrapperSize %}
    {%- include 'macros/settings.twig' -%}
{% endset %}

{# Options #}
{% if section.settings.no_margin_top %}
    {% set no_margin_top = 'no_margin_top' %}
{% endif %}

{% if section.settings.no_margin_bottom %}
    {% set no_margin_bottom = 'no_margin_bottom' %}
{% endif %}

{% if section.settings.background_color %}
    {% set background = 'section--background' %}
{% endif %}

{% if section.settings.shear %}
    {% set background = 'section--background section--background_shear' %}
{% endif %}


<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }} {{no_margin_top}} {{no_margin_bottom}} {{background}}">
    <div class="wrapper {{wrapperSize}}">
          	
        {% if section.description %}
    	    {{section.description}}
        {% endif %}
        
        {# {{dump(section)}} #}

                <div class="carousel" data-carousel>
            <div class="carousel__wrapper" data-carousel-wrapper>
                {% for item in section.carousel_items %}
                    <div class="benefit--card">
                        <figure>
                            <img src="{{ Image(item.icon).src }}" alt="{{item.title}} icoon" width="75" height="75">
                        </figure>

                        <h3>{{item.title}}</h3>
                        {{item.description}}


                    </div>
                {% endfor %}
            </div>
            
            <div class="carousel__arrows" data-carousel-dots></div>

        </div>


            </div>
    	

    </div>
</section>
