{%- import 'macros/picture.twig' as picture -%}

{% set id = id|default(0) %}
{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--column' %}


{% if section.no_margin_top %}
    {% set no_margin_top = 'no_margin_top' %}
{% endif %}

{% if section.no_margin_bottom %}
    {% set no_margin_bottom = 'no_margin_bottom' %}
{% endif %}

<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }} {{no_margin_top}} {{no_margin_bottom}}   ">
    <div class="wrapper {{section.wrapper}}">

        {% if section.column.description %}
            <div class="description">
                {{ section.column.description }}
            </div>
        {% endif %}
    </div>
</section>