{%- import 'macros/picture.twig' as picture -%}

{% set id = id|default(0) %}
{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--columns' %}

{# Options #}
{% if section.settings.no_margin_top %}
    {% set no_margin_top = 'no_margin_top' %}
{% endif %}

{% if section.settings.no_margin_bottom %}
    {% set no_margin_bottom = 'no_margin_bottom' %}
{% endif %}

{% if section.settings.background_color %}
    {% set background = 'section--background' %}
{% endif %}

{% if section.settings.shear %}
    {% set background = 'section--background section--background_shear' %}
{% endif %}


{% if section.settings.align_items %}
    {% set align_items = section.settings.align_items %}
    {% set alignItems = 'align--items_' ~ align_items %}
{% endif %}

<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }} {{no_margin_top}} {{alignItems}} {{no_margin_bottom}} {{background}}">
    <div class="wrapper {{wrapperSize}}">
        <div class="column__container">
            {% include 'components/column.twig' with {
                'column': section.left
            } %}
            {% include 'components/column.twig' with {
                'column': section.right
            } %}
        </div>
    </div>
</section>
