<section id="lease-deals" class="models__meta section--background">
	<div class="wrapper">
		<div class="column__container">
			{% if deal_compare_data %}
				<div class="lease-deals">
					<div class="lease-deals__inner">
						<h2 class="lease-deals__title">Beste deals voor de {{ post_title }}</h2>
						<div class="lease-deals-filter">
							<ul class="lease-deals-filter__list">
								{% set deal_count = 0 %}
								{% for deal in deal_compare_data %}
									{% if deal_count == 0 %}
										{% if deal.columns %}
											{% for column in deal.columns %}
												{% if column.label != 'Bekijk' %}
													<li class="lease-deals-filter__item">{{ column.label }}</li>
												{% endif %}
											{% endfor %}
										{% endif %}
									{% endif %}
									{% set deal_count = deal_count + 1 %}
								{% endfor %}
							</ul>
						</div>
						{% for deal in deal_compare_data %}
							{% if deal.columns %}
								<dl class="lease-deals__list">
									<div class="lease-deals__company">
										<dt class="lease-deals__term">{{ deal.columns.lease_company.label }}</dt>
										<dd class="lease-deals__detail">
											<img src="{{ deal.columns.lease_company.image_url }}" alt="{{ deal.columns.lease_company.value }}">
										</dd>
									</div>
									<div class="lease-deals__model">
										<dt class="lease-deals__term">{{ deal.columns.model.label }}</dt>
										<dd class="lease-deals__detail">{{ deal.columns.model.value }}</dd>
									</div>
									<div class="lease-deals__type">
										<dt class="lease-deals__term">{{ deal.columns.lease_type.label }}</dt>
										<dd class="lease-deals__detail">{{ deal.columns.lease_type.value }}</dd>
									</div>
									<div class="lease-deals__price">
										<dt class="lease-deals__term">{{ deal.columns.price.label }}</dt>
										<dd class="lease-deals__detail">{{ deal.columns.price.value }}</dd>
									</div>
									<div class="lease-deals__duration">
										<dt class="lease-deals__term">{{ deal.columns.months.label }}</dt>
										<dd class="lease-deals__detail">{{ deal.columns.months.value }}</dd>
									</div>
									<div class="lease-deals__km">
										<dt class="lease-deals__term">{{ deal.columns.kilometers.label }}</dt>
										<dd class="lease-deals__detail">{{ deal.columns.kilometers.value }}</dd>
									</div>
									{% if( deal.columns.usps ) %}
										{% if(deal.columns.usps.value) %}
											<div class="lease-deals__pros-cons">
												<dt class="lease-deals__term">{{ deal.columns.usps.label }}</dt>
												{% for usp in deal.columns.usps.value %}
													<dd class="lease-deals__detail lease-deals__detail--icon lease-deals__detail--{{ usp.type }}">{{ usp.text }}</dd>
												{% endfor %}
											</div>
										{% endif %}
									{% endif %}

									{% set lease_deal_url = quote_link %}
									{% if( 'https' in deal.columns.button.value ) %}
										{% set lease_deal_url = deal.columns.button.value %}
									{% else %}
										{% if 'priv' in deal.columns.lease_type.value %}
											{% set lease_deal_url = quote_link ~ '&type=private' ~ '&deal_id=' ~ deal.raw_deal_data.deal_id %}
										{% else %}
											{% set lease_deal_url = quote_link ~ '&type=business' ~ '&deal_id=' ~ deal.raw_deal_data.deal_id %}
										{% endif %}
									{% endif %}

									<div class="lease-deals__action">
										<a class="button button__primary button__large" href="{{ lease_deal_url }}">{{ deal.columns.button.label }}</a>
									</div>
								</dl>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}

		</div>
	</div>
</section>
