{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--electrische_merken' %}

{# settings #}
{% if section.settings.background_color == 'dark-bg' %}
    {% set background_color = 'section--background_dark' %}
{% endif %}

{% if section.settings.background_color == 'white-bg' %}
    {% set background_color = 'section--background_white' %}
{% endif %}

{% if section.settings.background_color == 'light-bg' %}
    {% set background_color = 'section--background_light' %}
{% endif %}

{% if section.settings.background_color == 'custom-bg' %}
    {% set background_color = 'section--background_custom' %}
    {% set color_c = 'style="background-color:' ~ section.settings.select_custom_color ~ ';"' %}
{% endif %}

<section class="{{ cssClass|trim }} {{ background_color }}" {{color_c}}>
	<div class="section__container">
		<div class="column__title w-100 column__title_underline text_align--center">

		    {% if section.heading_group.heading_first %}
		        {{section.heading_group.heading_first}} 
		    {% endif %}

		    {% if section.heading_group.underline_heading %}
		        <span>
		            {{section.heading_group.underline_heading}}
		            
		            <svg width="271" height="22" viewBox="0 0 271 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 19C52.4232 7.87268 175.516 -8.50674 268.5 14.9942" stroke="#04BC83" stroke-width="5" stroke-linecap="round"/></svg>
		        </span>
		    {% endif %}

		    {% if section.heading_group.heading_second %}
		        {{section.heading_group.heading_second}}
		    {% endif %}
		</div>
		<div class="column__content w-100">
			<div class="merken_icons__wrap text_align--center">
				{% for merken in section.merkens %}			
					<div class="single_merken">							
						<a href="/merken/{{merken.slug}}" class="merken__link media__{{merken.term_id}}">
							<div>
								<span class="img__wrap">
									<img src="{{merken.icons_for_elektrische_merken_module.icon_image.url}}" alt="{{merken.icons_for_elektrische_merken_module.icon_image.alt}}" class="img_normal">

									<img src="{{merken.icons_for_elektrische_merken_module.icon_image_hover.url}}" alt="{{merken.icons_for_elektrische_merken_module.icon_image_hover.alt}}" class="img_hover">
								</span>
								<span class="merken__name">{{merken.name}}</span>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

			<div class="merken--layout_btn text_align--center">
                <a href="/merken/" class="button button__primary button__arrow">
                    <span>Alle merken</span>
                </a>
            </div>
		</div>
</div>
</section>
