{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--faq' %}

<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }}" itemscope itemtype="https://schema.org/FAQPage">
    <div class="section__container">
        <div class="column__container">
            <div class="column__item column__title">
                {% if section.heading_faq %}
                    {{section.heading_faq}}
                {% endif %}
            </div>
            <div class="column__item column__item--text">
                {% if section.description %}
                    {{section.description}}
                {% endif %}

                {% if section.faqs %}
                    <ul class="list list--faq">
                        {% for faq in section.faqs %}
                            <li class="list__item">
                                {% include 'components/faq.twig' with {
                                    'faq': faq,
                                    'cssClass': '',
                                } %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p><em>{{ __('Geen items gevonden.') }}</em></p>
                {% endif %}
            </div>
        </div>
    </div>
</section>