{%- import 'macros/picture.twig' as picture -%}

{% set id = id|default(0) %}
{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--filter' %}


<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }}" data-blog data-site={{ site.link }} data-pagination="1" data-limit="15">
    <div class="section__container team__container" style="display: flex;">

    	{% for category in categories %}
		    <h1>{{category.name}}</h1>

		    <div class="c-vehicle--list">
                {% for post in category.posts %}
                    <div class="c-vehicle--list__item">

                            <a href="{{ site.url }}/vehicles/{{ post.slug }}" title="{{ post.title }}">
                                <img src="{{TimberImage(post.vehicle_image).src('postMedium')}}" alt="{{ post.title }}">
                                <span>{{ post.title }}</span>
                                <span>{{ post.terms('vehicle_category') | join(', ') }}</span>
                            </a>

                    </div>
                {% endfor %}
		    </div>
		{% endfor %}

        {% if categories %}
            <div class="category">
                <h3 class="category__title">{{ __('Kies een onderwerp') }}</h3>
                <button class="category__item is-active" data-blog-button data-action="more_posts">
                    {{ __('Alle') }}
                </button>
                {% for category in categories %} 
                    {% if category.id != 1 %}
                        <button class="category__item" data-blog-button data-action="more_posts" data-cat="{{ category.id }}">{{ category.title }}</button>       
                        {# <a href="{{ site.url }}?s=&amp;tag={{ category.name }}" class="category__item">{{ category.title }}</a> #}
                    {% endif %}   
                {% endfor %}
            </div>
        {% endif %}
            
        <div data-blog-section>
            {% if posts %}
                <ul class="list list--blog">
                    {% for post in posts %}
                        <li class="list__item{% if loop.first %} list__item--featured{% endif %}">
                            {% include 'components/teaser-blog.twig' with {
                                'post': post,
                                'cssClass': loop.first ? 'teaser-blog--featured' : '' ,
                            } %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><em>{{ __('Geen items gevonden.') }}</em></p>
            {% endif %}
    
            {% include 'partials/pagination.twig' with {
                'pagination': posts.pagination
            } %}
        </div>
      
    </div>
</section>