{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--how_it_works' %}

{# settings #}
{% if section.settings.background_color == 'dark-bg' %}
    {% set background_color = 'section--background_dark' %}
{% endif %}

{% if section.settings.background_color == 'white-bg' %}
    {% set background_color = 'section--background_white' %}
{% endif %}

{% if section.settings.background_color == 'light-bg' %}
    {% set background_color = 'section--background_light' %}
{% endif %}

{% if section.settings.background_color == 'custom-bg' %}
    {% set background_color = 'section--background_custom' %}
    {% set color_c = 'style="background-color:' ~ section.settings.select_custom_color ~ ';"' %}
{% endif %}

<section class="{{ cssClass|trim }} {{ background_color }}" {{color_c}}>
	<div class="section__container">
		<div class="column__title w-100 column__title_underline text_align--center">

		    {% if section.heading_how_it_works %}
		        {{section.heading_how_it_works}} 
		    {% endif %}

		</div>
		<div class="column__content w-100">
			<div class="how_it_works_steps">
				{% if section.heading_how_it_works %}
					{% for step in section.how_it_works_steps %}
						<div class="single_step">
							<div class="icon_img">
								<img src="{{ step.icon_image.url }}" alt="{{ step.icon_image.alt }}">
							</div>
							<div class="content_steps">
								<h3>{{ step.step_heading }}</h3>
								<p>{{ step.step_content }}</p>
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
</div>
</section>
