{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--imageheader' %}

<section class="{{ cssClass|trim }}" style="background-image: url('{{section.background_image.url}}');">
	<div class="section__container">
		{% if section.description %}
            <div class="imageheader__description">
                {{ section.description }}

	            {# {% if section.button_url %} #}
	                <a href="{{section.button_url_intern}}" class="button {{ section.button_style }} button__arrow">
	                    <span>{{ section.button_text }}</span>
	                    <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg>
	                </a>
	            {# {% endif %} #}

            </div>

        {% endif %}

	</div>
</section>