{%- import 'macros/picture.twig' as picture -%}

{% set id = id|default(0) %}
{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index' %}


<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }}">
    <div class="section__container">
    	

    	{% if section.content %}
    		<aside class="index--summary">

    			{{ section.description }}

				<div class="sticky">
					{% for item in section.content %}
						<a href="#index-{{ loop.index }}" rel="nofollow">
			        		{{ item.title }}
			        	</a>
					{% endfor %}
				</div>
			</aside>
		{% endif %}

		{% if section.content %}
	    	<div class="index--content">

	    		{% for item in section.content %}
		        	<div class="index--container" id="index-{{ loop.index }}">
		        		{{ item.content }}
		        	</div>

				{% endfor %}

	    	</div>
		{% endif %}
       
    </div>
</section>
