{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--info_blocks' %}

{# settings #}
{% if section.settings.background_color == 'dark-bg' %}
    {% set background_color = 'section--background_dark' %}
{% endif %}

{% if section.settings.background_color == 'white-bg' %}
    {% set background_color = 'section--background_white' %}
{% endif %}

{% if section.settings.background_color == 'light-bg' %}
    {% set background_color = 'section--background_light' %}
{% endif %}

{% if section.settings.background_color == 'custom-bg' %}
    {% set background_color = 'section--background_custom' %}
    {% set color_c = 'style="background-color:' ~ section.settings.select_custom_color ~ ';"' %}
{% endif %}

<section class="{{ cssClass|trim }} {{ background_color }}" {{color_c}}>
    <div class="wrapper">

        <!-- Info Blocks -->
        <div class="column__container">
            {% for block in section.info_block_inner %}
                <div class="column__item column__item--block">
                    <div class="column__block">
                        <p>{{block.title_block}}</p>
                        <strong class="numbers">{{block.number_block|number_format}}</strong>
                        <p>{{block.info_block}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Content -->
        <div class="column__item--text">
            <div class="column__text">
                <div class="column__title column__title_underline">
                    {% if section.heading_info_blocks %}
                    {{section.heading_info_blocks}}
                    {% endif %}
                </div>
                <div class="content__wrap">
                    <p>{{section.content_info_blocks}}</p>
                </div>
            </div>
        </div>
    </div>
</section>