{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--landingspage-top' %}

{# Options #}
{% if section.settings.no_margin_top %}
    {% set no_margin_top = 'no_margin_top' %}
{% endif %}

{% if section.settings.no_margin_bottom %}
    {% set no_margin_bottom = 'no_margin_bottom' %}
{% endif %}

{% if section.settings.background_color %}
    {% set background = 'section--background' %}
{% endif %}

{% if section.settings.shear %}
    {% set background = 'section--background section--background_shear' %}
{% endif %}


<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }} {{no_margin_top}} {{no_margin_bottom}} {{background}}">
    <div class="wrapper {{wrapperSize}}">
        <div data-modellen-section>
            {% if section.landingpage_models %}
                <ul class="list model__list">
                    {% for model in section.landingpage_models %}
                        <li class="model__item">
                            {% include 'components/teaser-card-count.twig' with {
                                'post': models
                            } %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p><em>{{ __('Geen items gevonden.') }}</em></p>
            {% endif %}

            {# {{dump(models)}} #}
        </div>
    </div>
</section>
