{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--leasen_vs_kopen' %}

{# settings #}
{% if section.settings.background_color == 'dark-bg' %}
    {% set background_color = 'section--background_dark' %}
{% endif %}

{% if section.settings.background_color == 'white-bg' %}
    {% set background_color = 'section--background_white' %}
{% endif %}

{% if section.settings.background_color == 'light-bg' %}
    {% set background_color = 'section--background_light' %}
{% endif %}

{% if section.settings.background_color == 'custom-bg' %}
    {% set background_color = 'section--background_custom' %}
    {% set color_c = 'style="background-color:' ~ section.settings.select_custom_color ~ ';"' %}
{% endif %}

<section class="{{ cssClass|trim }} {{ background_color }}" {{color_c}}>
	<div class="section__container">
		<div class="column__title w-100 column__title_underline text_align--center">

		    {% if section.heading_group.heading_first %}
		        {{section.heading_group.heading_first}} 
		    {% endif %}

		    {% if section.heading_group.underline_heading %}
		        <span>
		            {{section.heading_group.underline_heading}}
		            
		            <svg width="271" height="22" viewBox="0 0 271 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 19C52.4232 7.87268 175.516 -8.50674 268.5 14.9942" stroke="#04BC83" stroke-width="5" stroke-linecap="round"/></svg>
		        </span>
		    {% endif %}

		    {% if section.heading_group.heading_second %}
		        {{section.heading_group.heading_second}}
		    {% endif %}
		</div>
		<div class="column__content w-100">
			<table>
				<thead>
					<tr>
						<th></th>
						<th>Leasen</th>
						<th>Kopen</th>
					</tr>
				</thead>
				<tbody>
				{% for table in section.leasen_vs_kopen_table %}
					<tr>
						<td>{{table.column_1_text}}</td>
						<td>
							{% if table.column_2_leasen == 'check' %}
								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.1899 0.80835C7.35614 0.80835 0.998291 7.1662 0.998291 15C0.998291 22.8338 7.35614 29.1916 15.1899 29.1916C23.0237 29.1916 29.3815 22.8338 29.3815 15C29.3815 7.1662 23.0237 0.80835 15.1899 0.80835ZM11.344 21.0882L6.24919 15.9934C5.69572 15.4399 5.69572 14.5458 6.24919 13.9924C6.80267 13.4389 7.69674 13.4389 8.25021 13.9924L12.3516 18.0796L22.1154 8.31572C22.6689 7.76225 23.563 7.76225 24.1165 8.31572C24.6699 8.86919 24.6699 9.76327 24.1165 10.3167L13.345 21.0882C12.8057 21.6417 11.8975 21.6417 11.344 21.0882Z" fill="#2D2D2F" style="fill: #ffffff;"></path>
								</svg>

							{% elseif table.column_2_leasen == 'cross' %}
								<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.1899 0.616699C7.34195 0.616699 0.998291 6.96035 0.998291 14.8083C0.998291 22.6563 7.34195 28.9999 15.1899 28.9999C23.0379 28.9999 29.3815 22.6563 29.3815 14.8083C29.3815 6.96035 23.0379 0.616699 15.1899 0.616699ZM22.2857 19.9031L20.2847 21.9041L15.1899 16.8093L10.0951 21.9041L8.0941 19.9031L13.1889 14.8083L8.0941 9.71353L10.0951 7.71251L15.1899 12.8073L20.2847 7.71251L22.2857 9.71353L17.1909 14.8083L22.2857 19.9031Z" fill="#eeeeee"/>
								</svg>

							{% endif %}
						</td>

						<td>
							{% if table.column_3_kopen == 'cross' %}
								<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.1899 0.616699C7.34195 0.616699 0.998291 6.96035 0.998291 14.8083C0.998291 22.6563 7.34195 28.9999 15.1899 28.9999C23.0379 28.9999 29.3815 22.6563 29.3815 14.8083C29.3815 6.96035 23.0379 0.616699 15.1899 0.616699ZM22.2857 19.9031L20.2847 21.9041L15.1899 16.8093L10.0951 21.9041L8.0941 19.9031L13.1889 14.8083L8.0941 9.71353L10.0951 7.71251L15.1899 12.8073L20.2847 7.71251L22.2857 9.71353L17.1909 14.8083L22.2857 19.9031Z" fill="#B5B5B5"/>
								</svg>

							{% elseif table.column_3_kopen == 'check' %}

								<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.1899 0.80835C7.35614 0.80835 0.998291 7.1662 0.998291 15C0.998291 22.8338 7.35614 29.1916 15.1899 29.1916C23.0237 29.1916 29.3815 22.8338 29.3815 15C29.3815 7.1662 23.0237 0.80835 15.1899 0.80835ZM11.344 21.0882L6.24919 15.9934C5.69572 15.4399 5.69572 14.5458 6.24919 13.9924C6.80267 13.4389 7.69674 13.4389 8.25021 13.9924L12.3516 18.0796L22.1154 8.31572C22.6689 7.76225 23.563 7.76225 24.1165 8.31572C24.6699 8.86919 24.6699 9.76327 24.1165 10.3167L13.345 21.0882C12.8057 21.6417 11.8975 21.6417 11.344 21.0882Z" fill="#2D2D2F"/>
								</svg>
							{% endif %}
						</td>
					</tr>

				{% endfor %}
					
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
</div>
</section>
