{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--over_ons_bedrijf' %}

{# settings #}
{% if section.settings.background_color == 'dark-bg' %}
    {% set background_color = 'section--background_dark' %}
{% endif %}

{% if section.settings.background_color == 'white-bg' %}
    {% set background_color = 'section--background_white' %}
{% endif %}

{% if section.settings.background_color == 'light-bg' %}
    {% set background_color = 'section--background_light' %}
{% endif %}

{% if section.settings.background_color == 'custom-bg' %}
    {% set background_color = 'section--background_custom' %}
    {% set color_c = 'style="background-color:' ~ section.settings.select_custom_color ~ ';"' %}
{% endif %}

<section class="{{ cssClass|trim }} {{ background_color }}" {{color_c}}>
<div class="wrapper">
	<div class="column__container">
		<div class="column__item column__item--text">
			<div class="column__text">
				<div class="column__title column__title_underline">

				    {% if section.heading_group.heading_first %}
				        <span class="d-block">{{section.heading_group.heading_first}} </span>
				    {% endif %}

				    {% if section.heading_group.underline_heading %}
				        <span>
				            {{section.heading_group.underline_heading}}
				            
				            <svg width="271" height="22" viewBox="0 0 271 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 19C52.4232 7.87268 175.516 -8.50674 268.5 14.9942" stroke="#04BC83" stroke-width="5" stroke-linecap="round"/></svg>
				        </span>
				    {% endif %}

				    {% if section.heading_group.heading_second %}
				        {{section.heading_group.heading_second}}
				    {% endif %}
				</div>
				<div class="content__wrap">
					<p>{{section.content_over_ons}}</p>

					<span class="name">{{section.name_over_ons}} </span>

					{# {% if section.button_over_ons.button_url %} #}
			            <div class="over_ons--layout_btn blog--layout_btn">
			                <a href="{{section.button_over_ons.button_url_intern}}" class="button {{ section.button_over_ons.button_style }} button__arrow">
			                    <span>{{ section.button_over_ons.button_text }}</span>
			                </a>
			            </div>
			        {# {% endif %} #}
				</div>
			</div>
		</div>
		<div class="column__item column__item--image">
			{% if section.image_over_ons %} 
				<img src="{{section.image_over_ons.url}}" alt="{{section.image_over_ons.alt}}">
		    {% endif %}
		</div>
	</div>
</div>
</section>
