{% import 'macros/picture.twig' as picture %}

{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--index section--top5' %}

{# settings #}
{% if section.settings.background_color == 'dark-bg' %}
    {% set background_color = 'section--background_dark' %}
{% endif %}

{% if section.settings.background_color == 'white-bg' %}
    {% set background_color = 'section--background_white' %}
{% endif %}

{% if section.settings.background_color == 'light-bg' %}
    {% set background_color = 'section--background_light' %}
{% endif %}

{% if section.settings.background_color == 'custom-bg' %}
    {% set background_color = 'section--background_custom' %}
    {% set color_c = 'style="background-color:' ~ section.settings.select_custom_color ~ ';"' %}
{% endif %}

<section class="{{ cssClass|trim }} {{ background_color }}" {{color_c}}>
	<div class="section__container">

		<div class="column__title column__title_underline w-100 text_align--center">

            {% if section.heading_top_10.heading_first %}
                {{section.heading_top_10.heading_first}} 
            {% endif %}

            {% if section.heading_top_10.underline_heading %}
                <span>
                    {{section.heading_top_10.underline_heading}}
                    
                    <svg width="271" height="22" viewBox="0 0 271 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.5 19C52.4232 7.87268 175.516 -8.50674 268.5 14.9942" stroke="#04BC83" stroke-width="5" stroke-linecap="round"/></svg>
                </span>
            {% endif %}

            {% if section.heading_top_10.heading_second %}
                {{section.heading_top_10.heading_second}}
            {% endif %}

        </div>

		{% if section.top_5 %}
			<ul class="related--cars__list related_carousel--cars__list top__5 blog--posts-slider">
				{% for car in section.top_5 %}
					{% set brand_id = car.terms('brand') %}
					{% include 'components/related-carousel-item-card.twig' with {
						'post': car,
						'count': loop.index,
						'brand_id': car.terms('brand')
					} %}
				{% endfor %}
			</ul>
		{% else %}
			<p><em>{{ __('Geen items gevonden.') }}</em></p>
		{% endif %}
	</div>

	{% if section.button_top_5.button_text %}
		{% if section.button_top_5.button_url_extern %}
			<div class="blog--layout_btn">
				<a href="{{section.button_top_5.button_url_extern['url']}}" target="{{section.button_top_5.button_url_extern['target']}}" class="button {{ section.button_top_5.button_style }} button__arrow">
					<span>{{ section.button_top_5.button_text }}</span>
				</a>
			</div>
		{% else %}
			<div class="blog--layout_btn">
				<a href="{{section.button_top_5.button_url_intern}}" class="button {{ section.button_top_5.button_style }} button__arrow">
					<span>{{ section.button_top_5.button_text }}</span>
				</a>
			</div>
		{% endif %}
	{% endif %}

</section>
