{%- import 'macros/picture.twig' as picture -%}

{% set id = id|default(0) %}
{% set section = section|default(0) %}
{% set isFirst = isFirst|default(0) %}

{% set cssClass = 'section section--data' %}

{# Options #}
{% if section.settings.no_margin_top %}
    {% set no_margin_top = 'no_margin_top' %}
{% endif %}

{% if section.settings.no_margin_bottom %}
    {% set no_margin_bottom = 'no_margin_bottom' %}
{% endif %}

{% if section.settings.green_bottom %}
    {% set green_bottom = 'green_bottom' %}
{% endif %}

<section {% if id %}id="{{ id }}" {% endif %}class="{{ cssClass|trim }} {{no_margin_top}} {{no_margin_bottom}} {{green_bottom}}">
    <div class="wrapper {{section.settings.wrapper_size}}">

        {% if section.services %}
            <div class="flexbox--container">
            
            {% for item in section.services %}
                {% if item.box_shadow %}
                    {% set box_shadow = 'box_shadow' %}
                {% endif %}


                <div class="data--card {{box_shadow}}">
                    <div class="data__bottom">
                        <figure>
                            <img src="{{item.icon['url']}}" alt="{{item.icon['alt']}}" />
                        </figure>

                        {% if item.description %}
                            <div class="description">
                                {{ item.description }}
                            </div>
                        {% endif %}

                        {% if item.button_url %}
                            <a href="{{item.button_url}}" class="button {{ item.button_style }} button__arrow">
                                <span>{{ item.button_text }}</span>
                                <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg>
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            </div>
        {% endif %}
    </div>
</section>