//Banner Home
.home{
	header:not(.scroll), .header:not(.scroll){
		background: transparent;
	    box-shadow: none;
	}
	.site__main{
		margin-top:0;
	}
}

.section--banner_home{
	background-size: 80%;
    background-repeat: no-repeat;
    background-position: 100% 75%;
    padding: 6.5rem 0 0;
    background-color:$c-lightblue;
    position: relative;

    @include screen($screen-normal) {
    	padding: 9rem 0 0;
    }

    &:after{
    	content: "";
	    height: 100%;
	    width: 100%;
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: #ffffff5e;
    }
    & > .column__container{
        padding-left: calc(max(0px, (100% - 1280px) / 2));
    }
	.column__container{
		margin:0;
		z-index: 1;
    	position: relative;
		
		.content__item{
		    z-index: 1;
		    padding-inline:1rem;
		    text-align:center;

			h1, span {
			    font-size: 1.5rem;
			    font-family: "Montserrat", sans-serif;
			    line-height: 1.5;
			    font-weight: 700;
			}

			span{
				position:relative;
				
				svg{
					position: absolute;
					bottom: -17px;
					right: 0;
					left: 0;
				    margin: auto;
				    max-width:100%;
				}
			}

			.lease_form_inner{
				background: $c-white;
				box-shadow: 0px 1px 3px rgba(9, 32, 47, 0.1), 0px 1px 2px rgba(9, 32, 47, 0.05);
				border-radius: 12px;
				padding: 1rem;
				margin-top: 2.5rem;
				width:510px;
				max-width:100%;
			    margin-inline: auto;

			     @include screen($screen-normal) {
			    	margin-top: 4rem;
			    }

				.tab {
				    overflow: hidden;
				    display: flex;

				    button {
					    background-color: transparent;
					    outline: none;
					    cursor: pointer;
					    padding: 14px 15px;
					    transition: 0.3s;
					    font-size: 12px;
					    width: 50%;
					    color: $c-grey--medium;
					    border: none;
					    border-bottom: 2px solid $c-grey--light;
					    border-radius: 0;

					    &.active, &:hover{
					    	color:$c-darkblue;
					    	border-bottom-color:$c-darkblue;
					    }
					}
				}
				.tabcontent {
					display: none;
				}

				.lease_form{
					display: flex;
					flex-wrap: wrap;
				    padding-top: 1rem;
				    position:relative;
					
					.column__item {
					    padding: 0 0.5rem;
					    margin: 0;
					    flex: 1 0 50%;
					    max-width: 50%;
					    min-width: 50%;
				    }
					.left_side{
						padding-left:0;
					}
					.right_side{
						padding-right:0;
					}
					select{
						margin-bottom:1.1rem;
						height: 42px;
						font-size:0.85rem;

						@include screen($screen-simple) {
							margin-bottom:1.5rem;
							height: 48px;
							font-size:1rem;
						}

						&.required{
							border-color:red;
						}
					}
					.submit_btn{
					    height: 55px;
					    font-size:0.9rem;

					    @include screen($screen-simple) {
					    	height: 68px;
					    	font-size:1rem;
					    }
					}
					.error_out{
						position: absolute;
						left: 0;
						right: 0;
						text-align: center;
						bottom: -31px;
						background: red;
						color: $c-white;
						display: inline-block;
						border-radius: 25px;
						font-size: 12px;
						font-weight: 600
					}
				}
			}
		}
		.img__item{
			padding-right: 0;
		}
	}

	.usps__container{
		z-index: 1;
	    position: relative;
        margin: 2rem auto 0px;
	    
	    .usps--inline{
	        margin-bottom:-5.2rem;

	        @include screen($screen-simple) {
				margin-bottom:-1.6rem;	        
	        }

    		.usps__list{
		        flex-wrap: wrap;
	    		row-gap: 15px;
    		}
	    }
	    
	    li{
	        background: #FFFFFF;
		    box-shadow: 0px 1px 3px rgba(9, 32, 47, 0.1), 0px 1px 2px rgba(9, 32, 47, 0.05);
		    border-radius: 12px;
		    margin: 0;
	        padding: 0.5rem 1rem !important;
    		width: 100%;
		    display: flex;
		    align-items:center;

		    @include screen($screen-normal) {
		    	padding: 0.7rem 1rem !important;
		    }

		    svg{
		    	flex: 0 0 25px;
		    	
		    	@include screen($screen-simple) {
	    	    	flex: 0 0 30px;
    	    	}
		    }
	    }
	}
}

@include screen-height(650px, 950px) {
	.section--banner_home {	    
	    .column__container{
	    	.content__item{
	    		h1, span{
    			    font-size: 2.8rem;
			        line-height: 1.3;
	    		}
	    		h1{
	    			padding-right: 6rem;
	    		}

	    		.lease_form_inner{ 
	    			
	    			.lease_form {
	    			    padding-top: 0;

	    			    .column__item{
	    			        margin: 1rem 0 0;
	    			    }
	    				select{
	    				    margin-bottom: 1.2rem;
	    				}
		    			.submit_btn {
				    	    margin-bottom: 0;
			    	    }
		    	    }
			    }
    		}
		}
	}
}

@include screen-height(750px, 950px) {
	.section--banner_home {	    
	    .column__container{
	    	.content__item{
	    		.lease_form_inner{ 
    			    margin-top: 3rem;
	    			
	    			.lease_form {
		    			.submit_btn {
					    	height: 60px;
			    	    }
		    	    }
			    }
	    	}
	    }

	    .usps__container{
	    	margin-top:1rem;
	    }
	}
}

@include screen-height(650px, 750px) {
	.section--banner_home{
	    padding: 8rem 0 0;
		
		.column__container{
			.content__item{
			    margin-bottom: 1.5rem;
				
				h1, span{
				    font-size: 2.7rem;
				}
				.lease_form_inner{
				    padding-top: 0.5rem;
			        margin-top: 2.4rem;

				    .lease_form{
				    	select {
			    		    margin-bottom: 1rem;
		    		        height: 45px;
				    	}
				    	.submit_btn {
	    					height: 50px;
						}
				    } 
				}
			} 
		}

		.usps__container {
		    margin-top: 0.5rem;
		}
	}
}

@include screen($screen-simple){
	.section--banner_home {
		background-size: 397px;
		background-position: 102% 45%;
		
		.column__container {
			.content__item, .img__item {
				flex: 1 0 50%;
				max-width: 50%;
				min-width: 50%;
			}
			.img__item {
			    align-self: end;
			}
			.content__item{
				h1, span {
					font-size: 1.83rem;
			    }
			    .lease_form_inner{
				    .lease_form .column__item{
				    	padding: 0 0.7rem;
				    	margin: 1rem 0;
				    }
				    .tab button{
				    	font-size:14px;
			    	}
			    }
		    }

		}
		.usps__container{
		   
		    .usps--inline{
		    	.usps__list{
			        flex-wrap: nowrap;
		    		row-gap: 0;
	    		}
		    }
		    
		    li{
			    padding: 0.7rem 2rem;
			    margin-right: 1rem;
		    }
		}
	}
}

@include screen($screen-snormal) {
	.section--banner_home {
		.column__container {
			.content__item{
				h1, span {
					font-size: 2rem;
			    }
		    }
		}
	}
}

@include screen($screen-normal) {
	.section--banner_home {
		.column__container {
			.content__item{
				h1, span {
					font-size: 2.5rem;
			    }
			    h1{
			    	padding-right: 0rem;
			    }
		    }
		}
	}
}

@include screen-max($screen-normal) {
	.section--banner_home {
		.column__container {
			.content__item{
			    h1{
			    	padding-right: 0rem;
			    }
		    }
		}
	}
}

@include screen($screen-large) {
	.section--banner_home {
		.column__container { 
			.content__item {
				flex: 1 0 55% !important;
				max-width: 55%;
				min-width: 55%;
				text-align: center;
				
				h1, span {
			    	font-size: 2.5rem;
			    }	
		    }
		    .img__item{
				position: absolute;
			    right: 0;
			    flex: 1 0 54%;
			    max-width: 54%;
			    min-width: 54%;
			    display: flex;
			    align-items: end;
			    height: 100%;
			    text-align: right;
			    justify-content: right;
			    img{
			    	max-height:100%;
					width:auto;
			    }
			}
	    }
    }
}

@include screen($screen-xlarge) {
	.section--banner_home {
	    background-size: 35%;
		
		.column__container { 
			.content__item {
				h1, span {
					font-size: 2.5rem;
			    }
		    }
	    }
    }
}

@include screen($screen-jumbo) {
	.section--banner_home {
	    background-size: 680px;
    	background-position: 100% 10%;

    	.column__container {
	    	.content__item{
	    	    padding-right: 8%;
	    	}
	    	.img__item{
	    	    padding-top: 1%;
	    	}
    	}
    }
}

@include screen($screen-simple){
	.section--banner_home {
		.column__container {
			.content__item{
				text-align: left;

				.lease_form_inner{
					margin-inline: 0;
				}
			}
		}
	}
}

@include screen-max($screen-simple) {
	.section--banner_home {
		.column__container {
			.content__item{
			    h1, span{
			    	font-size: 2rem;
			    }
		    }
		}
	}
}

@include screen-max($screen-minimal) {
	.section--banner_home {
		.column__container {
			.content__item{
			    h1, span{
			    	font-size: 1.5rem;
			    }
		    }
		}
	}
}