@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';


.banner {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 300px;
    overflow: hidden;
    position: relative;

    .wrapper {
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        max-width: 1280px;
    }

    &:before {
        content: '';
        background: $c-white;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
        background: -moz-linear-gradient(left, rgba(255,255,255,0.75) 60%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.75) 60%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255, 255, 255, 0.75) 60%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    
        @include screen($screen-normal) {
           width: 50%;
        }
    }

    picture {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
    }

    .section__container {
        z-index: 3;
    }

    .description {
        h1 {
            @include style-heading-2;
        }
    }

    &--boxed {
        @include container;
    }


    
    @include screen($screen-simple) {
        height: 400px;
    }

    @include screen($screen-normal) {
        .description {
            max-width: 48%;
        }
    }
}

.section--overlay {
    position: relative;
    margin-bottom: 5rem;

    .section__container {
        position: relative;
    }

    .overlay {
        position: relative;
        width: 100%;
        color: $c-white;
        align-self: flex-end;
        z-index: 3;
        padding: 0;


        @include screen($screen-normal) {
            max-width: 48%;
            position: absolute;
            bottom: -2rem;
            right: 0;
        }

        &:before {
            content: '';
            background: $c-grey;
            width: calc(100% - 25px);
            display: block;
            top: -25px;
            height: 25px;
            right: 0;
            position: absolute;

            @include screen($screen-normal) {
                width: calc(100% - 53px);
                top: -53px;
                height: 53px;
            }
        }

        > svg {
            position: absolute;
            top: -25px;
            left: 0;

            @include screen($screen-normal) {
                top: -53px;
            }
        }

        &__inner {
            background: $c-grey;
            padding: 0 1.5rem 1.5rem 1.5rem;
           
            @include screen($screen-normal) {
                padding: 0 0 2rem 4rem;
            }

            strong {
                display: block;
                @include style-heading-3;
                margin-bottom: 1rem;
            }
        }
    }
}