.column__title_underline{
	span{
	    font-family: "Montserrat", sans-serif;
		position:relative;
		
		svg{
			position: absolute;
			bottom: -17px;
			right: 0;
			left: 0;
		    margin: auto;
		    max-width:100%;
		}
	}
}

.section--blog_layout{
	
	.column__title{
		width: 100%;
		text-align: center;
		margin-bottom: 1.5rem;

		@include screen($screen-simple) {
			margin-bottom: 2.7rem;
		}
	}
}

.blog--posts-slider{
	.slick-slide > div{
		padding: 0 0.7rem;

		@include screen($screen-normal) {
			padding: 0 1.2rem;
		}
	}
	.news--card{
		background: $c-white;
		border: 1px solid $c-grey--light;
		border-radius: 8px;
		overflow: hidden;

		.news--card__thumb{
			margin-bottom:0;
			
			picture{
				height: 220px;
				display: block;
				overflow:hidden;
			}
			img{
			    height: 100%;
				object-fit: cover;
			    transition-duration: 0.3s;
			}
		}

		.news--card__title{
		    margin-bottom: 0.3rem;
	        line-height: 1.2;

			a{
				color: $c-darkblue;
			    line-height: normal;
			    font-size: 1.2rem;
			    /*overflow: hidden;
			    display: -webkit-box;
			    -webkit-line-clamp: 2;
			    line-clamp: 2; 
			    -webkit-box-orient: vertical;*/

			    @include screen($screen-normal) {
			    	font-size: 1.5rem;
				}
			}
		}

		.news--card__date{
			color: $c-grey--dark;
		    margin-bottom: 1.3rem;
		    width: 100%;
		}

		.news--card__bottom{
		    padding: 1rem 1rem 0.5rem;
		    height: calc(100% - 220px);
		    display: flex;
		    flex-wrap: wrap;
		    justify-content: start;

		    a.button{
		        align-self: end;
		    }
		}

		&:hover{
			img{
		    	transform: scale(1.05);
		    }
		}
	}

	.slick-arrow {
	    width: 35px;
	    height: 35px;
	    background: $c-white;
	    border: 2px solid $c-grey--light;
	    border-radius: 50%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    filter: drop-shadow(0px 4px 10px rgba(22, 18, 49, 0.15));

	    @include screen($screen-normal) {
			width: 48px;
	    	height: 48px;
		}

	    &:before{
		    background-image: url(./../images/arrow-green.svg);
		    background-repeat: no-repeat;
		    background-position: center;
	        filter: grayscale(1);
	    }
	    &:hover, &:focus{
	    	background: $c-white;
	    	border-color:$c-darkgreen;
	    	
	    	&:before{
	    		filter: grayscale(0);
	    	}
	    }
	}

	.slick-prev{
		left:0;
	}
	.slick-next{
		right:0;
	}

}

.blog--layout_btn{
	text-align: center;
	width: 100%;
	margin-top: 2.5rem;

	@include screen($screen-simple) {
		margin-top: 4rem;
	}


	a.button {
		padding: 0.5rem 2rem;
		
		@include screen($screen-simple) {
	    	padding: 1rem 2rem;
	    }
	}
}