@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';


.section--blog {


    &.green_bottom {
        &:after {
            top: 25%;
            height: 25%;
        }
    }

    .blog--filter {
        display: block;
        width: 100%;
        padding: 1rem 0;

        span {
            margin-right: 0.5rem;
        }

        button {
            border-radius: 15px;
            font-size: 0.75rem;
            padding: 0.75rem 1.25rem;

        	&.is-active {
        		text-decoration: none;
		        color: $c-white;
		        background: $c-darkgreen;

		        a, span {
		            text-decoration: none;
		            color: $c-white;
		        }
        	}
        }

    }
}

[data-blog-section] {
	width: 100%;
}