@import "../config/sizes";
@import "../mixins/screen";
@import "../mixins/typography";

.page-template-default,
.page-template-page-brands-php,
.page-template-page-quote-php,
.page-template-reviews-page,
.single-models {
  background-color: $c-lightblue;
}

.brands {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__first {
    font-family: "Montserrat", sans-serif;
    color: $c-darkgreen;
  }

  &__holder {
    flex: 1 0 100%;
    margin-bottom: 1rem;

    @include screen($screen-minimal) {
      flex: 1 0 50%;
    }

    @include screen($screen-simple) {
      flex: 1 0 33%;
    }

    @include screen($screen-normal) {
      flex: 1 0 20%;
    }
  }

  &__list {
    a {
      color: $c-darkblue;

      &:hover {
        cursor: pointer;
        color: $c-darkgreen;
        text-decoration: underline;
      }
    }
  }
}

.brands__container {
  display: flex;
  flex-flow: row wrap;
  margin-right: -20px;

  @include screen($screen-normal) {
    margin-right: -50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.brand {
  display: flex;
  flex: 1 1 348px;
  flex-flow: column nowrap;
  margin-right: 20px;

  @include screen($screen-normal) {
    flex: 1 1 470px;
    margin-right: 50px;
  }

  &__image-container {
    display: flex;
    height: 0;
    width: 100%;
    padding-top: 250px;
    overflow: hidden;
    position: relative;
    border-radius: $border-radius;
    margin-bottom: 20px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__models {
    margin-bottom: 30px;

    @include screen($screen-normal) {
      display: flex;
      flex-flow: row wrap;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 15px;
      margin-bottom: 50px;
    }
  }

  .brand-model {
    @include screen($screen-normal) {
      flex: 0 1 225px;
      height: 65px;
    }

    @include screen($screen-large) {
      flex: 0 1 186px;
    }

    &__name {
      margin-bottom: 0;
      @include screen($screen-normal) {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        line-height: 1.3;
      }
    }

    + .brand-model {
      margin-top: 15px;
      @include screen($screen-normal) {
        margin-top: 0;
      }
    }
  }
}
