@import '../mixins/container';
@import '../mixins/sr-only';
@import '../mixins/svg';

.breadcrumbs {
	padding: 0.5rem 0 0;
	
	&__container {
		@include container;
		margin: 1rem auto;
	}

	&__item {
		color: white;
		position: absolute;
		z-index: 1;
	}

	&__home {
		height: 15px;
		width: 15px;

		span:not([class]) {
			@include sr-only;
		}
	}

	&__chevron {
		@include svg('arrow-right', $c-darkgreen);
		height: 8px;
		margin: 0 0.5rem;
		width: 8px;
	}

	&__icon {
		@include svg('home', $c-darkgreen);
		height: 16px;
		margin: 0 .4rem;
		width: 16px;
	}

	a,
	span {
		color: $c-grey--darker;
		font-size: 0.8125rem;
	}

	a {
		border-bottom: none;
		font-weight: 700;
		
		&:hover {
			border-bottom: none;
			color: $c-darkgreen;
		}
	}

	.article & {
		margin-bottom: $p-gutter;
	}

	@include screen($screen-normal) {
		padding: 0.5rem 0;
		
		a,
		span {
			font-size: 0.875rem;
		}
	}
}