@import '../config/colors';
@import '../mixins/sr-only';

.carousel {
	position: relative;
	width: 100%;

	&:hover {
		.carousel__arrows {
			visibility: visible;
		}
	}

	&__wrapper {

		&.slick-slider {
			display: block;
			white-space: normal;

			.slick-slide {
				margin: 0 10px;
			}

			.slick-list {
				margin: 0 -10px;
				padding: 1rem 0;
			}

			.slick-track {
				display: flex;

				.slick-slide {
					display: flex;
					height: auto;
					justify-content: center;

					> div {
						width: 100%;
					}
				}
			}

			.carousel__item {
				flex: none;
			}
		}
	}

	&__slide {
		flex: 1 0 100%;
		max-height: 320px;
		overflow: hidden;
		position: relative;
		width: 100%;

		&:focus {
			outline: none;
		}

		picture,
		img {
			width: 100%;
		}
	}

	&__arrows {
		visibility: hidden;

		&.slick-disabled {
			opacity: 0;
			pointer-events: none;
		}
	}

	&__arrow {
		background: transparentize($c-white, .25);
		height: 30px;
		outline: 0;
		position: absolute;
		top: 50%;
		width: 30px;
		z-index: 2;

		&--prev {
			left: 0;
			transform: translateY(-50%);
		}

		&--next {
			right: 0;
			transform: translateY(-50%);
		}

		&:hover {
			background: transparentize($c-white, .15);

			.carousel__arrow-icon {
				&::before,
				&::after {
					background: $c-black;
				}
			}
		}
	}

	&__arrow-text {
		@include sr-only;
	}

	&__arrow-icon {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;

		&::before,
		&::after {
			background: transparentize($c-black, .15);
			content: '';
			display: block;
			height: 8px;
			width: 2px;
		}

		&::before {
			margin-bottom: -2px;
		}

		&::after {
			margin-top: -2px;
		}

		&--prev {
			right: 56%;
			transform: translate(50%, -50%);

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}

		&--next {
			left: 56%;
			transform: translate(-50%, -50%);

			&::before {
				transform: rotate(-45deg);
			}

			&::after {
				transform: rotate(45deg);
			}
		}
	}

	&__dots {
		bottom: 1.6rem;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		z-index: 2;

		li {
			display: inline-block;
			line-height: 1;
			margin: 6px;

			&.slick-active {
				button {
					&::before {
						background: $c-green;
					}
				}
			}

			button {
				content: '';
				font-size: 0;

				&::before {
					background: transparent;
					border: 2px solid $c-white;
					border-radius: 50%;
					content: '';
					display: block;
					height: 14px;
					outline: 0;
					transition: background .25s ease-out, transform 180ms;
					width: 14px;
				}

				&:hover {
					&::before {
						background: $c-green;
					}
				}
			}
		}
	}

	//slick carousel
	.slick-list {
		margin: 0 auto;
		overflow: hidden;
	}

	.slick-track {
		display: flex;
	}
}

.slick-dots li button:before {
	font-size: 12px;
}


.carousel-image {
	&__list {
		position: relative;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			width: 15%;
			height: 100%;
			background: linear-gradient(270deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
			z-index: 1;
			pointer-events: none;
		}

		&::before {
			left: 0;
			transform: scaleX(-1);
		}

		&::after {
			right: 0;
		}
	}

}
