.section--car_types{

	.car_type__slider {
	    display: flex;
		align-items: center;
	    justify-content: center;
	    margin-top: 1rem;

	    @include screen($screen-normal) {
	    	margin-top: 2rem;
		}

	    .slick-slide{
	    	padding:0 8px;

	    	@include screen($screen-simple) {
		    	padding:0 15px;
			}
	    }

	    .single_type{
	    	background: $c-white;
		    border: 1px solid #E0E0E1;
		    border-radius: 8px;
		    min-height: 200px;

		    &, span, a.button{
			    display: flex !important;
			    align-items: center;
			    justify-content: center;
		    }

		    span{
		    	height:60px;
		    
		    	svg{
		    		max-height:100%;
		    	}
		    }
		    a.button{
			    min-height:50px;
			    margin-top:20px;

			    &:not(:hover){
				    background:transparent;
				    color:$c-darkgreen;
			    }
		    }
	    }

	}
}
.slick-initialized{
	.slick-arrow {
	    width: 35px;
	    height: 35px;
	    background: $c-white;
	    border: 2px solid $c-grey--light;
	    border-radius: 50%;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    filter: drop-shadow(0px 4px 10px rgba(22, 18, 49, 0.15));

	    @include screen($screen-normal) {
			width: 48px;
	    	height: 48px;
		}

	    &:before{
		    background-image: url(./../images/arrow-green.svg);
		    background-repeat: no-repeat;
		    background-position: center;
	        filter: grayscale(1);
	    }
	    &:hover, &:focus{
	    	background: $c-white;
	    	border-color:$c-darkgreen;
	    	
	    	&:before{
	    		filter: grayscale(0);
	    	}
	    }
	}
	.slick-prev{
		left:0;
	}
	.slick-next{
		right:0;
	}

	.slick-dots{
	    bottom: -60px;

		li, button, button:before{
			width: 10px;
		    height: 10px;
	    }

		li{
			button:before{
				font-size: 10px !important;
				line-height:12px;
			}
		}
		.slick-active{
		    transform: scale(1.2);
			button:before{
				color:$c-darkgreen;
			}
		}
	} 
}