@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.column {
    &__container {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        align-items: flex-start;
        
        @include screen($screen-normal) {
            margin: 0 -1rem;
        }
    }

    &__picture {
        text-align: right;
    }


    &__item {
        flex: 1 0 100%;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 2rem;

        &--image {
            /*overflow: hidden;*/
        }

        .service {

            &__list {
                list-style: none;
                padding: 1rem 0;
            }

            &__item {
                max-width: 100%;
                position: relative;

                @include screen($screen-normal) {
                    max-width: 50%;
                }

                figure {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 0.5rem;
                }

                span {
                    font-weight: 700;
                }

                a {
                    vertical-align: middle;
                    display: block;
                    text-decoration: none;
                    cursor: pointer;
                    
                    &:hover {
                        cursor: pointer;

                        svg {
                            -webkit-transform: translateX(2px);
                            transform: translateX(2px);
                            
                            path {
                                fill: $c-green;
                            }
                        }
                    }

                    &:hover {
                        /*background: $c-offwhite;*/

                        span {
                            color: $c-green;
                        }
                    }
                }

                svg.icon {
                    display: inline-block;
                    margin-left: 1rem;
                    vertical-align: middle;
                    overflow: visible;
                    height: 0.75rem;
                    transition: -webkit-transform .2s ease-in-out;
                    transition: transform .2s ease-in-out;
                    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
                    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;

                    position: absolute;
                    right: 0;
                    top: 0.95rem;

                }
            }
        }
    }

    &__block {
        padding: 2rem;
        border-radius: 5px;

        &:hover {
            box-shadow: 0 0 10px 0 #0000003d;
        }
        
        &.darkblue {
            background: $c-darkblue;
            color: $c-white;

            h1, h2, h3,
            h4, h5, h6 {
                color: $c-white;
            }
        }

        &.lightblue {
            background: $c-lightblue;
            color: $c-base;

            h1, h2, h3,
            h4, h5, h6 {
                color: $c-base;
            }
        }


        &.transparant {
            background: $c-white;
            color: $c-base;

            h1, h2, h3,
            h4, h5, h6 {
                color: $c-base;
            }
        }


        @include screen($screen-normal) {
            flex: 1 0 50%;
            margin-bottom: 1rem;
        }
        
    }

    &__form {
        position: relative;

        > svg {
            position: absolute;
            top: -53px;
            left: 0;
        }
    }

    &__title {
        @include style-heading-1;
    }

    &__item--image {
        object-fit: cover;

        picture {
            img {
                box-shadow: 0 0 10px 0 #0000003d;
            }
        }
    }

    @include screen($screen-normal) {
        display: flex;

        &__item {
            flex: 1 0 50%;
            max-width: 50%;
            min-width: 50%;
            padding: 0 1rem;

            &--image {
                max-height: 480px;
            }
        }
    }
}
