.cta {
    display: grid;
    row-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 4px;
    background-color: $c-darkblue;
    color: $c-white;

    .button {
        display: inline-flex;
        align-items: center;
        margin-bottom: 0;
        padding: 0.5rem 1.5rem 0.5rem 1.25rem;

        span {
            margin-right: 0.75rem;
        }

        &:hover {
            background-color: $c-white;

            span {
                color: $c-darkgreen;
            }

            svg, path {
                fill: $c-darkgreen;
            }
        }
    }

    &__heading {
        font-size: 1.25rem;

        strong {
           color: $c-darkgreen;
           font-family: inherit;
           line-height: inherit;
           font-weight: inherit;
        }
    }

    @include screen($screen-simple) {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
        padding: 2rem 1.5rem;
        grid-template-columns: auto max-content;

        &__column:only-child {
            display: grid;
            grid-template-columns: auto max-content;
            column-gap: 1.5rem;
            align-items: center;

            .cta__heading {
                margin-bottom: 0;
            }
        }

        &__heading {
            padding-right: 1.5rem;
        }
    }
}
