@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--data {
    background: $c-white;
    text-align: center;
    position: relative;

    .wrapper {
        > h2 {
            @include style-heading-1;
            margin-bottom: 4rem;
        }
    }

	@include screen($screen-minimal) {
		
	}

	@include screen($screen-normal) {

		
	}
}