.section--electrische_merken{

	.merken_icons__wrap {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	    margin-top: 1rem;

	    @include screen($screen-normal) {
	    	margin-top: 2rem;
		}

	    .single_merken{
	    	flex:0 0 33.33%;
	    	
	    	@include screen($screen-minimal) {
	    		flex:0 0 25%;
	    	}
	    	
	    	@include screen($screen-simple) {
	    		flex:0 0 20%;
	    	}

	    	a{
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    border: 1px solid #E0E0E1;
			    border-top: none;
			    border-left: none;
			    color: $c-black;
			    text-decoration: none;
		    	height: 110px;
	    		padding: 12px;

			    @include screen($screen-minimal) {
			    	padding: 15px;
			    }

			    @include screen($screen-simple) {
			    	height: 150px;
			    }

			    span{
		    		display:block;
	    		    flex: 0 0 100%;

		    		&.img__wrap{
			    		display: flex;
			    		align-items: center;
			    		justify-content: center;
		    			position:relative;
		    			height:35px;

		    			@include screen($screen-minimal) {
		    				height:40px;
		    			}
		    			
		    			@include screen($screen-simple) {
							height:56px;		    			
		    			}


					    img{
					    	transition: visibility 0.3s linear,opacity 0.3s linear;
					    	max-height:100%;
					    	width:auto;
					    }
			    		.img_normal{
			    			position:relative;
			    		}
			    		.img_hover{
		    				opacity:0;
		    				visibility:hidden;
		    				z-index:-9;
		    				position:absolute;
		    			}
	    			}

	    			&.merken__name{
	    			    margin-top: 0.4rem;
	    			    font-size: 0.75rem;

	    			    @include screen($screen-minimal) {
	    			    	margin-top: 0.7rem;
	    			    }
	    			}
	    		}

			    &:hover{
			    	span{
			    		&.img__wrap{
			    			.img_normal{
			    				opacity:0;
			    				visibility:hidden;
			    				z-index:-9;
			    				position:absolute;
			    			}
			    			.img_hover{
			    				opacity:1;
			    				visibility:visible;
			    				z-index:1;
			    				position:relative;
			    			}
			    		}
			    	}
			    }
	    	}

	    	
	    }
	}
	.merken--layout_btn{
    	margin-top: 5rem;
	}
}


@media (max-width: $screen-minimal){
	.section--electrische_merken .merken_icons__wrap .single_merken{
		&:nth-child(3n){
			a{
		    	border-right:none;
			}
		}
		&:nth-last-child(-n+2){
			a{
				border-bottom:none;
			}
		}
	}
}

@media (min-width: $screen-minimal) and (max-width: $screen-simple) {
	.section--electrische_merken .merken_icons__wrap .single_merken{
		&:nth-child(4n){
	    	a{
		    	border-right:none;
	    	}
	    }
	    &:nth-last-child(-n+4){
	    	a{
	    		border-bottom:none;
	    	}
	    }
    }
}

@include screen($screen-simple) {
	.section--electrische_merken .merken_icons__wrap .single_merken{
		&:nth-child(5n){
	    	a{
		    	border-right:none;
	    	}
	    }
	    &:nth-last-child(-n+5){
	    	a{
	    		border-bottom:none;
	    	}
	    }
    }
}
