@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--faq {
	background-color:$c-grey--lightest;
	background-image: url(../../assets/images/faq-bg-img.png);
	background-size: 140px;
	background-position: left bottom;
	background-repeat: no-repeat;

		@include screen($screen-simple) {
			background-size: 278px;
	    }

	.description {
		flex: 1 0 100%;
		margin-bottom: 1rem;
		
		@include screen($screen-normal) {
	        max-width: 65%;
	        min-width: 65%;
	        display: block;
		}
	}
	.column__title{
		@include screen($screen-simple) {
		    flex: 1 0 37%;
		    max-width: 37%;
		    min-width: 37%;
		    font-size: 2rem;
	        line-height: 1.3;
	        padding-right: 2rem;
		}
		@include screen($screen-snormal) {
			font-size: 2.5rem;
		}
	}
	.column__item--text{
		@include screen($screen-simple) {
			flex: 1 0 63%;
		    max-width: 63%;
		    min-width: 63%;
		}
	}
	.accordion {
	  	background-color: transparent;
	    cursor: pointer;
	    padding: 0.58rem 0 0.58rem 2.25rem;
	    width: 100%;
	    border: none;
	    text-align: left;
	    outline: none;
        line-height: normal;
	    transition: 0.4s;
    	border-radius: 0;
    	margin-bottom: 0;

    	@include screen($screen-normal) {
	        font-size: 1.35rem;
		}

	    &:before{
	    	content: "";
		    transform: rotate(90deg);
		    position: absolute;
		    left: 0;
		    top: 40%;
		    bottom: 0;
		    width: 14px;
    		height: 13px;
		    background-image: url(../../assets/images/arrow-green.svg);
		    background-size: contain;
		    background-position: center;
		    background-repeat: no-repeat;
		    transition-duration: 0.3s;
	    }

	    &.active{	    	
	    	&:before{
			    transform: rotate(270deg);
		    }
	    }

	    .faq-item__title{
	    	color:$c-black;
	    }
	}

	.panel {
		padding: 1rem;
		display: none;
		overflow: hidden;
	    background: $c-white;
	    border-radius: 2px;
    	box-shadow: 0 0 10px #ededed;
	}

	.faq {
		flex: 1 0 100%;
		
		&__question {
			color: $c-black;
		    padding: 0.5rem 0;
		    display: block;
		    position: relative;
		    font-weight: 700;
		    border-top: 1px solid $c-grey;
		    cursor: pointer;
		    padding-right: 2rem;

		    &:hover {

		    }

		   	svg {
				position: absolute;
				right: 1rem;
				top: 1.25rem;
				transition: all .5s cubic-bezier(.645,.045,.355,1);
			}

			&.active {
				svg {
					transform: rotate( 180deg );
					transition: all .5s cubic-bezier(.645,.045,.355,1);
				}
			}
		}

		&__answer {
			box-sizing: border-box;
		    background-color: $c-white;
		    max-height: 0;
		    overflow: hidden;
		    transition: max-height .5s ease-out;

			&_inner {

			}
		}
		
		@include screen($screen-normal) {
	        max-width: 65%;
	        min-width: 65%;
		}
	}
}
