.section--how_it_works{
	
	.how_it_works_steps{
		display: flex;
		flex-wrap:wrap;
	    justify-content: center;
	    text-align: center;
	    margin-top: 1rem;

	    @include screen($screen-normal) {
	    	margin-top: 2rem;
		}
	    
	    .single_step{
			flex: 1 0 100%;
			padding: 0 15px;
			position: relative;

			@include screen($screen-minimal){
				flex: 1 0 50%;
			}
			@include screen($screen-normal) {
				flex: 1 0 33.33%;
			}


			.icon_img{
			    margin-bottom: 15px;
			}
			h3{
			    margin-bottom: 5px;
			}
		    @include screen($screen-normal) {
			    &:after{
			    	content: "";
				    background-image: url(../../assets/images/steps_indecate_line_img.svg);
				    position: absolute;
				    top: 15px;
				    height: 34px;
				    width: calc(100% - 100px);
				    background-position: center;
				    background-repeat: no-repeat;
				    background-size: contain;
				    margin: 0 50px;
			    }
			    &:nth-child(even):after{
		    	    background-image: url(../../assets/images/steps_indecate_line_even_img.svg);
			    }
			    &:last-child:after{
			    	display:none;
			    }
		    }
	    }
	}
}