@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--imageheader {
	/*height: 300px;*/
	width: 100%;
	background-size: cover;
	background-position: center;
	position: relative;

	.imageheader {
		&__description {
			color: $c-white;
			z-index: 3;
			padding: 0 0 5rem 0;

			h1, h2, h3,
			h4, h5, h6 {
				margin-bottom: 0;
			}
		}
	}

	&:after {
		content: '';
		position: absolute;
		background: $c-darkblue;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		opacity: .4;
		z-index: 1;
	}

}