.section--in_the_media{

	.media_icons__wrap {
		display: flex;
	    justify-content: center;
	    align-items: center;
	    flex-wrap: wrap;
	    margin-top: 1rem;

	    @include screen($screen-normal) {
	    	margin-top: 2rem;
		}

	    .single_media{
    	    margin-bottom: 15px;
	    	flex:0 0 33.33%;

	    	a{
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    border: 1px solid #E0E0E1;
			    border-right: none;
			    height:70px;
	    		padding: 12px;

			    @include screen($screen-minimal) {
			    	height: 110px;
			    	padding: 15px;
			    }

			    @include screen($screen-simple) {
			    	height: 140px;
			    }

			    img{
			    	transition-duration: 0.3s;
			    }
			    &:hover{
			    	img{
		    		    transform: scale(1.05);
			    	}
			    }
	    	}

	    	&:nth-child(3n){
		    	a{
			    	border-right:1px solid #E0E0E1;
		    	}
		    }
	    }
	}
}