.section--info_blocks{
	
	.column__block{
	    border: 1px solid $c-grey--light;
        padding: 1rem;

	    p{
	        padding-bottom: 0.3rem;
	    }
	    .numbers{
	    	color:$c-darkgreen;
	    	font-size: 1.2rem;

    	    @include screen($screen-normal) {
    	    	font-size: 1.4rem;

    	    }
	    }
	}
}