.section--leasen_vs_kopen{

	.column__content{
	    margin-top: 1rem;
	    overflow-x:auto;

	    @include screen($screen-normal) {
	    	margin-top: 2rem;
		}
	}

	table{
		width:100%;

		tr{
		    border-bottom: 1px solid $c-grey--light;

		    th, td{
			    padding-block: 15px;
				vertical-align: middle;
				font-weight: 600;
				font-size: 1rem;

				@include screen($screen-normal) {
					font-size: 1.2rem;
				}

				svg{
					display:block;
					margin:auto;
				    height: 25px;
				    width: 25px;

					@include screen($screen-simple) {
						height:auto;
						width:auto;
					}
				}
		    }
			th:nth-child(2), td:nth-child(2){
				background-color: $c-darkgreen;
				color:$c-white;
			}
			td:nth-child(2), td:nth-child(3){
				text-align: center;
			    min-width: auto;

			    @include screen($screen-normal) {
			    	min-width: 125px;
			    }
			}
		}

		thead{
			tr{
				border-bottom:none;
				th{
					border-radius: 8px 8px 0 0;
				}
			}
		}

		tbody{
	 		td:not(:first-child){
	 			padding-inline: 2rem;
		 		
		 		@include screen($screen-normal) {
			    	padding-inline: 0rem;
				}
	 		}

	 		td:first-child{
	 			padding-right:15px;
 			    line-height: normal;
	 		}

		 	tr:last-child{
		 		border-bottom:none;
		 		

		 		td:nth-child(2){
		 			border-radius: 0 0 8px 8px;
		 		}
		 		td:empty {
				    padding-block: 30px;

				    @include screen($screen-simple) {
				    	padding-block: 33px;
				    }
				}
		 	}
		}
	}
}