@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--links {
	background: $c-grey;
	color: $c-white;
	padding: 4rem 0;

	.section__container {
		align-items: flex-end;
		flex-wrap: wrap;
	}

	.links {
		&__description {
			flex: 1 0 100%;
			margin-bottom: 2rem;
		}

		&__container {
			flex: 1 0 100%;

			.link {
				&__item {
					a {
						color: $c-white;
						text-decoration: none;
						display: block;
						padding: 0.5rem 0 0.5rem 1.75rem;
						position: relative;

						svg {
							margin: 0;
							top: 0.55rem;
							left: 0;
						}



						span {
							margin-left: 1rem;
						}

						&:hover {

							span {
								text-decoration: underline;
							}

							svg circle {
								fill: $c-green;
								text-shadow: none;
							}
						}
					}
				}

				&__list {
					list-style: none;
					column-count: 2;
				}
			}
		}
	}

	@include screen($screen-normal) {
	    .links {
			&__description {
				flex: 1 0 33.33%;
				margin: 0;
			}

			&__container {
				flex: 1 0 66.66%;
			}
		}
	}
}