@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--news {
    background: $c-white;
    text-align: center;
    position: relative;
    margin: 4rem 0 8rem 0;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 50%;
        background: $c-green;
        left: 0;
        right: 0;
    }

    .wrapper {
        > h2 {
            @include style-heading-1;
            margin-bottom: 4rem;
        }
    }

    &.stick__button {
        position: relative;
        padding: 2rem 0 0.5rem 0;
        overflow: visible;
        
        .sticky__button {
            position: relative;
            bottom: -2rem;
            left: 0;
            right: 0;
            z-index: 3;
        }
    }

	@include screen($screen-minimal) {
		
	}

	@include screen($screen-normal) {

		
	}
}

.post__count {
    margin-bottom: 1rem;
    display: block;
}
