.section--over_ons_bedrijf{
	.column__container{
		align-items:center;
		
		.column__title {
			@include screen($screen-normal) {
				font-size:2.5rem;
			}
			span{
			    line-height: normal;
			}
		}
		.content__wrap{
			background-image: url(../../assets/images/quotes-bg-img.svg);
		    background-size: 80px;
		    background-repeat: no-repeat;
		    background-position: 60% 60%;

		    	@include screen($screen-minimal) {
		    		background-size: 130px;
		    	}

				@include screen($screen-simple) {	
					background-position: 25% 50%;
				}	    	

		    	@include screen($screen-normal) {
		    		background-position: 48% 60%;
		    	}
			
			p{
				@include screen($screen-simple) {
					font-size:1.3rem;
				}
			}
			.name{
			    color: $c-grey--dark;
			}
			.over_ons--layout_btn{
				margin-top: 1.6rem;
			    text-align: left;
			}
		}
	}
	.column__item--image{
	    max-height: initial;
	    text-align:center;

	    @include screen($screen-normal) {
	    	text-align:right;
	    }
	}
}

.d-block{
	display:inline-block;
}