@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--rapporten {

     .sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
    }


    .index {

        &--summary {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            @include screen($screen-normal) {
                -ms-flex: 0 0 33.333333%;
                flex: 0 0 33.333333%;
                max-width: 33.333333%;
            }
            
            button {
                text-decoration: none;
                position: relative;
                padding: 0.5rem 0;
                display: block;
                background: $c-white;
                color: $c-black;
                width: 100%;
                font-weight: 500;
                text-align: left;
                padding: 1rem 0;

                &:after {
                    content: '';
                    display: block;
                    margin: auto;
                    height: 2px;
                    width: 0;
                    background: transparent;
                    transition: width 1s ease,background-color .3s ease;
                    bottom: 2px;
                    position: absolute;
                }

                &:hover {
                    &:after {
                        width: 100%;
                        max-width: 150px;
                        background-image: -o-linear-gradient(104deg,$c-green,$c-green);
                        background-image: -webkit-linear-gradient(104deg,$c-green,$c-green);
                        background-image: linear-gradient(104deg,$c-green,$c-green);

                    }
                }

                &.is-active {
                    &:after {
                        width: 100%;
                        max-width: 150px;
                        background-image: -o-linear-gradient(104deg,$c-green,$c-green);
                        background-image: -webkit-linear-gradient(104deg,$c-green,$c-green);
                        background-image: linear-gradient(104deg,$c-green,$c-green);

                    }
                }
            }
        }

        &--content {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;

            @include screen($screen-normal) {
                -ms-flex: 0 0 66.66%;
                flex: 0 0 66.66%;
                max-width: 66.66%;
            }
        }

        &--container {
            margin-bottom: 2rem;
        }
    }
}