@import "../config/sizes";
@import "../mixins/screen";
@import "../mixins/typography";
@import "../mixins/svg";

.link-arrow {
  display: inline;

  &::after {
    @include svg("arrow-right", $c-darkgreen);
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 0.5rem;
  }
}

.reviews {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: $c-lightblue;

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 2.5rem;
    text-align: left;

    h2 {
      margin: 0;
      width: 100%;
    }
  }

  &__arrows {
    display: flex;
    justify-content: center;
    margin-left: auto;

    .review__arrow {
      width: 24px;
      height: 24px;
      padding: 0;
      margin: 0 0 0 1rem;
      background-color: transparent;
      border: none;

      &--prev {
        .review__arrow-icon {
          @include svg("arrow-left", $c-darkgreen);
        }

        &.slick-disabled {
          .review__arrow-icon {
            @include svg("arrow-left", $c-grey);
            cursor: default;
          }
        }
      }

      &--next {
        .review__arrow-icon {
          @include svg("arrow-right", $c-darkgreen);
        }

        &.slick-disabled {
          .review__arrow-icon {
            @include svg("arrow-right", $c-grey);
            cursor: default;
          }
        }
      }
    }
  }

  &__wrapper {
    .slick-track {
      display: flex;
    }

    .slick-list {
      margin: 0 -20px;
    }
    .review {
      padding: 0 20px;
    }
  }

  @include screen($screen-normal) {
    &__header {
      flex-wrap: nowrap;
      align-items: center;

      h2 {
        width: auto;
      }

      a {
        margin-left: 2rem;
      }
    }
  }
}

.js-reviews {
  width: 100%;
}

.review {
  display: grid !important; // overwrite slick
  margin-top: 25px; // compensate the green dot
  justify-content: center;
  text-align: center;
  align-self: stretch;
  height: auto !important;

  &__wrapper {
    width: 100%;
  }

  &__image {
    height: 100%;
    overflow: hidden;
    padding-top: 60%;
    position: relative;
    background: #f2f2f2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &__image-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $c-white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $c-darkgreen;
      background-image: url("./../images/quote.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem 1rem;
    flex: 1 1 auto;

    h3 {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1.5;
    }

    span {
      font-size: 0.875rem;
      line-height: 1.9;
      color: #6b7b93;
      font-family: "Montserrat", sans-serif;
    }

    p {
      margin-top: 1rem;
      padding: 0;
      line-height: 1.625;
    }
  }

  &__footer {
    padding: 0.5rem 2rem;
    border-top: 1px solid $c-grey--lighter;

    p {
      padding: 0;
    }
  }

  &--list {
    margin-bottom: 3.5rem;
  }

  &--no-image {
    .review__body {
      padding-top: 3rem;
    }

    .review__content {
      border-radius: 10px;
    }

    .review__image {
      display: none;
    }
  }

  @include screen($screen-normal) {
    text-align: left;

    &__image {
      border-top-right-radius: 0px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &__content {
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;

      &::before {
        left: 0;
      }
    }

    &__body {
      padding: 2rem 3rem 1rem;
    }

    &__footer {
      padding: 0.5rem 3rem;
    }

    &--half {
      grid-template-columns: repeat(2, 1fr);

      .review__image {
        padding-top: 65%;
      }
    }

    &--third {
      grid-template-columns: 2fr 1fr;
    }

    &--no-image {
      text-align: center;

      .review__content {
        &::before {
          left: 50%;
        }
      }
    }
  }
}
