@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--services {
    background: $c-white;
    text-align: center;

    .wrapper {
        > h2 {
            @include style-heading-1;
            margin-bottom: 4rem;
        }
    }

    &.stick__button {
        position: relative;
        padding: 2rem 0 0.5rem 0;
        overflow: visible;
        
        .sticky__button {
            position: relative;
            bottom: -2rem;
            left: 0;
            right: 0;
            z-index: 3;
        }
    }

	@include screen($screen-minimal) {
		
	}

	@include screen($screen-normal) {

		
	}
}