@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--tab {

	.section__container {
		display: flex;
       	flex-wrap: wrap;
        justify-content: space-between;
    	text-align: center;

        .tab {
            &__header {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                text-align: center;

                @include screen($screen-normal) {
                    /*justify-content: space-between;*/
                    flex-direction: row;
                    align-items: stretch;
                    width: 100%;
                    border-bottom: 1px solid $c-base;
                }

                a {
/*                    flex: 1 0 45%;
                    min-width: 45%;
                    max-width: 45%;*/
                    border-bottom: 0;
                    padding-bottom: 1rem;
                    position: relative;
                    cursor: pointer;
                    margin-bottom: 1rem;

             /*       @include screen($screen-simple) {
                        flex: 1 0 31%;
                        min-width: 31%;
                        max-width: 31%;
                    }
*/

                

                    @include screen($screen-normal) {
             /*           flex: 1 0 16.66%;
                        min-width: 16.66%;
                        max-width: 16.66%;*/
                        margin-bottom: 0;

                        padding-bottom: 2rem;
                    }

                    &:after {
                        content: '';
                        display: block;
                        margin: auto;
                        height: 4px;
                        width: 0;
                        background: transparent;
                        transition: width .3s ease,background-color .3s ease;
                        bottom: -2px;
                        position: absolute;
                    }
                    
                    &:hover {
                        &:after {
                            width: 100%;
                            background-image: -o-linear-gradient(104deg,#8D8E99,#8D8E99);
                            background-image: -webkit-linear-gradient(104deg,#8D8E99,#8D8E99);
                            background-image: linear-gradient(104deg,#8D8E99,#8D8E99);
                        }
                    }



                    &.active {

                        &:after, &:hover &:after {
                            width: 100%;
                            background-image: -o-linear-gradient(104deg,#232020,#232020);
                            background-image: -webkit-linear-gradient(104deg,#232020,#232020);
                            background-image: linear-gradient(104deg,#232020,#232020);
                            
                        }
                    }

                    img {
                        width: 80px;
                    }



                    h3 {
                        font-size: 1.15rem;
                        text-align: center;
                        margin: 0;
                        
                        @include screen($screen-normal) {
                            font-size: 1.25rem; 
                            text-align: left;
                        }

                        @include screen($screen-large) {
                            font-size: 1.75rem; 
                        }
                    }
                }
            }
            &__bottom {

            }

            &__data {
                display: none;

                &_container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    padding: 2rem 0;


                    @include screen($screen-normal) {
                        padding: 2rem 4rem;
                    }

                    .tab__data_column {
                        flex: 1 0 100%;
                        min-width: 100%;
                        max-width: 100%;
                        text-align: center;

                        @include screen($screen-normal) {
                            text-align: left;
                        }

                        .description {
                            text-align: left;
                        }

                        figure {
                            text-align: center;
                            display: none;

                            @include screen($screen-normal) {
                                display: block;

                            }

                            img {
                                border-radius: 5px;
                                max-width: 390px;
                            }
                        }

                        a.button {
                            margin-top: 1rem;
                        }

                        @include screen($screen-normal) {
                            flex: 1 0 48%;
                            min-width: 48%;
                            max-width: 48%;
                        }
                    }
                }
            }
        }    
	}
}