.table {
  width: 100%;

  tr {
    box-shadow: 0 1px 0 0 $c-grey--light;
    border-bottom: 1px solid transparent;
    text-align: left;
    display: table;
    width: 100%;

    &:last-child {
      box-shadow: none;
    }
  }

  th,
  td {
    padding: 0.5rem 0;
    line-height: 26px;
  }

  th {
    width: 60%;
    font-weight: 400;
    font-size: 0.875rem;
  }

  td {
    width: 40%;
    font-weight: 700;
    padding-left: 1rem;
  }

  @include screen($screen-normal) {
    &--2col {
      display: block; // Make column-count work on <table> element
      column-count: 2;
      column-gap: 128px;
      position: relative;

      tbody {
        display: block;
      }

      tr {
        break-inside: avoid;
      }
    }
  }
}

// .lease-deals
// @desc Dit zijn de vergelijkingstabellen, die mogen nu uit.
//.lease-deals {
//  width: 100%;
//  padding: 1rem 1.5rem 3.75rem;
//	padding-bottom: 0;
//  background-color: $c-lightblue;
//
//  &__inner {
//    //max-width: 1160px;
//    margin: 0 auto;
//  }
//
//  &__title {
//    margin-bottom: 1.25rem;
//    font-size: 1.25rem;
//    font-weight: 700;
//  }
//
//  &__list {
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
//    grid-template-areas:
//    "company model"
//    "type price"
//    "duration proscons"
//    "km proscons"
//    "action action";
//    column-gap: 1rem;
//    row-gap: 1rem;
//    padding-top: 2rem;
//    padding-bottom: 2rem;
//    border-top: 1px solid $c-grey;
//
//    &:first-of-type {
//      padding-top: 0;
//      border-top: none;
//    }
//  }
//
//  &__company {
//    grid-area: company;
//
//    img {
//      max-width: 120px;
//    }
//  }
//
//  &__model {
//    grid-area: model;
//  }
//
//  &__type {
//    grid-area: type;
//  }
//
//  &__price {
//    grid-area: price;
//  }
//
//  &__duration {
//    grid-area: duration;
//  }
//
//  &__km {
//    grid-area: km;
//  }
//
//  &__pros-cons {
//    grid-area: proscons;
//  }
//
//  &__action {
//    grid-area: action;
//    padding-top: 1rem;
//  }
//
//  &__term {
//    margin-bottom: 0.25rem;
//    font-size: 0.6875rem;
//    color: #9AA4B5;
//  }
//
//  &__detail {
//    font-size: 0.8125rem;
//    font-weight: 700;
//    line-height: 1.4;
//
//    + .table__detail {
//      margin-top: 0.5rem;
//    }
//
//    &--icon {
//      position: relative;
//      padding-left: 1.5rem;
//
//      &::before {
//        content: '';
//        position: absolute;
//        left: 0;
//        top: 3px;
//        display: flex;
//        width: 14px;
//        height: 14px;
//        border-radius: 50%;
//        justify-content: center;
//        line-height: 1;
//        color: $white;
//      }
//    }
//
//    &--pro {
//      &::before {
//        content: '+';
//        background-color: $c-darkgreen;
//      }
//    }
//
//    &--con {
//      &::before {
//        content: '-';
//        background-color: #EB5E55;
//      }
//    }
//  }
//
//  .lease-deals-filter {
//    display: none;
//  }
//
//  @include screen($screen-simple) {
//    padding-top: 45px;
//
//    &__title {
//      margin-bottom: 2.5rem;
//      font-size: 1.5rem;
//    }
//
//    &__list {
//      grid-template-columns: repeat(4, 1fr);
//      grid-template-areas:
//      "company model km action"
//      "company type proscons action"
//      "company price proscons action"
//      "company duration proscons action";
//      row-gap: 0.75rem;
//      column-gap: 2rem;
//    }
//
//    &__term {
//      font-size: 0.8125rem;
//      line-height: 2.230769231;
//      color: #9AA4B5;
//    }
//
//    &__detail {
//      font-size: 0.875rem;
//      line-height: 1.428571429;
//    }
//  }
//
//  // or screen-large
//  @include screen($screen-normal) {
//    padding-top: 0;
//	padding-bottom: 0;
//
//    &__title {
//      margin-bottom: 2rem;
//    }
//
//    &__list {
//      grid-template-columns: 1fr 1fr repeat(3, 1fr) repeat(2, 0.75fr);
//      grid-template-areas:
//      //"company model type price duration km proscons action";
//		  "company model type price duration km action";
//      row-gap: 0;
//      column-gap: 1rem;
//      padding-top: 1.25rem;
//      padding-bottom: 1.25rem;
//    }
//
//    &__action {
//      padding-top: 0;
//    }
//
//    &__term {
//      display: none;
//    }
//
//    .lease-deals-filter {
//      display: block;
//      margin-bottom: 2.5rem;
//
//      &__list {
//        display: grid;
//        column-gap: 1rem;
//        //grid-template-columns: 0.75fr 0.75fr repeat(4, 0.5fr) repeat(2, 1fr);
//		   grid-template-columns: 1fr 1fr repeat(3, 1fr) repeat(2, 0.75fr);
//      }
//
//      &__item {
//        font-size: 0.8125rem;
//        color: #9AA4B5;
//
//        &--sortable {
//          display: inline-flex;
//          align-items: center;
//
//          &::after {
//            display: block;
//            content: '';
//            width: 9px;
//            height: 5px;
//            background-color: #9AA4B5;
//            margin-left: 0.25rem;
//          }
//        }
//      }
//    }
//  }
//}
