@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--timeline {

    .timeline--card {
        padding: 0 2rem;
        position: relative;
        padding-bottom: 2rem;

        @include screen($screen-normal) {
            padding: 0;
            display: flex;
            justify-content: flex-start;
            min-width: 100%;
        }

        &:before {
            content: '';
            height: 100%;
            width: 3px;
            background-color: $c-base;
            position: absolute;
            left: 0;
            top: 0;
        }

        @include screen($screen-normal) {
            &:before {
                content: '';
                height: 100%;
                width: 3px;
                background-color: $c-base;
                position: absolute;
                left: calc( 50% - 4px );
                top: 0;
            }
        }

        &:nth-of-type(even) {
            justify-content: flex-end;

            @include screen($screen-normal) {

                .timeline--card {
                    &_inner {
                        padding-right: 0;
                        padding-left: 1.5rem;
                    }
                }   

                .timeline--card_description {
                    &:after {
                        left: calc( -24px - 2% );
                        right: inherit;
                    }
                }
            }
        }

        &_inner {
            max-width: 100%;

            @include screen($screen-normal) {
                display: inline-block;
                align-content: flex-end;
                align-self: flex-end;
                min-width: 50%;
                box-sizing: border-box;
                max-width: 50%;
                padding-left: 0;
                padding-right: 1.5rem;
            }
        }

        &__image {
            img {
                width: 81px;
                transition: all .5s;
            }
        }

        &_description {
            position: relative;


            &:after {
                content: '';
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background-color: $c-green;
                position: absolute;
                top: -81px;
                left: calc( -2rem - 8px);
            }

            @include screen($screen-normal) {
                &:after {
                    top: 0;
                    left: inherit;
                    right: calc(-20px - 2%);
                }
            }
        }

    }   


	@include screen($screen-minimal) {
		
	}

	@include screen($screen-normal) {
		
	}
}