@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.usps {
    &__list {
     	list-style: none;
    }

    &__item {
    	display: block;
    	margin-right: 1rem;

    	> svg {
    		margin-right: 1rem;
    		vertical-align: middle;    	
    	}

        img {
            vertical-align: middle;
            margin-right: .5rem;
        }

    	span {
    		vertical-align: middle;
    		font-weight: 500;
    		font-size: 0.85rem;
    		font-family: 'Montserrat';
    	}
    }

    &--inline {
        width: 100%;

        .usps__list {
            display: flex;
            justify-content: space-between;
        }

        .usps__item {
            line-height: 1.5;

            &:last-child {
                margin-right: 0;
            }

            span {
                font-size: 0.7rem;
                font-weight: 600;
            }

            > svg {
                margin-right: 0.5;
            }

            @include screen($screen-large) {
                span {
                    font-size: 0.75rem;
                }
            }    
        }
    }
}
