<div class="archive-sorting-container">
	<div id="archive-sorting-count" class="archive-sorting-container__count">
		<div class="label">Resultaten: </div>
		<div class="count">{{ model_count }}</div>
	</div>
	<div class="archive-sorting-container__selector">
		<div class="archive-sorting-container__selector__label">Sorteren op:</div>
		{% include 'partials/sorting/selector.twig' %}
	</div>
</div>
