<div class="select__container">
	<select name="archive_sorting" id="archive-sorting" class="select js-select-sort-option">
		<option value="menu_order">Relevantie</option>
		<option value="price-asc">Leaseprijs - oplopend</option>
		<option value="price-desc">Leaseprijs - aflopend</option>
		<option value="range_real_int-asc">Actieradius - oplopend</option>
		<option value="range_real_int-desc">Actieradius - aflopend</option>
	</select>
</div>
