@import '../mixins/container';
@import '../mixins/screen';

.article {
	&__container {
		@include container;
		padding: 2rem 0;
		max-width: 810px;
	}

	&__banner {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 300px;
		overflow: hidden;
	}

	@include screen($screen-simple) {
		&__banner {
			height: 400px;
		}
    }

    &__share {
    	border-top: 1px solid $c-green;
	    padding: 1rem 0;
	    display: block;
	    margin: 1rem 0;
    }
}

.share {
	&__list {
		list-style: none;
	}

	&__item {
		display: inline-block;
		width: 1.1rem;
	    vertical-align: middle;
	    margin-right: 0.5rem;
	    cursor: pointer;

	    a {
	    	display: block;
	    }

	    svg {
	    	fill: $c-green;
	    	cursor: pointer;
	    }
	}
}