@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.benefit--card {
	/*position: relative;
	background: $c-white;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(166,174,188,0.5);
	padding: 2rem 1rem;*/
	text-align: center;

	figure {
		display: block;
		text-align: center;

		img {
			text-align: center;
			display: inline-block;
			max-width: 75px;
		}
	}
}


.section--carousel {
	.slick-slider {
		.slick-track { 
			.slick-slide {
				position: relative;
				background: $c-white;
				border-radius: 10px;
				box-shadow: 0 0 10px 0 rgba(166,174,188,0.5);
				padding: 2rem 1rem;
			}
		}
	}
}
