@import '../config/sizes';
@import '../mixins/screen';

/* Buttons */
button,
.button {
	line-height: 1;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: top;
	margin: 0;
	text-align: center;
	font-size: 1rem;
	position: relative;
	font-weight: 600;
	padding: 0.5rem 1rem;
	background-color: $c-black;
	color: $c-white;
	overflow: hidden;
	border: 1px solid;
	text-decoration: none;
	border-radius: $border-radius;
	opacity: 1;
	display: inline-block;
	text-decoration: none;
	transition: all .25s;
	outline: none;
	margin-bottom: 0.5rem;

	span {
		vertical-align: middle;
		color: $c-white;
	}

	svg {
		display: none;
		fill: $c-white;
		vertical-align: bottom;
	}

	a {
		text-decoration: none;
		color: $c-white;
	}

	&:hover {
		text-decoration: none;
		color: $c-white;
		background: $c-black;

		a, span {
			text-decoration: none;
			color: $c-white;
		}
	}

}

.gform_footer .button {
	padding: 1rem;
}

.button__primary {
	background-color: $c-darkgreen;
	border: 1px solid $c-darkgreen;
	color: $c-white;

	a {
		color: $c-white;
	}

	svg, path {
		fill: $c-white;
	}

	&:hover {
		text-decoration: none;
		color: $c-white;
		background: $button-hover;
		border: 1px solid $button-hover;

		a, span {
			text-decoration: none;
			color: $c-white;
		}


		svg, path {
			fill: $c-white;
		}
	}
}

.button__blue {
	background: $c-blue;
	color: $c-white;
}

.button__secundary {
	background: $c-grey;
	border: 1px solid $c-grey;
	color: $c-base;

	a, span {
		color: $c-base;
	}

	&:hover {
		text-decoration: none;
		color: $c-white;
		background: $c-black;

		a, span {
			text-decoration: none;
			color: $c-white;
		}


		svg, path {
			fill: $c-white;
		}
	}
}

.button__alternative {
	background: $c-white;
	border: 1px solid $c-white;
	color: $c-base;

	a, span {
		color: $c-base;
	}

	&:hover {
		color: $c-white;
		border-color: $c-base;
		background: $c-base;
	}
}

.button__link {
	background: transparent;
	border-radius: $border-radius;
	border-bottom: 2px solid $c-white;
	padding: 0.5rem 2rem .5rem 0.5rem;

	a, span {
		color: $c-white;
	}

	svg {
		circle {
			stroke: $c-white;
		}

		path {
			fill: $c-white;
		}
	}

	&:hover {
		text-decoration: none;
		color: $c-base;
		border-color: $c-black;
		background: $c-white;

		a, span {
			text-decoration: none;
			color: $c-base;
		}

		svg, path {
			fill: $c-black;
		}
	}
}

.button__arrow, .button__icon {
	position: relative;
	text-align: left;
	padding: 1rem 1rem 1rem 1.75rem;

	svg {
		display: inline-block;
		vertical-align: middle;
		overflow: visible;
		height: auto;
		-webkit-transition: -webkit-transform .2s ease-in-out;
		transition: -webkit-transform .2s ease-in-out;
		transition: transform .2s ease-in-out;
		transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
	}

	.icon {
		fill: currentColor;
	}

	span {
		margin-right: 0.5rem;
		vertical-align: text-top;
	}

	&:hover {
		svg {
			-webkit-transform: translateX(2px);
			transform: translateX(2px);
		}
	}
}

.button__icon {
	height: 100%;
	padding: 0.8rem 1rem 1rem 0.5rem;
}

body.single-models .models__data .button__arrow,
body.single-models .models__data .button__icon {
	padding-left: 0.75rem;
}

.button__arrow-up {
	position: relative;
	display: inline-flex;
	justify-content: center;

	svg {
		display: inline-flex;
		vertical-align: middle;
		overflow: visible;
		height: auto;
		transform-origin: center;
		transform: rotate(-90deg) translateX(0);
		transition: transform .2s ease-in-out;
		padding: 0;
		margin: 0.5rem;
	}

	.icon {
		fill: currentColor;
	}

	span {
		margin-right: 0.5rem;
		vertical-align: text-top;
	}

	&:hover {
		svg {
			transform: rotate(-90deg) translateX(2px);
		}
	}
}

.button__half {
	width: 100%;
	text-align: center;
	@include screen($screen-simple) {
		width: 30%;
	}
}

.button__shadow {
	box-shadow: 0px 2px 15px 0px rgba(255, 255, 255, .2);
}

.button__shadow--dark {
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
}

.button__phone {
	background: $c-grey--lightest;

	svg {
		fill: $c-black;
	}

	&:hover {
		path.phone {
			-webkit-animation: wiggle 3s infinite;
			animation: wiggle 3s infinite;
			-webkit-animation-delay: .4s;
			animation-delay: .4s;
			-webkit-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
		}

		path.sound {
			-webkit-animation: showHide 2s infinite;
			animation: showHide 2s infinite;
			-webkit-animation-delay: .1s;
			animation-delay: .1s;
		}

		path.sound--small {
			-webkit-animation-delay: .8s;
			animation-delay: .8s;
		}
	}
}

.button__open {
	color: $c-white;

	a, span {
		color: $c-white;
	}

	&:hover {
		text-decoration: none;
		color: $c-white;
		background: $c-white;

		a, span {
			text-decoration: none;
			color: $c-white;
		}

		svg, path {
			fill: $c-white;
		}
	}
}

.button__search {
	background: $c-darkgreen;
	padding: 0;
	margin: 0;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 10px;
	border: 1px solid $c-darkgreen;


	position: absolute;
	right: 0;
	top: 0;

	&:hover {
		border-color: $c-black;

		svg {
			transform: translateX(0);
		}
	}
}

.button__underline{
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;

    &:after{
    	content: "";
    	height: 2px;
	    background: $c-darkgreen;
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    left: 0;
    }
	
	&:hover{
		background: transparent;
		
		span{
			color:$c-darkgreen;
		}
	}

    span{
    	color:$c-darkblue;
    }
}


/* Button effects libary */
.effect__impact {
	/* Border radius has to be 0 */
	outline: 1px solid;
	outline-color: rgba(255, 255, 255, .5);
	outline-offset: 0px;
	text-shadow: none;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
	border-radius: $border-radius;

	&:hover {
		border: 1px solid;
		outline-color: rgba(255, 255, 255, 0);
		outline-offset: 1rem;
		border-radius: $border-radius;
	}
}

.effect__shine {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		display: block;
		background: rgba(254, 254, 254, .2);
		height: 2rem;
		width: 100%;
		top: 0;
		left: -100%;
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		z-index: 99;
		transition: all .25s ease-in-out;
	}

	&:hover {
		&:before {
			left: 100%;
		}
	}
}

.button__text {
	color: $c-darkgreen;
	padding-left: 0;
	border: none;
	background: transparent;
	font-weight: 400;
	display: flex;
	align-items: center;
	flex-flow: row nowrap;

	&:hover,
	&:focus {
		color: $c-darkgreen;
		border: none;
		background: transparent;
		text-decoration: underline;
	}

	svg {
		display: block;
		width: 15px;
		height: auto;
		margin-right: 5px;
	}
}

.button__large {
	width: 100%;
	padding: 15px 0;
}

.button__medium {
	padding: 20px 25px;
}

.button__price {
	width: 100%;
	text-align: center;

	&--more-info {
		background: $c-blue;
		padding: 0.5rem 1rem;

		span {
			color: $c-white;
			margin: 0;
		}

		svg.button__icon {
			fill: $c-white;
		}
	}
}

/* Animations */
@-webkit-keyframes wiggle {
	0%,
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	50% {
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg)
	}
	25%,
	75% {
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg)
	}
}

@keyframes wiggle {
	0%,
	100% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}
	50% {
		-webkit-transform: rotate(-6deg);
		transform: rotate(-6deg)
	}
	25%,
	75% {
		-webkit-transform: rotate(6deg);
		transform: rotate(6deg)
	}
}

@-webkit-keyframes showHide {
	0%,
	100% {
		opacity: 1
	}
	50% {
		opacity: 0
	}
}

@keyframes showHide {
	0%,
	100% {
		opacity: 1
	}
	50% {
		opacity: 0
	}
}
