@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.benefit--card {
	position: relative;
	background: $c-white;
	border: 1px solid $c-grey--lighter;
	margin-bottom: 2rem;
	padding: 3rem 2rem 2rem 2rem;
	text-align: left;
	z-index: 3;

	&:hover {
		box-shadow: 0 0 10px 0 rgba(166, 174, 188, 0.5);
	}

	figure {
	    text-align: center;
    	margin-bottom: 2rem;

		img {
		    text-align: center;
    		display: inline-block;
		}
	}

	.description {
		margin-top: 1rem;

		> h2, h3 {
			@include style-heading-2;
		}
	}
}