.copy {
    > * {
        grid-column: 3 / 11;
    }

    /**
     * Set default vertical spacing for all elements.
    */

    > * + * {
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 0;
    }

    /**
     * Reset (decrease) some margins for better typography (proximity)
     */
    > h1 + *,
    > * + p,
    > * + ul,
    > * + ol,
    > * + dl {
        margin-top: 1.5rem !important;
    }

    > h2 + *,
    > h3 + *,
    > time + * {
        margin-top: 0.5rem !important;
    }

    p:first-of-type {
        font-size: 1.25rem;
        font-weight: 600;
    }

    ul {
        li {
            position: relative;
            padding-left: 1.5rem;
        }
    }

    ol {
        counter-reset: counter;

        li {
            position: relative;
            counter-increment: counter;
            padding-left: 1.5rem;

            &::before {
                content: counter(counter)'.';
                position: absolute;
                top: 0;
                left: 0;
                color: $c-darkgreen;
                font-weight: 600;
            }
        }
    }

    figcaption {
        color: $c-grey--medium;
    }

    blockquote {
        text-align: center;

        p {
            @include style-heading;
            font-size: 1.5rem !important;
            line-height: 1.5;
            font-weight: 300 !important;

            strong {
                color: $c-darkgreen;
                font-weight: 300;
            }
        }

        + figcaption {
            text-align: center;
        }
    }

    @include screen($screen-large) {

        /**
        * Set default vertical spacing for all elements.
        */

        > * + * {
            margin-top: 3rem;
        }        
    }
 }
