@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.data--card {
	flex: 1 0 100%;
    max-width: 100%;
    min-width: 100%;
	position: relative;
	margin-bottom: 2rem;
	border-radius: 10px;
	padding: 3rem 2rem 2rem 2rem;
	text-align: center;
	z-index: 3;

	&.box_shadow {
		box-shadow: 0 0 30px 0 rgba(166, 174, 188, 0.5);

		&:hover {
			box-shadow: none;
		}
	}

	&:hover {
		box-shadow: 0 0 30px 0 rgba(166, 174, 188, 0.5);
	}

	figure img {
		width: 81px;
	}


	.description {
		margin-top: 1rem;
		margin-bottom: 1rem;

		ul {
			display: inline-block;
			margin-top: 1rem;

			li {
				text-align: left;
				display: block;
			}
		}
	}



    @include screen($screen-simple) {
		flex: 1 0 48%;
        max-width: 48%;
        min-width: 48%;
	}

	@include screen($screen-normal) {
		flex: 1 0 23%;
        max-width: 23%;
        min-width: 23%;
	}
}