@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';


#slider {
	margin-top: 1rem;
    margin-bottom: 1rem;
}

.close--filter {
	text-align: right;
	display: block;
	cursor: pointer;

	span {
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		span {
			opacity: 1;
			visibility: visible;
		}
	}

	@include screen($screen-normal) {
		display: none;
	}
}

.slider {
    &--input {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input {
            flex: 0 0 25%;
            display: inline-block;
            width: 20px;
            width: 100px;
        }
    }
}

.filter {

  &--toggle {
    padding: 15px 48px;
    svg {
      display: inline-block;
    }
  }

  &__divider {
    padding-bottom: 12px;
    position: relative;
  }

  &__card {
    background-color: $c-white;
    border-radius: 4px;
    box-shadow: 0 1px 3px #E1E9F0;
    padding: 25px 30px;
    margin-bottom: 10px;
  }

  &__button-container {
    background-color: $c-white;
    box-shadow: -6px 0 6px #E1E9F0;
    padding: 10px;
    width: 320px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 6;
    transform: translate3d(-110%, 0, 0);
    transition: transform .5s, -webkit-transform .5s;

    &--active {
      transform: translate3d(0, 0, 0);
    }

    @include screen($screen-normal) {
      display: none;
    }

    button svg {
      display: inline-block;
    }
  }

	&__block {
		display: block;
    min-width: 100;

		strong {
		    display: block;
		    margin-bottom: 0.5rem;
		}
	}

  &__block-range {
    height: 126px;
  }

	&__block-type {
		display: flex;
    	flex-wrap: wrap;

    	strong {
			flex: 1 0 100%;
		}


		.filter {

			&__checkbox {

			    margin-bottom: .5rem;
			    position: relative;
		    	flex: 1 0 32%;
  				display: inline-block;
	  			margin-right: .5rem;

				@include screen($screen-normal) {
					flex: 1 0 32%;
          margin: 0;
				}

				label{
				    text-align: center;
				    padding: 0;
				    font-size: 0.75rem;
            border: 2px solid #fff;
            height: 91px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

				    &.active {
				    	background: #f2fffb;
    					border: 1px solid #00bf86;
				    }

					&:before {
						content: none;
					}

					&:after {
						/*content: none;*/
					}

					svg {
						margin: 0 auto;
						display: block;
						transform: scale(0.75);
					}
				}

				&:hover {
			    	label {
			    		color: $c-black;
			    		//background: #f2fffb;
              border-color: $c-darkgreen;
			    	}
			    }

        input:checked + label {
          border-color: $c-darkgreen;
        }

				input:hover+label::after {
					content: none;
				}

				input:checked + label::after {
				    position: absolute;
				    left: 0;
				    right: 0;
				    top: 0;
				    bottom: 0;
				    width: 100%;
				    height: 100%;
				    z-index: -1;
				   	background: #f2fffb;
				}

			}
		}
	}
	&__label {
		display: flex;
		width: 100%;
		&__info {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			margin-top: 0.5rem;
			margin-left: 0.5rem;
			width: 1rem;
			height: 1rem;
			font-size: .75rem;
			font-style: normal;
			font-weight: 700;
			line-height: 1.0;
			color: white;
			border-radius: 50%;
			background-color: #00c38a;

			&:before,
			&:after {
				content: "";
				position: absolute;
				z-index: 5;
				left: 50%;
				transform: translateX(-50%) translateY(-14px);
				opacity: 0;
				visibility: hidden;
				transition: opacity 250ms ease, visibility 250ms ease, transform 250ms ease;
			}

			&:before {
				content: attr(data-tooltip);
				display: block;
				bottom: 18px;
				font-size: 13px;
				line-height: 1.25;
				font-weight: 700;
				padding: 10px 12px;
				width: 275px;
				color: black;
				background-color: white;
				border-radius: 5px;
				box-shadow: 0 0 10px rgba(0, 64, 126, 0.15);
			}

			&:after {
				bottom: 12px;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 6px solid white;
			}

			&:hover {
				cursor: help;

				&:before,
				&:after {
					opacity: 1;
					visibility: visible;
					transform: translateX(-50%) translateY(-8px);
				}

			}

		}
	}

	&__checkbox {
	    margin-bottom: .5rem;
	    position: relative;

      &--hidden {
        display: none;
      }

      &:hover {
	    	label {
	    		color: $c-darkgreen;
	    	}
	    }

	    input {
	    	height: 25px;
		    margin: 0;
		    opacity: 0;
		    position: absolute;
		    width: 25px;
		    z-index: 3;
	    }

	    input:checked + label::after {
		    background-color: $c-darkblue;
		    transform: scale(1);
		}

		input:active+label::after, input:hover+label::after {
		    transform: scale(1);
		}

		label{
			color: $c-black;
		    cursor: pointer;
		    display: block;
		    font-weight: 400;
		    line-height: 1.5;
		    padding-left: 2rem;
		    position: relative;

			&:before {
			    background-color: $c-white;
			    border: 1px solid $c-grey--light;
			    border-radius: 5px;
			    content: '';
			    height: 25px;
			    left: 0;
			    position: absolute;
			    top: 0;
			    width: 25px;
			}

			&:after {
				background-color: $c-darkgreen;
			    border-radius: 3px;
			    content: '';
			    height: 19px;
			    left: 3px;
			    position: absolute;
			    top: 3px;
			    transform: scale(0);
			    transition: background-color .15s,transform .15s;
			    width: 19px;
			}
		}
	}

	&__more {
		text-decoration: underline;
    	z-index: 9;
    	font-weight: 700;
    	color: $c-black;

    	&:hover {
    		cursor: pointer;
    		color: $c-darkgreen;
    	}
	}
}

.view-more {
  &--hidden {
    display: none;
  }
}

.view-less {
  display: none;

  svg {
    transform: rotate(180deg);
    position: relative;
    top: 1px;
  }

  &--active {
    display: flex;
  }
}
