@import "../mixins/container";

.footer__top {
	display: none;

	@include screen($screen-normal) {
		display: block;
		padding: .5rem 0;
	}
}

.site__footer {
	position: relative;
}

.footer-element {
	display: none;
	position: absolute;
    top: 25%;
    opacity: .05;
    z-index: 1;

    @include screen($screen-normal) {
    	display: block;
    }

	&__left {
		left: -170px;
	}


	&__right {
		right: -170px;
	}
}

.footer__container-sitemap {
	position: relative;
    z-index: 2;
}

.footer {
	background-color: $c-darkblue;
	background-image:url('../../assets/images/footer-bg-bar.svg');
    background-position: left bottom;
    background-repeat: no-repeat;
	color: $c-white;
	padding: 4rem 0 2rem;
	position: relative;
	overflow-x:hidden;
    font-size: 0.88rem;

    &__logo {
    	margin-bottom: 2rem;
    }

	a {
		color: $c-white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	h3, .gform_title {
		color: $c-white;
		font-size: 1.14rem;
	    margin-bottom: 1rem;
	    font-weight: 600;
	}
	
	.gform_wrapper{
		margin-top:0;
	}
	.footer_column1{
		.footer--menu > p, .gfield_label{
			display:none;
		}
	}
	.wp-block-social-links{
		margin-top: 2rem;
	    gap: 0.7rem;

		li.wp-block-social-link{
			a{
				color:$c-white;
			}
		} 
	}

	&__container {
		@include container;
		display: flex;
        flex-wrap: wrap;
	    -webkit-box-pack: justify;
	    justify-content: space-between;

        @include screen($screen-large) {
        	justify-content: space-between;
        	flex-wrap: nowrap;
        	gap:1.5rem;
        }

		.menu--container {
		    flex: 1 0 100%;
	        max-width: 100%;
	        min-width: 100%;
	        margin-bottom: 2rem;
	        z-index: 3;

	        address, a.tel, a.mail {
	        	display: block;
	        	font-style: normal;
	        	text-decoration: none;

	        	&:hover {
	        		text-decoration: none;

	        		span {
	        			text-decoration: underline;
	        		}
	        	}

	        	span {
	        		text-decoration: underline;
	        	}
	        }

	        address {

	        	span {
	        		display: inline-block;
	        		text-decoration: none;
	        	}
	        }
		}
	}

	@include screen($screen-minimal) {
		&__container {

			.menu--container {
			    flex: 1 0 49%;
		        max-width: 49%;
		        min-width: 49%;
			}
		}
	}

	@include screen($screen-normal) {
		&__container {

			.menu--container {
			    -webkit-box-flex: 1;
			    flex: 1 0 24%;
			    max-width: 24%;
			    min-width: 24%;
			    margin-bottom: 0;
			}
		}
	}

	&__sitemap {
	    margin-right: auto;

		.nav {
			display: inline;
		}

		ul {
			list-style: none;
			display: inline;
		
			li {
				display: inline-block;
				margin-right: 1rem;
			}
		}
	}

	&__copyright {
		text-align: right;
		color: $c-white;
		padding: 1rem 0;
	    border-top: 1px solid #264356;
	    margin-top: 6rem;

		.footer__container {
			justify-content: flex-end;
		}
	}
}

form.subscriber_form_wrap{
	display:flex;
    gap: 8px;
    margin-top: 0.75rem;

    .gform_body {
        flex: 1;

        .ginput_container_email input{
        	background: transparent;
		    border: 1px solid #314959;
		    height: 40px;
		    color:$c-white;
        }
    }

    input[type="submit"]{
    	width: 100%;
	    font-size: 14px;
	    padding: 0.75rem;
	    height: 40px;
    }
}