@import '../mixins/container';
@import '../mixins/screen';
@import '../mixins/forms';

.gform_wrapper {
	margin-top: 1em;

	form {

		// GF form title
		.gform_heading {
			margin-bottom: $default-padding * 2;
		}

		.gform_body {

			// A gravity form is wrapped in this unordered list tag
			ul {
				@include list-unstyled;

				// A gravity form input is wrapped in this list item tag
				li {
					margin-bottom: $default-padding;

					&.gfield {
						@include screen($screen-simple) {
							display: flex;
							flex-flow: row wrap;
							.gfield_label {
								flex: 0 0 200px;
								padding-top: 11px;
							}
							.ginput_container {
								flex: 0 0 calc(100% - 200px);

								.medium {
									width: 60%;
								}
							}
						}

						&.gform_hidden {
							display: none;
						}

						select {
							padding-left: 0.8rem;
						}
					}


					.gfield_description {
						font-size: 13px;
						font-style: italic;
					}

					&.hidden_label {
						.gfield_label,
						.gfield_required {
							display: none;
						}
					}

					// Required field
					.gfield_required {
						padding-left: 1px;
						line-height: 1;
						color: #790000;
					}

					// GF Radiobuttons & GF checkboxes
					.gfield_radio,
					.gfield_checkbox {

						// To display checkboxes & radiobutons horizontally, uncomment the lines below
						// display: flex;
						// flex-wrap: wrap;

						// Items in a radiobutton and/or checkbox field
						li {
							margin-bottom: $default-padding/2;

							// To display checkboxes & radiobutons horizontally, uncomment the lines below
							// margin-right: $default-padding/2;
						}

						input {
							position: absolute;
							top: auto;
							left: -9999px;
							opacity: 0;

							&:checked + label {
								&:after {
									display: block;
								}
							}

							&:focus + label:before {
								@include focus-style;
							}
						}

						label {
							@include radiobutton-label;
						}
					}

					// GF Checkboxes
					.gfield_checkbox {
						label {
							@include checkbox-label;
						}
					}

					// GF consent field
					.ginput_container_consent {
						@extend .gfield_checkbox;

						label {
							font-size: 14px;
						}

						@include screen($screen-simple) {
							padding-top: 11px;
						}
					}

					// GF section field
					.gsection {
						&_title {

						}

						&_description {
							margin-top: 10px;
						}
					}

					// Datepicker field
					.ginput_container_date {
						.clear-multi {
							display: flex;
							justify-content: space-between;

							.ginput_container {
								flex: 0 0 32%;
							}

							@include screen($screen-simple) {
								justify-content: flex-start;
								margin: 0 (-$default-padding/2);

								.ginput_container {
									margin: 0 $default-padding/2;
									flex: 1 1 100%;
								}
							}
						}
					}

					.ginput_complex {
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						@include screen($screen-simple) {
							flex: 0 0 calc(100% - 190px) !important;
						}

						& > * + * {
							margin-top: $default-padding;

							&.gf_clear_complex {
								margin-top: 0;
								@include screen($screen-simple) {
									margin-top: $default-padding;
								}
							}

							@include screen($screen-simple) {
								margin-top: 0;
							}
						}

						.ginput_left,
						.ginput_right,
						.name_first,
						.name_last {
							label {
								font-weight: normal;
								font-size: 14px;
								margin-top: $default-padding / 2;
								margin-bottom: 0;
							}

							@include screen($screen-simple) {
								width: 100%;
								padding: 0 $default-padding/2;
							}
						}

						.ginput_right {
							padding-right: 0;
						}

						@include screen($screen-simple) {
							flex-direction: row;
							margin: 0 (-$default-padding/2);
						}
					}

					&.gfield_error {
						position: relative;
						color: $c-red;

						.validation_message {
							@include font-size(14px);
							flex: 1 1 100%;
							@include screen($screen-simple) {
								padding-left: 200px;
							}
						}
					}
				}
			}
		}

		.validation_error {
			position: relative;
			background: none;
			margin: $default-padding/2 0;
			color: $c-red;
		}

		// Honeypot hidden input
		.gform_validation_container,
		.gfield_visibility_hidden {
			display: none !important;
		}
	}
}

.gform_button {
	-webkit-appearance: none;
}
