@import '../config/sizes';
@import '../mixins/container';
@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/sr-only';


.header, header {
    background-color: $c-white;
    width: 100%;

    &__top {
        display: none;
    }
    
    @include screen($screen-normal) {
        
        &__top {
            display: block;
            padding: .5rem 0;
            background-color: $c-lightblue;
        }

        &__nav {
            .nav {
                background: transparent;
            }
        }

        &.scroll {
            background-color: $c-white;
            border-bottom: 1px solid $c-grey;

            &__nav {
                .nav {
                    background: $c-white;
                }
            }
        }
    }

    &__container {
        @include container;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
    }

    &__middle {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        @include screen($screen-normal) {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }

    &__bottom {
        background: $c-darkblue;
    }

    &__cta {
        position: fixed;
        bottom: 0;
        left: 0;
        transform: translate(0, 100%);
        transition: all 0.2s ease-in;
        background-color: $c-white;
        box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
        opacity: 0;
        pointer-events: none;
        z-index: -1;
      
        &-inner {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          padding: 0.75rem 0;
        }
      
        .price__indicator {
          display: inline-block;
          padding: 0;
          line-height: 1;
          font-size: 2rem;
          margin-right: 1rem;
        }
      
        .price__from {
          display: block;
          flex: 1 1 100%;
          padding: 0;
          text-align: center;
        }

        .button {
            width: 230px;
        }
      
        &.is-sticky {
          opacity: 1;
          pointer-events: all;
          transform: translate(0, 0);
        }

        @include screen($screen-normal) {  
            display: flex;
            position: absolute;
            top: 158px;
            right: 0;
            bottom: auto;
            left: 50%;
            transform: translate(-50%, -110%);
            background-color: transparent;
            box-shadow: none;

            &.is-sticky {
                transform: translate(-50%, -100%);
              }
            
            &-inner {
                display: inline-flex;
                background-color: $c-white;
                margin-left: auto;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
                padding-right: 1rem;
                padding-left: 1rem;
            
                .price__indicator, 
                .price__from {
                    display: none;
                }
            }

            .button {
                width: 264px;
            }
        }
    }

    &__nav {
        display: none;
        border-radius: 5px;
        padding: 0.5rem 0;

        &.active {
            position: absolute;
            left: 0;
            top: 0;
            background: $c-darkblue;
            right: 0;
            display: block;
            z-index: 99;
            border-radius: 0;

            /* Fix scroll */
            overflow-y: scroll;
            max-height: 100vh;

            .nav__item {
                border-bottom: 1px solid #192f3c;
            }
        }

        .nav {
            padding: 0;
            border-radius: 0;

            @include screen($screen-normal) {
               background: transparent;
               border-radius: 0;
               padding: 0;
            }

            &__list {
                list-style: none;
            }

            &__item {
                vertical-align: middle;
                position: relative;

                &:nth-last-child(-n+4) {
                    border-bottom: 0;
                }

                @include screen($screen-normal) {
                   border: 0;
                }

                svg {
                    display: none;
                }

                &-dropdown {

                    &.mega__menu {

                        > ul.nav__dropdown {

                            @include screen($screen-normal) {
                                display: flex;
                                width: auto;
                                max-width: 1200px;
                                padding: 1rem;
                                box-sizing: border-box;
                                background: $c-white;
                                border: 1px solid $c-grey--lighter;

                                > li.nav__item {
                                    > a {
                                        font-weight: 700;
                                        color: $c-darkgreen;
                                        margin: 0;
                                        padding: 0;
                                        position: relative;

                                        @include screen($screen-normal) {
                                            &:before {
                                                content: none;
                                            }
                                        }

                                    }   

                                    ul.nav__dropdown_inner {
                                        li.nav__item {
                                            display: block;
                                            margin: 0;
                                            padding: 0;

                                            @include screen($screen-normal) {
                                                &:before {
                                                    content: none;
                                                }
                                            }
                                        }
                                    }
                                }
                        
                            }
                        }
                    }
                }

                .nav {
                    &__dropdown {
                        display: none;
                        padding-left: 1rem;

                        @include screen($screen-normal) {
                            display: block;
                            padding: 1rem 0;

                            .nav__item {
                                padding: 0 1rem;
                            }
                        }

                        .nav__item {
                            border: 0;
                        }
                    }
                }

                &.show {
                    border-bottom: 0;

                    svg {
                        transform: rotate(180deg);
                    }

                    .nav {
                        &__dropdown {
                            display: block;
                        }

                        &__link {
                            &--dropdown {
                            }
                        }
                    }
                }
        
            }

            &__link {
                padding: 0.25rem 1rem;
                display: block;
                color: $c-white;
                text-decoration: none;

                &:hover {
                    color: $c-darkgreen;
                    text-decoration: underline;
                }

                &.nav__link--dropdown {
                    width: calc(100% - 3rem );
                    display: inline-block;

                    @include screen($screen-normal) {
                        width: 100%;
                    }

                    svg {
                        display: inline-block;
                        width: 1rem;
                        text-align: right;
                        float: right;
                        vertical-align: middle;
                        position: absolute;
                        right: 1rem;
                        top: .75rem;

                        path {
                            fill: $c-darkgreen;
                        }

                        @include screen($screen-normal) {
                            top: .65rem;

                            path {
                                fill: $c-darkgreen;
                            }
                        }
                    }
                }
                
                &.button {
                    padding: 0.5rem 1rem;
                    display: inline-block;
                    margin-left: 1rem;
                    margin-top: 1rem;
                    text-align: left;
                    text-decoration: none;

                    a {
                        text-decoration: none; 
                        
                        &:hover {
                            text-decoration: none; 
                        }
                    }

                    &:hover {
                        text-decoration: none;  

                        a {
                            text-decoration: none; 

                        }
                    }
                    
                    @include screen($screen-normal) {
                        margin: 0;
                        min-width: 210px;
                    }

                    svg {
                        display: inline-block;
                        margin-left: 1rem;
                        vertical-align: initial;
                        overflow: visible;

                        right: 1.25rem;
                        top: 0.7rem;
                        position: absolute;
                    }
                }
            }

            .mobile--contact {
                display: block;
                padding: 1rem;

                a {
                    margin-bottom: 1rem;
                    display: inline-block;

                    svg {
                        display: inline-block;
                        vertical-align: middle;
                    }

                    span {
                        vertical-align: middle;
                        color: $c-white;
                    }
                }

                @include screen($screen-normal) {
                    display: none;
                }
            }

        }
    }

    .menu {
        &__indicator {
            padding: 0;
            margin: 0;
            font-weight: 700;
            font-size: 12px;
            position: absolute;
            top: 2.25rem;
            right: 0.65rem;

            @include screen($screen-normal) {
                display: none;
            }
        }
    }

    &__link {
        padding: .4rem;
        /*height: $h-header;*/
        height: auto;
        width: 160px;

        margin: 0 auto;
        /*background: $c-darkgreen;*/

        @include screen($screen-normal) {
            width: 145px;
            margin: unset;
            margin-right: 2rem;
        }
        
        span {
            @include sr-only;
        }
    }

    &__button {
        float: right;
        display: block;
        position: absolute;
        right: 1rem;

        a {
            margin: 0;
        }
    }

    &__logo {
        height: 100%;
        display: inline-block;
        transform: scale(0.75);
        transform-origin: left center;
        line-height: 1;

        @include screen($screen-normal) {
             transform: scale(1);
        }
    }

    &__search {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4rem;
        background: $c-darkblue;
        padding: .5rem 0;
        margin-left: auto;
        display: none;

        &.active {
            display: block;
        }

        @include screen($screen-normal) {
            position: relative;
            background: transparent;
            bottom: 0;
            display: inline-block;
        }


        form {
            position: relative;
            top: 0;
            width: calc(100% - 2rem);
            left: 1rem;

            @include screen($screen-normal) {
                left: 0;
                width: 100%;
            }

            input {
                padding: .313rem 1rem;
                margin: 0;
                width: 100%;
                font-weight: 700;

                @include screen($screen-normal) {
                    width: 360px;
                    padding-right: 56px;
                }
            }
        }
    }

    @include screen($screen-normal) {
        &__nav {
            display: block;
            width: 100%;
            padding: 0;

            .nav {

                &__link {
                    padding: 0.6rem 1rem;
                    font-size: 0.9375rem;
                    font-weight: 700;

                    &--dropdown {
                        padding: 0 3rem 0 0;
                    }
                }

                &__list {
                    display: flex;
                }

                &__item {
                    position: relative;
                    border: 0;
                    border-right: 1px solid #10384F;

                    a {

                        &.nav__link--dropdown {
                            position: relative;
                        }
                    }

                    &:first-child {
                        a {
                            padding-left: 0;
                        }
                    }

                    &:nth-last-child(4) {
                        margin-left: auto;
                    }
                    
                    &:nth-last-child(-n+4) {
                        border-right: none;
                        
                        a {
                            margin-right: 1.25rem;
                            padding-right: 0;
                            padding-left: 0;
                            font-weight: 500;
                        }
                    }

                    &:last-child {
                        a {
                            margin-right: 0;
                        }
                    }

                    &:hover {
                        > .nav__dropdown {
                            opacity: 1;
                            transform: translateX(-50%) scale(1);
                        }
                    }
                }

                &__dropdown {
                    padding: 1rem 0;
                    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
                    top: 1rem;
                    left: 50%;
                    opacity: 0;
                    position: absolute;
                    background: $c-white;
                    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.15);
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    top: 100%;
                    transform: translateX(-50%) scale(0);
                    transform-origin: top center;
                    transition: opacity .2s,transform .2s;

                    &-1 {   
                        > .nav__item {
                            flex-basis: 100%;
                            display: inline-block;
                            float: left;
                            padding: 0 1rem;
                        }
                    }

                    &-2 {
                        
                        > .nav__item {
                            flex-basis: 50%;
                            display: inline-block;
                            float: left;
                            padding: 0 1rem;
                        }
                    }

                    &-3 {

                        > .nav__item {
                            flex-basis: 33.333%;
                            display: inline-block;
                            float: left;
                            padding: 0 1rem;
                        }
                    }

                    &-4 {
                        
                        > .nav__item {
                            flex-basis: 25%;
                            display: inline-block;
                            float: left;
                            padding: 0 1rem;
                        }
                    }

                    &-5 {
                        
                        > .nav__item {
                            flex-basis: 20%;
                            display: inline-block;
                            float: left;
                            padding: 0 1rem;
                        } 
                    }



                    > li {
                        list-style: none;
                        white-space: nowrap;
                        padding: 1rem;
                        margin: 0;

                        a {
                            color: $c-base;
                        }
                    }
                
                    &_inner {
                        > li.nav__item {
                            margin-left: 1rem;
                        }
                    }
                }
            }
        }

        &__toggle {
            display: none;
        }
    }

    @include screen($screen-large) {
        &__nav {
            .nav {

                &__item {
                    &:nth-last-child(-n+4) {
                        a {
                            margin-right: 2.5rem;
                        }
                    }

                    &:last-child {
                        a {
                            margin-right: 0;
                        }
                    }
                }
                
                &__link {
                    padding: 0.6rem 2.5rem;
                }
            }
        }
    }
}
#search--toggle {
	display: flex;
	justify-content: center;
	align-items: center;

    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 4rem;
    text-align: center;
    line-height: 2.5rem;
    background: $c-white;
    border: 1px solid $c-black;
    border-radius: 5px;

    > svg {
        path {
            fill: $c-black;
        }
    }

    @include screen($screen-normal) {
        display: none;
    }
}

#menu--toggle {
    display: inline-block;
    position: absolute;
    top: .5rem;
    cursor: pointer;
    padding: 1rem 0;
    z-index: 99999999;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    z-index: 25;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    right: 1rem;
    cursor: pointer;

    @include screen($screen-normal) {
        display: none;
    }

    &:before, &:after {
        cursor: pointer;
        width: 1.5rem;
        height: 0.2rem;
        transform-origin: center bottom;
        left: 1em;
        background: $c-base;
        position: absolute;
        display: block;
        content: '';
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    span {
        position: relative;
        left: 0;
        width: 1.5rem;
        height: 0.2rem;
        display: block;
        background: $c-base;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    &:before {
        top: 1.5rem;
        left: 0;
    }

    &:after {
        bottom: 1.5rem;
        left: 0;
    }

    &:hover {

        &:before, &:after, span {
            color: $c-darkgreen;
            background: $c-darkgreen;
            transition: all 500ms ease-in-out;
        }

    }

    &.active {
        transform: rotate(225deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        
        span {
            opacity: 0;
            color: $c-darkgreen;
            background: $c-darkgreen;
        }

        &:before {
            top: 1rem;
            left: 0;
            background: $c-darkgreen;
        }

        &:after {
            bottom: 17px;
            left: -2px;
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
            background: $c-darkgreen;
        }  
    }
}


@-webkit-keyframes wiggle {
    0%,
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg)
    }
    25%,
    75% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg)
    }
}

@keyframes wiggle {
    0%,
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    50% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg)
    }
    25%,
    75% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg)
    }
}

@-webkit-keyframes showHide {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@keyframes showHide {
    0%,
    100% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}
