@include screen($screen-normal) {
	.header__nav , header__nav{
	    padding-left: 2.6rem;

		.nav__list{
	    	flex-wrap: wrap;
	    }
		.nav__item{
			border:none;

			.nav__link{
				color:$c-darkblue;
				font-weight: 500;
	    		padding-inline: 2rem;

	    		&.nav__link--dropdown svg {
				    top: 1.3rem;
				    right: 0.7rem;

				    path{
				    	fill:$c-black;
				    }
				}
				&:hover{
					font-weight: 700 !important;
					text-decoration:none;
					padding-inline: 1.97rem;
				}
			}
			.nav__dropdown{
				z-index:9;
				top: 122%;
				text-align: center;
	    		padding: 0.3rem 0.5rem;

				&:before{
					content: "";
				    width: 0;
				    height: 0;
				    border-left: 34px solid transparent;
				    border-right: 34px solid transparent;
				    border-bottom: 34px solid white;
				    position: absolute;
				    top: -17px;
				    right: 0;
				    left: 0;
				    margin: auto;
				}

				.nav__item{
					width: 100%;
	    			border-bottom: 1px solid #F4F4F4;
	    		
	    			.nav__link:hover{
	    				color:$c-darkgreen;
	    			}		
				}
				.nav__item:last-child{
					border:none;
				}
			}
		}
		.nav__item:first-child a{
		    padding-left: 1.98rem;
		}
		.nav__item:nth-last-child(4){
			margin-left:0;
		}
		.nav__item:nth-last-child(-n+4) a{
			margin-right:0;
			padding-inline: 2rem;
		}
		.nav__link--dropdown {
		    padding: 0.6rem 3rem;

		    &:hover{
		    	padding-inline:2.98rem;
		    }
		}
		.nav__dropdown {
			.nav__link{
				padding: 0.3rem 2.5rem;
			}
			.nav__item:first-child a:hover{
				padding-inline:1.92rem;
			}
		}
	}
}

.header__nav , header__nav{
	&.active{
		top:50px;

		.nav__item{
    		border-bottom: none;
		}
	}
}

#menu--toggle {
    top: -0.3rem;
}
.header .menu__indicator, header .menu__indicator{
	top: 1.4rem;
}

.header__middle, header__middle{
	@include screen($screen-normal) {
	    padding-top: 1.1rem;
	    padding-bottom: 1.1rem;
	}
}

header.site__header.scroll{
	@include screen($screen-normal) {
    	top: -0.2rem;
	}

	.header__middle, header__middle{
		@include screen($screen-normal) {
		    padding-top: 0.8rem;
		    padding-bottom: 0.8rem;
		}	
	}
}