@import '../config/sizes';
@import '../mixins/container';
@import '../mixins/screen';
@import '../mixins/sr-only';

.loading-bar {
    animation: shift-rightwards 1s ease-in-out infinite;    
    background: $c-darkgreen;
    display: none;
    height: 3px;
    left: 0;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    top: 0;
    z-index: 999999999;

    &.is-loading {
        display: block;
    }
}

@keyframes shift-rightwards
{
    0%
    {
        transform:translateX(-100%);
    }

    40%
    {
        transform:translateX(0%);
    }

    60%
    {
        transform:translateX(0%);
    }

    100%
    {
        transform:translateX(100%);
    }
}