@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';

.section--modellen {

	.overlay {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $c-darkblue;
		z-index: 5;
		opacity: .5;
		cursor: pointer;

		&.active {
			display: block;
		}

		@include screen($screen-normal) {
			display: none!important;
		}
	}
	aside {
		/*flex: 1 0 100%;*/
		/*display: none;*/

		transform: translate3d(-110%, 0, 0);
		position: fixed;
		z-index: 5;
    border-right: 1px solid #e8e8e8;
    box-shadow: 0 0 4px #00000012;
    height: 100%;
    max-width: 320px;
    top: 0;
    bottom: 0;
    padding: 8rem 1rem 5rem 1rem;
    transition: transform .5s;
    background: $c-lightblue;

		&.active {
			transform: translate(-1rem);
		    height: 100%;
		    max-width: 320px;
		    transition: transform .5s;
		    overflow-y: scroll;
		}

	    @include screen($screen-normal) {
	    	flex: 0 0 25%;
	    	margin-right: 2rem;
	    	display: block;
	    	position: inherit;
	    	transform: translate3d(0, 0, 0);
	    	border-right: 0;
	    	padding: 0;
	    	max-width: inherit;
	    	box-shadow: none;
	    	background: transparent;
		    border-radius: 5px;

	    	&.active {
	    		background: transparent;
	    		position: inherit;
		    	transform: translate3d(0, 0, 0);
		    	border-right: 0;
		    	padding: 0;
		    	max-width: inherit;
		    	box-shadow: none;
	    	}
	    }
	}

	.index--content {
		flex: 1 0 100%;

    	.filter--toggle {
        margin-bottom: 1rem;
        position: fixed;
        left: 50%;
        bottom: 1rem;
        transform: translateX(-50%);
        z-index: 4;
        opacity: 0;
        pointer-events: none;
        transition: opacity .25s ease-in-out;

        &--sticky {
          opacity: 1;
          pointer-events: auto;
        }
      }

	    @include screen($screen-normal) {
	    	flex: 0 0 70%;

	    	.filter--toggle {
	    		display: none;
	    	}
	    }
	}
}

.custom__label {
	position: absolute;
	left: 0rem;
	background: $c-darkgreen;
	padding: 0 1rem;
	top: 1rem;
	color: $c-white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8rem;
	z-index: 3;
}

.model--card {
	flex: 1 0 100%;
    max-width: 100%;
    min-width: 100%;
	position: relative;
	background: $c-white;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(166,174,188,0.5);
	margin-bottom: 2rem;
	z-index: 3;
	padding: .75rem;

	&:hover {
		box-shadow: 0 0 30px 0 rgba(166, 174, 188, 0.5);
	}

	&__container {
	    display: flex;
	    flex-wrap: wrap;
	    align-items: flex-start;
	    justify-content: space-between;
	}

	&__image, &__meta, &__prices {
		flex: 1 0 100%;

		@include screen($screen-normal) {
			flex: 1 0 30%;
		}
	}

	&__image {
		overflow: hidden;

		img {
			transition: transform .5s;

			&:hover {
			    transform: scale(1.15);
	    		transition: transform .5s;
			}
		}
	}

	&__meta {
		@include screen($screen-normal) {
			padding-left: 1rem;
		}
	}

	&__title {
		margin: 0;
		text-decoration: none;
		line-height: inherit;
		font-family: 'Montserrat', sans-serif;
		color: $c-black;

		a {
			color: $c-black;
			text-decoration: none;
			line-height: inherit;
			font-family: 'Montserrat', sans-serif;
		}
	}

	&__horizontal {

		.button {
			&__group {
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				@include screen($screen-normal) {
					display: inherit;
				}


				.price__container {
					flex: 1 0 100%;
					margin-bottom: 1rem;

					@include screen($screen-normal) {
						flex: 1 0 50%;
						margin-bottom: 0;
					}
				}

				.button {
					/*flex: 1 0 100%;*/

					@include screen($screen-normal) {
						flex: 1 0 50%;
					}
				}
			}
		}

		.price {
			&__container {
				line-height: 1;
			}

			&__indicator {
				font-size: 1.75rem;
			}

			&__from {
				vertical-align: sub;
			}
		}
	}
}

.price {
	&__indicator {
		color: $c-darkgreen;
		font-size: 2.5625rem;
		font-weight: 700;
	}

	&__from {
		color: #A6AEBC;
		font-size: 0.725rem;
		display: inline-block;
	    line-height: 1.5;
		padding-left: 0.5rem;
	}
}


body.hide-business {
	.model--card {
		.button__group-business {
			display: none;
		}
	}
}

body.hide-private {
	.model--card {
		.button__group-private {
			display: none;
		}
	}
}
