.noUi-connect {
  background: $c-darkgreen;
}

.noUi-target {
  border: 0;
  background: $c-lightgrey;
}

.noUi-horizontal {
  height: 11px;

  .noUi-handle {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    top: -8px;
    //right: -1px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);

    &:before,
    &:after {
      display: none;
    }
  }
}

.noUi-marker-horizontal.noUi-marker-large {
  display: none;
}

.noUi-value.noUi-value-horizontal.noUi-value-large {
  line-height: 1;
  color: $c-base;
}

.noUi-origin {
  //right: 0px;
}

.noUi-value {
  //transform: translate(-27px, 50%);
  //
  //&:last-of-type,
  //&:last-child {
  //  left: auto!important; // overrule noUi standard styling..
  //  right: 0;
  //  transform: translate(0, 50%);
  //}
  //
  //&:nth-child(2){
  //  transform: translate(-24px, 50%);
  //}
}

.current-range {
  text-align: center;
  color: $c-darkgreen;
  margin-bottom: 9px;
  margin-top: -7px;
}

.noUi-target
{
  width: 93%;
}
