@import "../mixins/container";

.pagination {
    z-index: 1;
    position: relative;
    display: block;

	&__list {
		list-style: none;
		text-align: right;
	}

	&__item {
		display: inline-block;
		margin-right: .5rem;
		border: 1px solid $c-grey;
		border-radius: 5px;
		background: $c-white;

		span, a {
			line-height: 3.125rem;
			text-decoration: none;
			color: $c-base;
			display: block;
			height: 3.125rem;
			width: 3.125rem;
			text-align: center;
			color: $c-base;
		}

		&.is-current {
			border-color: $c-darkgreen;

			&:hover {
				background: $c-white;
				color: $c-base;

				span, a {
					color: $c-base;	
				}
			}
		}

		&:hover {
			background: $c-darkgreen;
			color: $c-white;

			span, a {
				color: $c-white;	
			}
		}
	}
}
