.quote-details {
  width: 100% ;
  box-shadow: 0 3px 6px #E1E9F0;
  border-radius: $border-radius;
  overflow: hidden;
  margin-bottom: 2em;

  &__image-container {
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    background-color: $c-white;
    padding: 20px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__feature {
    display: flex;
    flex-flow: row nowrap;
    padding: .5em 0;

    + .quote-details__feature {
      border-top: 1px solid $c-grey--lighter;
    }
  }

  &__feature-name {
    flex: 0 0 150px;
  }

  &__feature-value {
    display: flex;
    flex: 1 1 100%;
    justify-content: flex-end;
    font-weight: bold;
  }

  &__cta {
    margin-top: 1em;
  }
}

.section-holder__quote-form {
  @include screen($screen-simple) {
    .column__item {
      &:nth-child(1) {
        min-width: 0;
        max-width: none;
      }
      &:nth-child(2) {
        min-width: 350px;
        max-width: 350px;
        flex: 0 0 350px;
      }
    }
  }
}

.quote-specials {
  &__container {
    width: 100% ;
    box-shadow: 0 3px 6px #E1E9F0;
    border-radius: $border-radius;
    overflow: hidden;
    background-color: $c-white;
    padding: 20px;
  }

  &__item {

  }

  &__item--icon {
    position: relative;
    padding-left: 25px;
    font-weight: bold;
    svg {
      left: 0;
      top: 10px;
      position: absolute;
    }
  }
}
