@import '../config/colors';
@import '../config/sizes';
@import '../mixins/clear-fix';
@import '../mixins/screen';
@import '../mixins/typography';

.section {
    padding: 4rem 0;

    &.no_margin_top {
      padding-top: 0;
      margin-top: 0;
    }

    &.no_margin_bottom {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    
    &--background_dark{
        background: $c-grey--lighter;
    }

    &--background_white{
        background: $c-white;
    }

    &--background_light,
    &--background {
        background: $c-lightblue;
        
        &_shear {
            position: relative;

            &:before {
                content: '';
/*                position: absolute;
                bottom: -20%;
                height: 100%;
                background: $c-lightblue;
                left: 0%;
                width: 100%;
                right: 0;
                z-index: -1;
                transform: skewY(-10deg);*/
                position: absolute;
                z-index: -1;
                left: 0;
                width: 200%;
                top: 0;
                right: 0;
                bottom: 0;
                background: $c-lightblue;
                transform: skewY(-5deg);
            }
        }
    }

    &__header {
        @include clear-fix;
        padding: $p-gutter;

        & ~ .section__content {
            margin-top: 2rem;
        }
    }

    &__intro {
        @include clear-fix;
        margin: 0;
        max-width: $w-content;
    }

    &__container {
        @include container;
        @include flex;
        flex-wrap: wrap;
    }

    &__content {
        @include container;
        @include clear-fix;
    }

    &__footer {
        padding: 1.5rem 1rem 1rem;
        text-align: center;
    }

    &__title {
        @include style-heading-1;
        display: inline-block;
        margin: 0 0 1.5rem;
        position: relative;
    }

    &--text {
        .section__content {
            max-width: $w-content;
        }
    }

    &--faq {
        &__content {

            @include screen($screen-normal) {
                max-width: 50%; 
            }
        }
    }
}

.align--items {
    &_top {
        .column__container {
            align-items: flex-start;
        }
    }

    &_center {
        .column__container {
            align-items: center;
        }
    }

    &_bottom {
        .column__container {
            align-items: flex-end;
        }
    }
}