@import '../config/sizes';
@import '../mixins/screen';

* {
  line-height: 2;
}

a {
  color: $c-darkgreen;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

body {
  overflow-x: hidden;
  max-width: 100vw;

  &.menu-open {
    overflow: hidden;
  }
}

.site {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;

  &__header {
    flex: 0 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: top .5s;

    @include screen($screen-normal) {      
      &.scroll {
        top: -2.5rem;
        transition: top .5s;
      }
    }
  }

  &__main {
    flex: 1 0 auto;
    overflow-x: hidden;
    max-width: 100vw;
    margin-top: 0;
    padding-top: 4.5rem;

    @include screen($screen-normal) {
      padding-top: 6rem;
    }
  }

  &__footer {
    flex: 0 0 auto;
  }
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 0 1rem;

  &.large {
    max-width: 1280px;
  }

  &.medium {
    max-width: 1024px;
  }

  &.small {
    max-width: 768px;
  }

  &.smallest {
    max-width: 578px;
  }

  &.none {
    max-width: inherit;
  }
}

.flexbox--container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section {
  padding: 2rem 0;
}

.text_align{
  &--left {
    text-align: left;
  }
  
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  } 
}

.align--items {
  &_top {
    align-items: flex-start;
  }

  &_center {
    align-items: center;
  }

  &_bottom {
    align-items: flex-end;
  }
}

.w-100{
  width:100%;
  flex:0 0 100%;
}