@import '../config/sizes';
@import '../mixins/container';
@import '../mixins/screen';
@import '../mixins/sr-only';

.slick {
   &-dots {
        li {
            button {
                &:before {
                    font-size: 1rem!important;
                    color: $c-darkgreen;
                }
            }

            &.slick-active {
                button {
                    &:before {
                        color: $c-darkgreen;
                        font-size: 1rem;
                    }
                }
            }
        }
   }

   &-slide {
       > div {
           vertical-align: bottom;
           line-height: 0;
       }
   }

    &-slider {
        .slick {
            &-prev,
            &-next {
                z-index: 9;
                border-radius: 0;
                height: 24px;
                width: 14px;

                &::before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 24px;
                    background-image: url('./../images/arrow.png');
                }
           } 

           &-prev {
                left: 1.25rem;
                
                &::before {
                    transform: scaleX(-1);
                }
           }

           &-next {
                right: 1.25rem;
           }
       }
   }
}