.tooltip-icon {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #6B7B93;
  color: #6B7B93;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  font-size: 9px;
  font-style: normal;

  &::before {
    content: 'i';
  }

  .tooltip {
    position: absolute;
    bottom: 0;
    left: 100%;
    transform: translate(0.5rem, 8px);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }

  @include screen($screen-normal) {
    .tooltip {
      bottom: 100%;
      left: 50%;
      transform: translate(-49%, -0.5rem);
    }
  }
}

.tooltip {
  display: inline-flex;
  position: relative;
  align-items: center;
  border-radius: rem(8px);
  background-color: $c-black;
  color: $c-white;
  font-size: 0.8125rem;
  line-height: 1;
  text-align: center;
  border-radius: 4px;
  font-weight: 400;
  padding: 0.25rem 0.75rem;
  
  &::after {
    content: '';
    position: absolute;
    width: 0; 
    height: 0; 
    bottom: 10px;
    left: -3px;
    transform: translate(-50%, 0) rotate(-180deg);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid $c-black;
  }

  &__text {
    white-space: nowrap;
  }

  @include screen($screen-normal) {

      &::after {
        bottom: -3px;
        left: 50%;
        transform: translate(-50%, 0) rotate(45deg);
        border-top: 6px solid transparent;
        border-bottom: 6px solid $c-black;
        border-left: 6px solid transparent; 
      }
  }
}
