{# Middle #}
<div class="header__middle">
    <div class="header__container">
        <a class="header__logo" href="/">
            <img src="{{ site_url }}app/themes/brandfirm/dist/images/logo.png" width="170" height="40"></a>
            <nav class="header__nav">
                {% include 'components/nav.twig' with {
				'isHome': isHome,
				'items': items,
				'cssClass': ''
			} %}
            </nav>

            <a href="javascript:void(0);" id="menu--toggle">
                <span></span>
            </a>
            <p class="menu__indicator">
                MENU
            </p>
        </div>
    </div>

    {# Sticky button #}
    {% if post.post_type == 'models' %}
        <div class="header__cta wrapper js-sticky-container">
            <div class="header__cta-inner">
                <p class="price__indicator js-sticky-price"></p>
                <a href="#configurator" class="button button__primary button__arrow-up">
                    <span>
                        {{ single_model.quote_button_text }}
                    </span>
                    <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero" />
                    </svg>
                </a>

                {% if not post.meta('configurator_occasion') %}
                    <small class="price__from">
                        Vanafprijs p/m o.b.v. 10.000 km en looptijd van 60 maanden.
                    </small>
                {% endif %}
            </div>
        </div>
    {% endif %}
    
