{%- import 'macros/html.twig' as html -%}

<div class="usps usps--inline">
    <ul class="usps__list">
        {% for usp in structured.usps %}
            <li class="usps__item"><svg width="30" height="30" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="32" height="32" rx="16" fill="#04BC83"/>
<path d="M15.562 20.4214C18.0729 17.7349 20.497 15.9123 23.5418 13.3314C24.4532 12.5589 24.5939 11.2047 23.879 10.2454C23.1192 9.22574 21.6753 9.02193 20.6981 9.83252C17.909 12.1459 15.7391 14.3734 13.6807 16.7542C13.5727 16.8791 13.5187 16.9416 13.4627 16.9767C13.3205 17.0659 13.1429 17.0669 12.9998 16.9792C12.9434 16.9446 12.8893 16.8834 12.7811 16.7608L11.6843 15.519C10.6835 14.3859 8.88848 14.5113 8.0529 15.7727C7.46817 16.6555 7.55482 17.8253 8.26314 18.611L9.98309 20.519C11.2695 21.946 11.9128 22.6595 12.685 22.6665C13.4572 22.6735 14.1588 21.9228 15.562 20.4214Z" fill="white"/>
</svg><span>{{ usp.post_title }}</span></li>
        {% endfor %}
    </ul>
</div>