{%- import 'macros/html.twig' as html -%}

{% set pagination = pagination|default(0) %}

{% if pagination and pagination.pages is not empty %}
    <div class="pagination">
        <ul class="pagination__list">
            {% for page in pagination.pages %}
                <li class="pagination__item{% if page.current %} is-current{% endif %}">
                    {% if page.link %}
                        {% if ajax %}  
                           <a href="{{ page.link|replace({'wp/wp-admin/admin-ajax.php':  'models' }) }}" class="pagination__link">{{ page.title }}</a>
                        {% else %}
                            <a href="{{ page.link }}" class="pagination__link">{{ page.title }}</a>
                        {% endif %}  
                    {% else %}
                        <span>{{ page.title }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
