{# If we have a slider create a whole section #}
{% if reviews %}
<section class="reviews">
	<div class="section__container">
		<div class="reviews__header">
			<h2>{{ review_settings.review_slider_title }}</h2>
			<a href="{{ review_settings.review_archive_link }}" title="{{ review_settings.review_slider_link_title }}" class="link-arrow">
				{{ review_settings.review_slider_link_title }}
			</a>
			<div class="reviews__arrows"></div>
		</div>
		{# Slick slider wrapper #}
		<div class="js-reviews {{ sliderClass }}">
			<div class="reviews__wrapper">
				{% endif %}
				{# Only code needed when there is no slider #}
				{# options cssClass review--list review--third, review--half or review--no-image #}

				{# Only code needed when there is no slider #}
				{# options cssClass review--list review--third, review--half or review--no-image #}
				{% if reviews %}
					{% for review in reviews %}
						{% include 'components/review.twig' with {
							'review': review,
							'cssClass': cssClass,
							'trim': true
						} %}
					{% endfor %}
				{% endif %}
				{% if slider %}
			</div>
		</div>
	</div>
</section>
{% endif %}
