<div class="overlay" data-banner></div>

<aside class="index--summary">

	<form data-cars data-site={{ site.link }}>

		<div class="close--filter">Sluiten
			<svg width="10" height="10" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.414 5l3.293 3.293a1 1 0 11-1.414 1.414L5 6.414 1.707 9.707A1 1 0 11.293 8.293L3.586 5 .293 1.707A1 1 0 111.707.293L5 3.586 8.293.293a1 1 0 111.414 1.414L6.414 5z" fill="#000" fill-rule="nonzero"/>
			</svg>
		</div>

		<div class="filter__card " {% if not brands and not leases %}style="display: none"{% endif %}>
			{% if leases %}
				<div class="filter__block type {% if brands %}filter__divider{% endif %}">
					<div class="filter__label">
						<strong>Soort lease</strong>
						{% if(tooltips.lease) %}
							<i data-tooltip="{{ tooltips.lease }}" class="filter__label__info">i</i>
						{% endif %}
					</div>
					{% for lease in leases %}
						<div class="filter__checkbox {% if loop.index > 5 %}filter__checkbox--hidden filter__checkbox--maybe-hidden{% endif %}">
							<input type="checkbox" autocomplete="off" id="lease-{{ lease.id }}" data-input-lease data-lease-id="{{ lease.id }}"><label for="lease-{{ lease.id }}">{{ lease.title }}</label>
						</div>
					{% endfor %}

					{% if leases|length > 5 %}
						<button class="view-more button button__text">{% include 'svg/arrow_down.twig' %}{{ __('Toon meer') }}</button>
						<button class="view-less button button__text">{% include 'svg/arrow_down.twig' %}{{ __('Toon minder') }}</button>
					{% endif %}

				</div>
			{% elseif lease_id %}
				<input type="hidden" id="lease-{{ lease_id }}" data-input-lease data-lease-id="{{ lease_id }}">
			{% endif %}

			{% if brands %}
				<div class="filter__block brands">
					<div class="filter__label">
						<strong>Merk</strong>
						{% if(tooltips.brand) %}
							<i data-tooltip="{{ tooltips.brand }}" class="filter__label__info">i</i>
						{% endif %}
					</div>

					{% for brand in brands %}
						{% if brand.id != 1 %}
							<div class="filter__checkbox {% if loop.index > 5 %}filter__checkbox--hidden filter__checkbox--maybe-hidden{% endif %}">
								<input type="checkbox" autocomplete="off" id="brand-{{ brand.id }}" data-input-brand data-brand-id="{{ brand.id }}"><label for="brand-{{ brand.id }}">{{ brand.title }}</label>
							</div>
						{% endif %}
					{% endfor %}
					{% if brands|length > 5 %}
						<button class="view-more button button__text">{% include 'svg/arrow_down.twig' %}{{ __('Toon meer') }}</button>
						<button class="view-less button button__text">{% include 'svg/arrow_down.twig' %}{{ __('Toon minder') }}</button>
					{% endif %}

				</div>
			{% endif %}

			{% if term %}
				<input type="hidden" id="term-{{ term }}" class="data-input-term" value="{{ term }}">
			{% endif %}
		</div>

		{% if delivery_times %}
			<div class="filter__card ">
				<div class="filter__block delivery-times">
					<div class="filter__label">
						<strong>Levertijd</strong>
						{% if(tooltips.delivery_time) %}
							<i data-tooltip="{{ tooltips.delivery_time }}" class="filter__label__info">i</i>
						{% endif %}
					</div>

					{% for delivery_time in delivery_times %}
						{% if delivery_time.id != 1 %}
							<div class="filter__checkbox {% if loop.index > 5 %}filter__checkbox--hidden filter__checkbox--maybe-hidden{% endif %}">
								<input type="checkbox" autocomplete="off" id="delivery_time-{{ delivery_time.id }}" data-input-delivery_time data-delivery_time-id="{{ delivery_time.id }}"><label for="delivery_time-{{ delivery_time.id }}">{{ delivery_time.title }}</label>
							</div>
						{% endif %}
					{% endfor %}

					{% if delivery_times|length > 5 %}
						<button class="view-more button button__text">{% include 'svg/arrow_down.twig' %}{{ __('Toon meer') }}</button>
					{% endif %}
				</div>
			</div>
		{% endif %}

		{% if tax_additions %}
			<div class="filter__card ">
				<div class="filter__block tax-additions">
					<div class="filter__label">
						<strong>Bijtelling</strong>
						{% if(tooltips.tax_addition) %}
							<i data-tooltip="{{ tooltips.tax_addition }}" class="filter__label__info">i</i>
						{% endif %}
					</div>

					{% for tax_addition in tax_additions %}
						{% if tax_addition.id != 1 %}
							<div class="filter__checkbox {% if loop.index > 5 %}filter__checkbox--hidden filter__checkbox--maybe-hidden{% endif %}">
								<input type="checkbox" autocomplete="off" id="tax_additions-{{ tax_addition.id }}" data-input-tax_addition data-tax_addition-id="{{ tax_addition.id }}"><label for="tax_additions-{{ tax_addition.id }}">{{ tax_addition.title }}&percnt;</label>
							</div>
						{% endif %}
					{% endfor %}

					{% if tax_additions|length > 5 %}
						<button class="view-more button button__text">{% include 'svg/arrow_down.twig' %}{{ __('Toon meer') }}</button>
					{% endif %}
				</div>
			</div>
		{% endif %}

		<div id="js-price-slider" class="filter__card ">
			<div class="filter__block filter__block-range">
				<div class="filter__label">
					<strong>Leaseprijs</strong>
					{% if(tooltips.price) %}
						<i data-tooltip="{{ tooltips.price }}" class="filter__label__info">i</i>
					{% endif %}
				</div>
				<div class="current-range">
					<span id="current-range__start"></span>
					<span class=""> {{ __('tot') }} </span>
					<span id="current-range__end"></span>
					<span> {{ __('euro') }}</span>
				</div>
				<div id="price-slider"></div>
			</div>
		</div>

		<div id="js-car-range-slider" class="filter__card ">
			<div class="filter__block filter__block-range">
				<div class="filter__label">
					<strong>Actieradius</strong>
					{% if(tooltips.range) %}
						<i data-tooltip="{{ tooltips.range }}" class="filter__label__info">i</i>
					{% endif %}
				</div>
				<div class="current-range">
					<span id="current-range__start"></span>
					<span class=""> {{ __('tot') }} </span>
					<span id="current-range__end"></span>
					<span> {{ __('km') }}</span>
				</div>
				<div id="car-range-slider"></div>
			</div>
		</div>

		<div id="js-contract-slider" class="filter__card " style="display: none">
			<div class="filter__block filter__block-range">
				<div class="filter__label">
					<strong>Contractduur</strong>
					{% if(tooltips.range) %}
						<i data-tooltip="{{ tooltips.range }}" class="filter__label__info">i</i>
					{% endif %}
				</div>
				<div class="current-range">
					<span id="current-range__start"></span>
					<span class=""> {{ __('tot') }} </span>
					<span id="current-range__end"></span>
					<span> {{ __('maanden') }}</span>
				</div>
				<div id="contract-slider"></div>
			</div>
		</div>

		<div id="js-km-per-year-slider" class="filter__card " style="display: none">
			<div class="filter__block filter__block-range">
				<div class="filter__label">
					<strong>Kilometers per jaar</strong>
					{% if(tooltips.range) %}
						<i data-tooltip="{{ tooltips.range }}" class="filter__label__info">i</i>
					{% endif %}
				</div>
				<div class="current-range">
					<span id="current-range__start"></span>
					<span class=""> {{ __('tot') }} </span>
					<span id="current-range__end"></span>
					<span> {{ __('KM') }}</span>
				</div>
				<div id="km-per-year-slider"></div>
			</div>
		</div>

		{% if type %}
			<div class="filter__card ">
				<div class="filter__block filter__block-type type">
					<div class="filter__label">
						<strong>Type auto</strong>
						{% if(tooltips.type) %}
							<i data-tooltip="{{ tooltips.type }}" class="filter__label__info">i</i>
						{% endif %}
					</div>

					{% for category in type %}

						{% if category.id != 1 %}
							<div class="filter__checkbox">

								<input type="checkbox" {% if get_variables.type == category.slug %}checked="checked"{% endif %} autocomplete="off" id="type-{{ category.id }}" data-input-type data-type-id="{{ category.id }}">

								<label for="type-{{ category.id }}">

									{% if category.id == 74 %}
										<svg width="78" height="40" xmlns="http://www.w3.org/2000/svg">
											<g fill="#000" fill-rule="nonzero">
												<path d="M59.8 26.563c-3.584 0-6.5 2.979-6.5 6.64 0 3.662 2.916 6.642 6.5 6.642s6.5-2.98 6.5-6.641c0-3.662-2.916-6.641-6.5-6.641zm0 10.625c-2.15 0-3.9-1.788-3.9-3.984 0-2.197 1.75-3.985 3.9-3.985s3.9 1.788 3.9 3.985c0 2.196-1.75 3.984-3.9 3.984z"/>
												<path d="M77.62 25.624l-.92-.939V1.328C76.7.595 76.12 0 75.4 0H16.9a1.29 1.29 0 00-1.065.567L6.837 13.7c-2.65 2.246-5.113 5.157-5.506 10.953l-.949.971a1.334 1.334 0 00-.382.939v2.656c0 .352.137.69.38.94l.92.938v2.107c0 .733.581 1.328 1.3 1.328h5.2c.719 0 1.3-.595 1.3-1.328 0-5.127 4.083-9.297 9.1-9.297 5.017 0 9.1 4.17 9.1 9.297 0 .733.58 1.328 1.3 1.328h20.8c.719 0 1.3-.595 1.3-1.328 0-5.127 4.083-9.297 9.1-9.297 5.016 0 9.1 4.17 9.1 9.297 0 .733.58 1.328 1.3 1.328h5.2c.718 0 1.3-.595 1.3-1.328v-2.107l.919-.939a1.34 1.34 0 00.38-.939v-2.656c.001-.352-.135-.69-.38-.939zM17.576 2.656H28.6v10.626H10.297l7.28-10.626zM75.4 28.67l-.92.94a1.34 1.34 0 00-.38.938v1.328h-2.673C70.778 25.907 65.812 21.25 59.8 21.25c-6.013 0-10.979 4.657-11.627 10.625H29.827C29.18 25.907 24.213 21.25 18.2 21.25c-6.012 0-10.978 4.657-11.627 10.625H3.9v-1.328c0-.352-.136-.69-.38-.939l-.92-.939v-1.556l.92-.94a1.34 1.34 0 00.379-.877c.045-1.01.168-1.898.336-2.717H6.5c.719 0 1.3-.595 1.3-1.329 0-.733-.581-1.328-1.3-1.328H5.104c.755-1.584 1.826-2.817 3.167-3.984H29.9c.718 0 1.299-.595 1.299-1.328V2.656h42.9v17.266h-1.3c-.719 0-1.3.595-1.3 1.328 0 .733.581 1.328 1.3 1.328h1.3v2.657c0 .352.137.69.38.939l.92.939v1.556z"/>
												<path d="M18.2 26.563c-3.584 0-6.5 2.979-6.5 6.64 0 3.662 2.916 6.641 6.5 6.641s6.5-2.979 6.5-6.64c0-3.662-2.916-6.641-6.5-6.641zm0 10.625c-2.15 0-3.9-1.788-3.9-3.984 0-2.197 1.75-3.985 3.9-3.985s3.9 1.788 3.9 3.985c0 2.196-1.75 3.984-3.9 3.984z"/>
											</g>
										</svg>
									{% elseif category.id == 119 %}
										<svg width="95" height="40" xmlns="http://www.w3.org/2000/svg">
											<g fill="#000" fill-rule="nonzero">
												<path d="M74.42 23.986c-4.365 0-7.916 3.577-7.916 7.974s3.55 7.975 7.915 7.975 7.916-3.578 7.916-7.975-3.55-7.974-7.916-7.974zm0 12.759c-2.62 0-4.75-2.147-4.75-4.785 0-2.637 2.13-4.784 4.75-4.784 2.618 0 4.749 2.147 4.749 4.784 0 2.638-2.13 4.785-4.75 4.785zM23.759 23.986c-4.365 0-7.916 3.577-7.916 7.974s3.55 7.975 7.916 7.975c4.365 0 7.916-3.578 7.916-7.975s-3.552-7.974-7.916-7.974zm0 12.759c-2.619 0-4.75-2.147-4.75-4.785 0-2.637 2.131-4.784 4.75-4.784 2.618 0 4.75 2.147 4.75 4.784 0 2.638-2.13 4.785-4.75 4.785z"/>
												<path d="M93.417 22.391v-7.974c0-.57-.302-1.097-.791-1.38-6.548-3.805-14.458-4.99-22.907-3.44L57.39 6.49a1.581 1.581 0 00-1.885 1.043l-1.31 3.955c-5.44 1.297-10.492.994-13.719.531l6.327-4.248a1.605 1.605 0 00.24-2.454L42.292.532a1.576 1.576 0 00-1.997-.2l-13.82 9.282C11.84 9.095 4.795 15.793 1.843 19.94c-.172.272-4.163 6.715.165 11.5.228.25.529.422.86.49l7.915 1.594a1.575 1.575 0 001.314-.33c.367-.303.58-.754.58-1.233 0-6.156 4.97-11.163 11.082-11.163 6.11 0 11.082 5.007 11.082 11.163 0 .88.709 1.595 1.583 1.595h25.33a1.59 1.59 0 001.583-1.595c0-6.156 4.971-11.163 11.082-11.163 6.111 0 11.082 5.007 11.082 11.163 0 .88.71 1.595 1.583 1.595h6.333A1.59 1.59 0 0095 31.96v-7.974c0-.88-.707-1.595-1.583-1.595zm-1.58 7.975H88.581c-.79-7.167-6.84-12.76-14.162-12.76-7.322 0-13.37 5.592-14.161 12.76H37.92c-.79-7.167-6.84-12.76-14.161-12.76-7.212 0-13.188 5.423-14.122 12.434L4.04 28.913c-2.145-2.962.428-7.187.425-7.187.209-.295.454-.609.717-.93h2.747a1.59 1.59 0 001.583-1.594c0-.716-.478-1.3-1.122-1.5 3.628-2.79 9.43-5.309 18.464-4.881.342.006.671-.078.951-.266L40.974 3.71l2.466 2.485-7.892 5.3c-.51.342-.779.952-.688 1.563.091.61.524 1.114 1.111 1.291.38.114 9.455 2.788 19.857.015a1.59 1.59 0 001.098-1.037l1.119-3.384 11.243 2.83c.224.06.456.064.681.02 5.261-1.012 12.97-1.356 20.285 2.561v2.252h-1.583a1.59 1.59 0 00-1.583 1.595c0 .88.71 1.594 1.583 1.594h1.583v3.19c0 .88.71 1.595 1.583 1.595v4.785z"/>
											</g>
										</svg>
									{% elseif category.id == 72 %}
										<svg width="87" height="40" xmlns="http://www.w3.org/2000/svg">
											<g fill="#000" fill-rule="nonzero">
												<path d="M68.15 25.396c-3.998 0-7.25 3.244-7.25 7.231 0 3.988 3.252 7.232 7.25 7.232s7.25-3.244 7.25-7.232c0-3.987-3.252-7.231-7.25-7.231zm0 11.57a4.35 4.35 0 01-4.35-4.339 4.35 4.35 0 014.35-4.339 4.35 4.35 0 014.35 4.34 4.35 4.35 0 01-4.35 4.338zM18.85 25.396c-3.998 0-7.25 3.244-7.25 7.231 0 3.988 3.252 7.232 7.25 7.232s7.25-3.244 7.25-7.232c0-3.987-3.252-7.231-7.25-7.231zm0 11.57a4.35 4.35 0 01-4.35-4.339 4.35 4.35 0 014.35-4.339 4.35 4.35 0 014.35 4.34 4.35 4.35 0 01-4.35 4.338z"/>
												<path d="M76.446 12.385C73.366 7.179 69.06 2.465 59.7.83L59.647.82C42.363-1.562 29.386 2.327 21.054 12.385c-9.632.138-19.604 3.168-19.604 8.672v4.339c-.8 0-1.45.648-1.45 1.446v5.785c0 .798.65 1.446 1.45 1.446h5.8c.8 0 1.45-.648 1.45-1.446 0-5.583 4.553-10.124 10.15-10.124S29 27.044 29 32.627c0 .798.65 1.446 1.45 1.446h26.1c.8 0 1.45-.648 1.45-1.446 0-5.583 4.553-10.124 10.15-10.124S78.3 27.044 78.3 32.627c0 .798.65 1.446 1.45 1.446h5.8c.8 0 1.45-.648 1.45-1.446v-4.339c0-.353-1.142-3.728-4.245-8.288-1.046-1.538-3.149-4.076-6.309-7.615zm-9.675-6c2.519 1.54 4.395 3.574 6.023 5.994h-6.08l.057-5.994zM49.3 3.034c3.102-.042 6.4.165 9.925.65 1.746.307 3.28.743 4.66 1.284l-.07 7.412H49.3V3.034zm-2.9.123v9.223H24.972C30.347 6.85 37.435 3.793 46.4 3.157zM84.1 31.18h-2.98c-.723-6.5-6.264-11.57-12.97-11.57s-12.247 5.07-12.97 11.57H31.82c-.723-6.5-6.264-11.57-12.97-11.57S6.603 24.68 5.88 31.18H2.9v-2.893c.8 0 1.45-.648 1.45-1.446v-4.339H5.8c.8 0 1.45-.648 1.45-1.446 0-.799-.65-1.446-1.45-1.446h-.751c1.962-2.125 7.963-4.34 16.701-4.34h53.414c3.682 3.433 6.66 7.772 8.936 13.017v2.893z"/>
											</g>
										</svg>
									{% elseif category.id == 86 %}
										<svg width="91" height="40" xmlns="http://www.w3.org/2000/svg">
											<g fill="#000" fill-rule="evenodd">
												<path d="M85.57 34.071v-2.723h2.334l.038.443v-4.357a1.45 1.45 0 01-1.446-1.452v-2.905H85.05a1.45 1.45 0 01-1.446-1.452 1.45 1.45 0 011.446-1.452h1.446v-2.05c-3.915-2.091-7.954-2.849-11.595-2.933v-2.906c5.008.106 9.675 1.36 13.761 3.727.447.258.723.739.723 1.257v7.262c.8 0 1.446.65 1.445 1.452v6.637a1.45 1.45 0 01-1.445 1.452h-3.816z" fill-rule="nonzero"/>
												<path d="M79.307 31.348h6.948v2.723h-6.948z"/>
												<path d="M80.898 34.077h-1.365a1.45 1.45 0 01-1.446-1.453c0-5.606-4.54-10.167-10.123-10.167-5.581 0-10.122 4.56-10.122 10.167a1.45 1.45 0 01-1.446 1.453h-26.03a1.45 1.45 0 01-1.445-1.453c0-5.606-4.54-10.167-10.122-10.167S8.676 27.017 8.676 32.624a1.45 1.45 0 01-1.446 1.453H1.446A1.45 1.45 0 010 32.624v-5.81a1.45 1.45 0 011.446-1.452v-4.358c0-5.526 9.945-8.57 19.55-8.709C29.307 2.195 42.249-1.71 59.486.683l.052.009c9.334 1.642 13.558 6.617 16.631 11.845l.035.011-.082.055-1.103 2.611-.059-.02H21.691c-8.714 0-14.7 2.225-16.656 4.358h.75c.797 0 1.445.65 1.445 1.453a1.45 1.45 0 01-1.446 1.452H4.338v4.357a1.45 1.45 0 01-1.446 1.453v2.905h2.972c.721-6.528 6.247-11.62 12.935-11.62 6.688 0 12.213 5.092 12.935 11.62H55.03c.721-6.528 6.247-11.62 12.935-11.62 6.683 0 12.206 5.086 12.933 11.607v2.918zm-12.933-8.715c3.987 0 7.23 3.258 7.23 7.262 0 4.005-3.243 7.263-7.23 7.263-3.987 0-7.23-3.258-7.23-7.263 0-4.004 3.243-7.262 7.23-7.262zm0 11.62c2.392 0 4.338-1.955 4.338-4.358 0-2.402-1.946-4.357-4.338-4.357-2.392 0-4.338 1.955-4.338 4.357 0 2.403 1.946 4.358 4.338 4.358zm-49.166-11.62c3.987 0 7.23 3.258 7.23 7.262 0 4.005-3.244 7.263-7.23 7.263-3.987 0-7.23-3.258-7.23-7.263 0-4.004 3.243-7.262 7.23-7.262zm0 11.62c2.391 0 4.338-1.955 4.338-4.358 0-2.402-1.947-4.357-4.338-4.357-2.392 0-4.338 1.955-4.338 4.357 0 2.403 1.946 4.358 4.338 4.358zM66.589 6.27l-.056 6.02h6.063c-1.623-2.43-3.495-4.473-6.007-6.02zM49.166 2.905v9.386H63.64l.07-7.444c-1.376-.543-2.906-.98-4.647-1.288-3.515-.488-6.805-.696-9.898-.654zm-2.892.124c-8.941.639-16.01 3.708-21.37 9.262h21.37V3.03z" fill-rule="nonzero"/>
											</g>
										</svg>
									{% elseif category.id == 70 %}
										<svg width="89" height="40" xmlns="http://www.w3.org/2000/svg">
											<g fill="#000" fill-rule="nonzero">
												<path d="M69.717 24.923c-4.09 0-7.417 3.358-7.417 7.485 0 4.128 3.327 7.486 7.417 7.486s7.416-3.358 7.416-7.486c0-4.127-3.327-7.485-7.416-7.485zm0 11.977c-2.454 0-4.45-2.015-4.45-4.492 0-2.476 1.996-4.49 4.45-4.49 2.453 0 4.45 2.014 4.45 4.49 0 2.477-1.997 4.492-4.45 4.492zM20.767 24.923c-4.09 0-7.417 3.358-7.417 7.485 0 4.128 3.327 7.486 7.417 7.486s7.416-3.358 7.416-7.486c0-4.127-3.327-7.485-7.416-7.485zm0 11.977c-2.454 0-4.45-2.015-4.45-4.492 0-2.476 1.996-4.49 4.45-4.49 2.453 0 4.45 2.014 4.45 4.49 0 2.477-1.997 4.492-4.45 4.492z"/>
												<path d="M60.817 11.404v.045h25.216c.82 0 1.484.671 1.484 1.497v9.86l1.048 1.059c.28.28.435.661.435 1.058v5.988c0 .397-.156.777-.435 1.059l-1.483 1.497a1.473 1.473 0 01-1.049.438h-4.45a1.49 1.49 0 01-1.483-1.497c0-5.778-4.658-10.48-10.383-10.48-5.726 0-10.384 4.702-10.384 10.48a1.49 1.49 0 01-1.483 1.497H32.633a1.49 1.49 0 01-1.483-1.497c0-5.778-4.658-10.48-10.383-10.48-5.726 0-10.384 4.702-10.384 10.48A1.49 1.49 0 018.9 33.905H2.967a1.49 1.49 0 01-1.484-1.497v-2.374L.435 28.976A1.5 1.5 0 010 27.917v-2.994a1.5 1.5 0 01.435-1.058l1.08-1.09c.54-5.707 8.187-10.228 18.388-11.145l.028.005 5.702-.186h17.384v-.045h2.966v.044H57.85v-.044h2.967zm25.216 18.888v-4.749l-1.05-1.058a1.5 1.5 0 01-.435-1.059v-2.994h-1.483a1.49 1.49 0 01-1.483-1.497 1.49 1.49 0 011.483-1.497h1.483v-2.994H23.732c-7.463 0-13.324 1.947-16.544 4.495l.197-.004c.798.01 1.497.64 1.515 1.466a1.493 1.493 0 01-1.452 1.528l-2.704.057c-.184.48-.294.961-.294 1.44 0 .397-.156.777-.435 1.059l-1.048 1.058v1.755l1.048 1.058a1.5 1.5 0 01.435 1.058v1.497h3.048c.74-6.727 6.408-11.976 13.269-11.976 6.86 0 12.528 5.249 13.268 11.976h22.413c.74-6.727 6.408-11.976 13.269-11.976 6.86 0 12.528 5.249 13.268 11.976h2.434l.614-.62z"/>
												<path d="M86.642 11.754h-3.543l-4.035-6.109C72.848 4.607 67.46 3.937 62.775 3.53l4.658 8.225h-3.419L59.351 3.52c-.046-.083-.055-.173-.085-.258-3.433-.219-6.422-.285-9.021-.246v8.74h-2.97V3.11c-9.373.473-12.489 2.378-12.54 2.411l-8.233 6.233h-4.947l11.464-8.677c.434-.306 9.969-6.583 47.17-.28.406.068.764.304.991.647 0 0 3.998 6.08 5.462 8.31z"/>
											</g>
										</svg>
									{% elseif category.id == 71 %}
										<svg width="87" height="40" xmlns="http://www.w3.org/2000/svg">
											<g fill="#000" fill-rule="nonzero">
												<path d="M68.15 25.396c-3.998 0-7.25 3.244-7.25 7.231 0 3.988 3.252 7.232 7.25 7.232s7.25-3.244 7.25-7.232c0-3.987-3.252-7.231-7.25-7.231zm0 11.57a4.35 4.35 0 01-4.35-4.339 4.35 4.35 0 014.35-4.339 4.35 4.35 0 014.35 4.34 4.35 4.35 0 01-4.35 4.338zM18.85 25.396c-3.998 0-7.25 3.244-7.25 7.231 0 3.988 3.252 7.232 7.25 7.232s7.25-3.244 7.25-7.232c0-3.987-3.252-7.231-7.25-7.231zm0 11.57a4.35 4.35 0 01-4.35-4.339 4.35 4.35 0 014.35-4.339 4.35 4.35 0 014.35 4.34 4.35 4.35 0 01-4.35 4.338z"/>
												<path d="M85.55 25.396v-8.678c0-.624-.399-1.176-.992-1.373l-8.182-2.72C73.295 7.419 69.059 2.465 59.699.83L59.647.82C42.363-1.562 29.386 2.327 21.054 12.385c-9.632.138-19.604 3.168-19.604 8.672v4.339c-.8 0-1.45.648-1.45 1.446v5.785c0 .798.65 1.446 1.45 1.446h5.8c.8 0 1.45-.648 1.45-1.446 0-5.583 4.553-10.124 10.15-10.124S29 27.044 29 32.627c0 .798.65 1.446 1.45 1.446h26.1c.8 0 1.45-.648 1.45-1.446 0-5.583 4.553-10.124 10.15-10.124S78.3 27.044 78.3 32.627c0 .798.65 1.446 1.45 1.446h5.8c.8 0 1.45-.648 1.45-1.446v-5.785c0-.798-.65-1.446-1.45-1.446zM66.771 6.386c2.519 1.54 4.395 3.573 6.023 5.993h-6.08l.057-5.994zM49.3 3.033c3.102-.042 6.4.165 9.925.65 1.746.307 3.28.743 4.66 1.284l-.07 7.412H49.3V3.034zm-2.9.123v9.223H24.972C30.347 6.85 37.435 3.793 46.4 3.157zM84.1 31.18h-2.98c-.723-6.5-6.264-11.57-12.97-11.57s-12.247 5.07-12.97 11.57H31.82c-.723-6.5-6.264-11.57-12.97-11.57S6.603 24.68 5.88 31.18H2.9v-2.893c.8 0 1.45-.648 1.45-1.446v-4.339H5.8c.8 0 1.45-.648 1.45-1.446 0-.799-.65-1.446-1.45-1.446h-.751c1.962-2.125 7.963-4.34 16.701-4.34h53.414l7.486 2.49v1.85H81.2c-.8 0-1.45.647-1.45 1.446 0 .798.65 1.446 1.45 1.446h1.45v4.339c0 .798.65 1.446 1.45 1.446v2.893z"/>
											</g>
										</svg>
									{% elseif category.id == 73 %}
										<svg width="90" height="40" xmlns="http://www.w3.org/2000/svg">
											<g fill="#000" fill-rule="nonzero">
												<path d="M70.47 25.09c-4.14 0-7.507 3.333-7.507 7.43 0 4.095 3.368 7.428 7.508 7.428 4.14 0 7.508-3.333 7.508-7.429s-3.368-7.428-7.508-7.428zm0 11.886c-2.483 0-4.504-2-4.504-4.457s2.021-4.457 4.505-4.457 4.505 2 4.505 4.457c0 2.458-2.021 4.457-4.505 4.457zM19.414 25.09c-4.14 0-7.509 3.333-7.509 7.43 0 4.095 3.369 7.428 7.509 7.428 4.14 0 7.508-3.333 7.508-7.429s-3.368-7.428-7.508-7.428zm0 11.886c-2.484 0-4.505-2-4.505-4.457s2.021-4.457 4.505-4.457 4.505 2 4.505 4.457c0 2.458-2.021 4.457-4.505 4.457z"/>
												<path d="M88.49 20.274v-7.07c0-.047-.056-.326-.086-.423a1.497 1.497 0 00-.114-.276c-.023-.04-6.058-9.04-6.058-9.04a1.507 1.507 0 00-1.002-.64c-37.62-6.248-47.262-.026-47.7.277l-11.664 8.654L2.78 13.208a1.5 1.5 0 00-1.245.853c-.138.29-3.326 7.253-.087 18.853.18.645.772 1.09 1.448 1.09H7.4c.83 0 1.502-.665 1.502-1.485 0-5.735 4.715-10.4 10.512-10.4 5.796 0 10.512 4.665 10.512 10.4 0 .82.672 1.486 1.501 1.486h27.03c.83 0 1.502-.666 1.502-1.486 0-5.735 4.715-10.4 10.512-10.4 5.796 0 10.512 4.665 10.512 10.4 0 .82.672 1.486 1.501 1.486h4.505c.543 0 1.043-.29 1.31-.758 3.288-5.785.926-11.477.192-12.973zM80.093 5.649l4.09 6.07H68.339L63.62 3.551c4.736.404 10.186 1.068 16.472 2.098zM50.95 3.04c2.628-.039 5.65.027 9.123.244.03.084.039.174.085.255l4.725 8.18H50.949V3.042zM35.264 5.525c.053-.032 3.203-1.92 12.682-2.39v8.586l-21.031.001 8.349-6.197zM86.07 31.033h-2.167c-.749-6.676-6.487-11.885-13.432-11.885s-12.683 5.209-13.433 11.885H32.846c-.749-6.676-6.487-11.885-13.432-11.885S6.73 24.357 5.98 31.033H4.055c-.876-3.52-1.085-6.498-1.011-8.914h1.352c.829 0 1.501-.665 1.501-1.486 0-.82-.672-1.485-1.501-1.485H3.293c.203-1.364.472-2.413.678-3.049l18.446-1.409h63.07v2.972h-1.501c-.829 0-1.502.665-1.502 1.486 0 .82.673 1.485 1.502 1.485h1.502c0 .252.067.504.19.724.113.204 2.64 4.827.392 9.676z"/>
											</g>
										</svg>
									{% elseif category.id == 155 %}
										<svg width="90" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.11865 21.34863">
											<g id="Laag_2" data-name="Laag 2">
												<g id="Laag_1-2" data-name="Laag 1">
													<path d="M44.0866,14.1416,42.40154,1.39844A1.59,1.59,0,0,0,40.82439,0H20.93083a2.466,2.466,0,0,0-1.67529.6543L11.4489,7.84277l-9.89746.96778A1.71821,1.71821,0,0,0,.009,10.69434l.56934,5.6416a2.43779,2.43779,0,0,0,2.43212,2.19922H6.17986a.65007.65007,0,0,0,.6499-.65039,4.60816,4.60816,0,0,1,9.21631,0,.65006.65006,0,0,0,.6499.65039H28.38445a.65007.65007,0,0,0,.6499-.65039,4.60791,4.60791,0,0,1,9.21582,0,.651.651,0,0,0,.6499.65039.63011.63011,0,0,0,.105-.00879l2.08008-.34082A3.60225,3.60225,0,0,0,44.0866,14.1416ZM41.1115,1.56152l.82739,6.25684H34.81444L33.7863,1.30078h7.03809A.28946.28946,0,0,1,41.1115,1.56152ZM33.49822,7.81836H24.59636V1.30078h7.87372ZM20.1364,1.61035a1.16882,1.16882,0,0,1,.79443-.30957h2.36573V7.81836H13.395Zm20.73828,15.292-1.373.22559a5.908,5.908,0,0,0-11.73145.10645h-10.46a5.90822,5.90822,0,0,0-11.74463,0H3.01042a1.14083,1.14083,0,0,1-1.13867-1.0293l-.35644-3.5293H2.90154a.65039.65039,0,0,0,0-1.30078H1.3839l-.082-.81152a.42142.42142,0,0,1,.376-.46l10.0738-.98438H42.11089l.29834,2.25586H41.2365a.65039.65039,0,0,0,0,1.30078h1.34472l.21631,1.63574A2.30758,2.30758,0,0,1,40.87468,16.90234Z"/>
													<path d="M11.43816,14.4209a3.46387,3.46387,0,1,0,3.46289,3.46387A3.46746,3.46746,0,0,0,11.43816,14.4209Zm0,5.627a2.16309,2.16309,0,1,1,2.16308-2.16308A2.16546,2.16546,0,0,1,11.43816,20.04785Z"/>
													<path d="M33.64226,14.4209a3.46387,3.46387,0,1,0,3.46338,3.46387A3.46746,3.46746,0,0,0,33.64226,14.4209Zm0,5.627a2.16309,2.16309,0,1,1,2.16357-2.16308A2.16546,2.16546,0,0,1,33.64226,20.04785Z"/>
												</g>
											</g>
										</svg>
									{% endif %}

									{{ category.title }}

								</label>
							</div>
						{% endif %}

					{% endfor %}
				</div>
			</div>
		{% endif %}

		{% if seats %}
			<div class="filter__card ">
				<div class="filter__block seats">
					<div class="filter__label">
						<strong>Zitplaatsen</strong>
						{% if(tooltips.seats) %}
							<i data-tooltip="{{ tooltips.seats }}" class="filter__label__info">i</i>
						{% endif %}
					</div>

					{% for seat in seats %}
						{% if seat.id != 1 %}
							<div class="filter__checkbox {% if loop.index > 5 %}filter__checkbox--hidden filter__checkbox--maybe-hidden{% endif %}">
								<input type="checkbox" autocomplete="off" id="seats-{{ seat.id }}" data-input-seat data-seat-id="{{ seat.id }}"><label for="seats-{{ seat.id }}">{{ seat.title }}</label>
							</div>
						{% endif %}
					{% endfor %}

					{% if seats|length > 5 %}
						<button class="view-more button button__text">{% include 'svg/arrow_down.twig' %}{{ __('Toon meer') }}</button>
					{% endif %}
				</div>
			</div>
		{% endif %}

	</form>

</aside>
<div class="filter__button-container">
	<button class="button button__primary button__large">{% include 'svg/filter.twig' %}{{ __('Filter Resultaten') }}</button>
</div>
