{% set name = '"' ~ structured.structured_data.organization_name ~ '"'%}
{% set url = '"' ~ structured.structured_data.organization_url ~ '"'%}
{% set streetAddress = '"' ~ structured.structured_data.organization_streetaddress ~ '"'%}
{% set addressLocality = '"' ~ structured.structured_data.organization_addresslocality ~ '"'%}
{% set addressRegion = '"' ~ structured.structured_data.organization_addressregion ~ '"'%}
{% set postalCode = '"' ~ structured.structured_data.organization_postalcode ~ '"'%}
{% set addressCountry = '"' ~ structured.structured_data.organization_addresscountry ~ '"'%}
{% set logo = '"' ~ structured.structured_data.organization_logo ~ '"'%}
{% set telephone = '"' ~ structured.structured_data.organization_telephone ~ '"'%}
{% set email = '"' ~ structured.structured_data.organization_email ~ '"'%}

{# Social #}
{% set facebook = '"' ~ structured.social.facebook ~ '"'%}
{% set instagram = '"' ~ structured.social.instagram ~ '"'%}
{% set linkedin = '"' ~ structured.social.linkedin ~ '"'%}
{% set twitter = '"' ~ structured.social.twitter ~ '"'%}
{% set youtube = '"' ~ structured.social.youtube ~ '"'%}
{% set pinterest = '"' ~ structured.social.pinterest ~ '"'%}

<script type="application/ld+json">
  { 
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : {{name}},
    "url" : {{url}},
    "address": {
      "@type": "PostalAddress",
      "streetAddress" : {{streetAddress}},
      "addressLocality": {{addressLocality}},
      "addressRegion": {{addressRegion}},
      "postalCode": {{postalCode}},
      "addressCountry" : {{addressCountry}}
    },
    "logo": {
      "@type": "imageObject",
      "url": {{logo}}
    },
    "sameAs" : [
      {{facebook}},
      {{instagram}},
      {{linkedin}},
      {{twitter}},
      {{youtube}},
      {{pinterest}}
    ],
    "contactPoint" :
    { "@type" : "ContactPoint",
      "telephone" : {{telephone}},
      "email" : {{email}},
      "contactType" : "customer service"
    }
  }
</script>
