{% autoescape %}

	<h1>{{ post_count }}</h1>

	{% if posts %}

		<div class="flexbox--container">
			{% set count = 1 %}
			{% set reviewCount = 0 %}
			{% for post in posts %}
				{% include 'components/teaser-card.twig' with {
					'model': post,
					'cssClass': '' ,
				} %}
				{% if count is divisible by(10) %}
					{% if reviews[reviewCount] %}
						{% include 'components/review.twig' with {
							'review': reviews[reviewCount],
							'cssClass': 'review--half review--list',
							'trim': true
						} %}
						{% set reviewCount = reviewCount + 1 %}
					{% endif %}
				{% endif %}
				{% set count = count + 1 %}
			{% endfor %}
		</div>
	{% else %}
		<p><em>Geen auto's gevonden</em></p>
	{% endif %}

{% endautoescape %}
