<div class="quote-details">
	<div class="quote-details__image-container">
		<img class="quote-details__image" src="{{ car_model.post.thumbnail.src('medium') }}">
	</div>
	{% if(car_model.show_color_choice_label) %}
		<div class="quote-details__content">
			<em>* Kleur kunt u later aangeven.</em>
		</div>
	{% endif %}
	<div class="quote-details__content">
		<h3>{{ car_model.name }}</h3>
		<ul class="quote-details__features">
			{% for specification in car_model.specifications %}
				{% if(specification.value is not empty) %}
					<li class="quote-details__feature">
						<span class="quote-details__feature-name">{{ specification.label }}</span>
						<span class="quote-details__feature-value">{{ specification.value }}</span>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="model--card__prices">
			{% if car_model.post.meta('price') and "business" == car_model.type %}
				<div class="button__group button__group-business">
					<div class="price__container">
						<span class="price__indicator">{{ car_model.post.meta('price') }}</span>
						<span class="price__from">Vanafprijs, zakelijk, p/mnd</span>
					</div>
				</div>
			{% endif %}
		</div>

		{% if not car_model.post.meta('configurator_occasion') %}
			<span class="price__from">Vanafprijs p/m o.b.v. 10.000 km en looptijd van 60 maanden.</span>
		{% endif %}

		<button class="button button__primary button__price quote-details__cta js-custom-submit-button" id="gform_submit_button_%s">
			<span>Verzenden</span>
		</button>
	</div>
</div>

<div class="quote-specials__container">
	<ul class="quote-specials">
		<li class="quote-specials__item quote-specials__item--icon">{% include 'svg/check.twig' %}Gratis & vrijblijvend een offerte aanvragen</li>
		<li class="quote-specials__item quote-specials__item--icon">{% include 'svg/check.twig' %}Offertes van betrouwbare leasemaatschappijen</li>
		<li class="quote-specials__item quote-specials__item--icon">{% include 'svg/check.twig' %}100&#37; expert in elektrische auto's</li>
	</ul>
</div>

