{% set partial = partial ~ '.twig' %}

<div class="carousel" data-carousel data-amount="2">
    <div class="carousel__wrapper" data-carousel-wrapper>
        {% for item in items %}
            <div class="carousel__item">
                {% include 'components/quote.twig' %}
            </div>
        {% endfor %}
    </div>
    {% if show_arrows %}
        <div class="carousel__arrows" data-carousel-arrows></div>
    {% endif %}
    {% if show_dots %}
        <div class="carousel__arrows" data-carousel-dots></div>
    {% endif %}
</div>
