{%- import 'macros/picture.twig' as picture -%}

{% set column = column|default(0) %}


{% if column %}

	{% if column.button_tax_url %}
		{% set column_button_url = function( 'get_term_link', column.button_tax_url ) %}
	{% else %}
		{% set column_button_url = column.button_url %}
	{% endif %}

    <div class="column__item{% if column.type %} column__item--{{ column.type }}{% endif %} 
{% if column.form_overlay %} column__item--overlay {% endif %}">
        {% if column.type == 'text' and column.description %}
            <div class="column__text">
                {{ column.description }}

                {% if column_button_url %}
                    <a href="{{column_button_url}}" class="button {{ column.button_style }} button__arrow">
                        <span>{{ column.button_text }}</span>
                        <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg>
                    </a>
                {% endif %}
            </div>
        {% elseif column.type == 'block' %}
            <div class="column__block {{column.block_style}}">
                
                {{ column.description }}

                {% if column_button_url %}
                    <a href="{{column_button_url}}" class="button {{ column.button_style }} button__arrow">
                        <span>{{ column.button_text }}</span>
                        <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg>
                    </a>
                {% endif %}

                {% if column.after_description %}
                    {{ column.after_description }}
                {% endif %}

            </div>
        {% elseif column.type == 'image' and column.image %}

            <div class="column__picture">
                {{ picture.column(column.image, 'column__image') }}
            </div>

        {% elseif column.type == 'form' %}
            {% if column.description %}
                <div class="column__text">{{ column.description }}</div>
            {% endif %}
            <div class="column__form">
                {{ column.form }}
            </div>

            {% if column_button_url %}
                <a href="{{column_button_url}}" class="button {{ column.button_style }} button__arrow">
                    <span>{{ column.button_text }}</span>
                    <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg>
                </a>
            {% endif %}

        {% endif %}

    </div>
{% endif %}


