<aside class="cta">
	<div class="cta__column">
		<h2 class="cta__heading">{{ cta_shortcode.intro }}</h2>
		{% if cta_shortcode.button is not empty %}
			<a class="button button__primary button__arrow" href="{{ cta_shortcode.button.url }}"{{ cta_shortcode.button.target == '_blank' ? ' target="_blank"' : '' }}>
				<span>{{ cta_shortcode.button.title }}</span>
				<svg class="icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/>
				</svg>
			</a>
		{% endif %}
	</div>
	{% if cta_shortcode.usps is not empty %}
		<div class="cta__column">
			<div class="usps usps__general">
				<ul class="usps__list">
					{% for usp in cta_shortcode.usps %}
						<li class="usps__item">
							<svg width="15" height="11" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.293.293a1 1 0 0 1 1.414 1.414l-9 9a1 1 0 0 1-1.414 0l-4-4a1 1 0 1 1 1.414-1.414L5 8.586 13.293.293z" fill="#0AD85A" fill-rule="nonzero"></path>
							</svg>
							<span>{{ usp }}</span>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}
</aside>
