{%- import 'macros/html.twig' as html -%}

{% set cssClass = 'faq-item ' ~ cssClass %}
<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <div class="{{ cssClass }} in-view" data-in-view data-faq>
        {% if faq.title is not empty %}
            <button class="faq-item__button accordion" data-faq-button>
                <span class="faq-item__title" itemprop="name">{{ faq.title }}</span>
                {{ html.icon('arrow--down', 'faq-item__icon') }}
            </button>
        {% endif %}
        {% if faq.content is not empty %}
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" class="panel">

                <div class="faq-item__content" itemprop="text" data-faq-content>{{ faq.content }}</div>
            </div>
        {% endif %}
    </div>
</div>