<ul class="usps__list">
	{% if model.usp_car_text1 %}
		<li class="usps__item">
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20" fill="none">
				<circle cx="9.8125" cy="9.64136" r="9.41577" fill="#04BC83"/>
				<g clip-path="url(#clip0_0_312)" style="transform: translate(5px, 4px);">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.14677 0.141602L0.8125 5.6416H6.14677V0.141602Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M3.47823 11.1416L8.8125 5.6416H3.47823V11.1416Z" fill="white"/>
				</g>
				<defs>
					<clipPath id="clip0_0_312">
						<rect width="8" height="11" fill="white" transform="translate(0.8125 0.141602)"/>
					</clipPath>
				</defs>
			</svg>
			<span>{{ model.usp_car_text1 }}</span>
		</li>
	{% endif %}
	{% if model.usp_car_text2 %}
		<li class="usps__item">
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20" fill="none">
				<circle cx="9.8125" cy="9.64136" r="9.41577" fill="#04BC83"/>
				<g clip-path="url(#clip0_0_312)" style="transform: translate(5px, 4px);">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.14677 0.141602L0.8125 5.6416H6.14677V0.141602Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M3.47823 11.1416L8.8125 5.6416H3.47823V11.1416Z" fill="white"/>
				</g>
				<defs>
					<clipPath id="clip0_0_312">
						<rect width="8" height="11" fill="white" transform="translate(0.8125 0.141602)"/>
					</clipPath>
				</defs>
			</svg>
			<span>{{ model.usp_car_text2 }}</span>
		</li>
	{% endif %}
	{% if model.usp_car_text3 %}
		<li class="usps__item">
			<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20" fill="none">
				<circle cx="9.8125" cy="9.64136" r="9.41577" fill="#04BC83"/>
				<g clip-path="url(#clip0_0_312)" style="transform: translate(5px, 4px);">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M6.14677 0.141602L0.8125 5.6416H6.14677V0.141602Z" fill="white"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M3.47823 11.1416L8.8125 5.6416H3.47823V11.1416Z" fill="white"/>
				</g>
				<defs>
					<clipPath id="clip0_0_312">
						<rect width="8" height="11" fill="white" transform="translate(0.8125 0.141602)"/>
					</clipPath>
				</defs>
			</svg>
			<span>{{ model.usp_car_text3 }}</span>
		</li>
	{% endif %}
	{% if count == 4 %}
		{% if model.usp_car_text4 %}
			<li class="usps__item">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 20 20" fill="none">
					<circle cx="9.8125" cy="9.64136" r="9.41577" fill="#04BC83"/>
					<g clip-path="url(#clip0_0_312)" style="transform: translate(5px, 4px);">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M6.14677 0.141602L0.8125 5.6416H6.14677V0.141602Z" fill="white"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3.47823 11.1416L8.8125 5.6416H3.47823V11.1416Z" fill="white"/>
					</g>
					<defs>
						<clipPath id="clip0_0_312">
							<rect width="8" height="11" fill="white" transform="translate(0.8125 0.141602)"/>
						</clipPath>
					</defs>
				</svg>
				<span>{{ model.usp_car_text4 }}</span>
			</li>
		{% endif %}
	{% endif %}
</ul>
