{% set cssClass = 'nav ' ~ cssClass %}

<div class="{{ cssClass|trim }}">
    <ul class="nav__list" itemscope itemtype="http://www.schema.org/SiteNavigationElement">

        {% for item in items %}
            {% set hasChildren = item.children %}
            <li class="nav__item {% if hasChildren %}nav__item-dropdown{% endif %} {{ item.custom._menu_item_classes|join(' ') }}" itemprop="name">
                {% if hasChildren %}
                    <a class="nav__link nav__link--dropdown" href="{{ item.link }}"  data-dropdown="nav-dropdown-{{ loop.index }}" itemprop="url">
                        {{ item.name }}

                        
                        <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.66747 7.9248C5.28257 8.59147 4.32032 8.59147 3.93542 7.9248L0.536584 2.03785C0.151684 1.37119 0.63281 0.537855 1.40261 0.537855L8.20028 0.537856C8.97008 0.537856 9.4512 1.37119 9.0663 2.03786L5.66747 7.9248Z" fill="#09202F"/>
                        </svg>

                    </a>

                    <ul class="nav__dropdown nav__dropdown-{{ loop.index }}" data-dropdown-target="nav-dropdown-{{ loop.index }}">
                        {% for child in item.children %}
                            <li class="nav__item" itemprop="name">
                                <a class="nav__link {{ item.custom._menu_item_classes|join(' ') }}" href="{{ child.link }}" itemprop="url">{{ child.name }}</a>
                           
                            {# Link 3 #}
                            {% set hasChildren2 = child.children %}

                            {% if hasChildren2 %}
                                <ul class="nav__dropdown_inner">
                                    {% for childest in child.children %}                                  
                                        <li class="nav__item" itemprop="name">
                                            <a class="nav__link" href="{{ childest.link }}" itemprop="url">{{ childest.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a class="nav__link {{ item.custom._menu_item_classes|join(' ') }}" href="{{ item.link }}" itemprop="url">
                        <span>
                            {{ item.name }}
                        </span>
                    </a>               
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
