{%- import 'macros/html.twig' as html -%}
{%- import 'macros/picture.twig' as picture -%}

<article class="news--card in-view" data-in-view>
    {% if post.thumbnail %}
        <figure class="news--card__thumb">
            <a href="{{ post.link }}">
                {{ picture.featured(post.thumbnail, 'newscard') }} 
                <div class="aspect-ratio-placeholder__fill"></div>
            </a>
        </figure>
    {% endif %}


    <div class="news--card__bottom">
        <h2 class="news--card__title"><a href="{{post.link}}">{{ post.title }}</a></h2>

        {% if post.custom_intro %}
            <p>
                {{ post.custom_intro }}
            </p>
        {% else %}
            <p>
                {{ post.content|excerpt(15) }}
            </p>
        {% endif %}
    
        <a href="{{post.link}}" class="button button__secundary button__arrow">
            <span>{{ __('Lees verder')}}</span>
            <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg>
        </a>
    </div>
</article>