{% if post.meta('price') %}
	<div class="price--container">
		<span>Vanaf {{ post.meta('price') }}</span>
		<span class="light--grey">per maand</span>
	</div>
{% endif %}

{% if not post.meta('price') and not post.meta('price_private') %}
	<div class="price--container">
		<span class="price__notavailable">Nog niet beschikbaar</span>
	</div>
{% endif %}
