{% if(model.meta('price')) %}
    <div class="button__group button__group-business">

        <div class="price__container">
            <span class="price__indicator">
                {{ model.meta('price') }}
            </span>
            <span class="price__from">
                Leasen vanaf 
                            
                <br>
                    p/mnd 
                                
                </span>
            </div>
            {% if(model.meta('configurator_private')) %}
                <a href="{{ model.meta('external_link') }}" class="button button__primary button__arrow button__price" target="_blank">
                    <span>
                        {{ __('Private lease') }}
                    </span>
                {# <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg> #}
                </a>
            {% else %}
                <a href="{{ model.link }}?type=business" class="button button__primary button__arrow button__price">
                    <span>
                        {{ __('Zakelijke lease') }}
                    </span>
                {# <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg> #}
                </a>
            {% endif %}
        </div>
    {% endif %}
    
