{% autoescape %}
{% if posts %}
    <div class="flexbox--container">
        {% for post in posts %}
            {% include 'components/teaser-blog.twig' with {
                'post': post,
                'cssClass': '' ,
            } %}
        {% endfor %}
    </div>
{% else %}
    {% if category %}
        <p><em>{{ __('Geen rapporten gevonden voor') ~ ' ' ~ category.title }}</em></p>
    {% else %}
        <p><em>{{ __('Geen rapporten gevonden') }}</em></p>
    {% endif %}
{% endif %}

{% if pagination %}
    {% include 'partials/pagination.twig' with {
        'pagination': pagination,
        'ajax': true,
    } %}
{% endif %}
{% endautoescape %}