<li class="related--cars__item">
	<span class="related--cars__indicator">
		{{ loop.index }}
	</span>

	<a href="{{ car.link }}">
		{{ picture.carcard(car.thumbnail) }}
	</a>

	<h2>{{ brand_id[0].name }} {{ car.post_title }}</h2>

	{% include 'components/price-card-related-item.twig' with {
		'post': car
	} %}

	{% if car.usp_car_text1 %}
		{% include 'components/model-usp-list.twig' with {
			'model': car,
			'count': 3
		} %}
	{% endif %}

	<div class="button__container">
		<a href="{{ car.link }}" class="button button__primary button__icon">
			<span>Bekijk</span>
			<svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg">
				<path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="white" fill-rule="nonzero"/>
			</svg>
		</a>
	</div>
</li>
