{% import 'macros/picture.twig' as picture %}

<li class="related--cars__item">
	
	{% if car.meta('beste_optie') %}
		<span class="related--cars__indicator">
			<span>Beste Optie</span>
			<span class="in__stock">{{ car.meta('beste_optie') }}</span>
		</span>
	{% endif %}

	{% if car.thumbnail %}
		<a href="{{ car.link }}">
			{{ picture.carcard(car.thumbnail) }}	
		</a>
	{% endif %}

	<div class="car_content--wrap">
		<h2>{{ brand_id[0].name }} {{ car.post_title }}</h2>


		{% if car.usp_car_text1 %}
			{% include 'components/model-usp-list.twig' with {
				'model': car,
				'count': 3
			} %}
		{% endif %}

		{% if car.meta('price') %}
			<div class="price--container">
				<span class="car--price">{{ car.meta('price') }}</span>
				<span class="light--grey">Per maand</span>
			</div>
		{% endif %}

		{% if not car.meta('price') and not car.meta('price_private') %}
			<div class="price--container">
				<span class="price__notavailable">Nog niet beschikbaar</span>
			</div>
		{% endif %}


		<div class="button__container">
			<a href="{{ car.link }}" class="button button__primary button__price">
				<span>Bekijk</span>
				<svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="white" fill-rule="nonzero"/>
				</svg>
			</a>
		</div>
	</div>
</li>
