<div class="review {{ cssClass }}">
	<div class="review__image">
		<div class="review__image-inner">
			<img src="{{ review.review_image }}" alt="{{ review.review_name }}"/>
		</div>
	</div>
	<div class="review__content">
		<div class="review__body">
			<h3>{{ review.review_name }}</h3>
			{# optional subtitle #}
			<span>{{ review.review_subtitle }}</span>
			{# end optional subtitle #}
			{% if trim %}
				<p>{{ review.review_text[:200] ~ '...' }} <a href="{{ review.review_link }}" class="link-arrow">Lees meer</a></p>
			{% else %}
				<p>{{ review.review_text }}</p>
			{% endif %}
		</div>
		<footer class="review__footer">
			<p>Bekijk de <a href="{{ review.review_car.link }}" class="link-arrow" title="{{ review.review_car.title }}">{{ review.review_car.title }}</a>
		</footer>
	</div>
</div>
