{%- import 'macros/html.twig' as html -%}

<section class="share {{ cssClass }}">
    <ul class="share__list">
        <li class="share__item">
            <a class="share__link" data-social="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url|url_encode }}">
                {{ html.icon('facebook', 'share__icon') }}
            </a>
        </li>
        <li class="share__item">
            <a class="share__link" data-social="linkedin" href="https://www.linkedin.com/sharing/share-offsite/?url={{ url|url_encode }}">
                {{ html.icon('linkedin', 'share__icon') }}
            </a>
        </li>
        <li class="share__item">
            <a class="share__link" data-social="twitter" href="https://twitter.com/home?status={{ title|url_encode }}%20{{ url|url_encode }}">
                {{ html.icon('twitter', 'share__icon') }}
            </a>
        </li>
    </ul>
</section>