{%- import 'macros/html.twig' as html -%}
{%- import 'macros/picture.twig' as picture -%}

{% set cssClass = cssClass ~ 'model--card' %}

{% if model.price %}
    {% set zakelijk = 'data-zakelijk' %}
{% endif %}

{% set permalink = model.link %}
{% set image = picture.teaser(image, 'newscard') %}

{% if model.meta('configurator_private') %}
    {% set private = 'data-private' %}
    {% set permalink = model.meta('external_link') %}
    {% if model.meta('featured_image') != '' %}
        {% set image_src = model.meta('featured_image').sizes.medium_large %}
    {% elseif model.meta('external_image_url') %}
        {% set image_src = model.meta('external_image_url') %}
    {% else %}
        {% set image_src = 'https://daisycon.io/images/?pid=' ~ model.meta('reference') ~ '&width=800&height=600' %}
    {% endif %}
    {% set image = '<img src="'~image_src~'">' %}
{% endif %}

<article id="model-{{ model.id }}" class="model--card model--card__horizontal in-view" {{ zakelijk }} {{ private }} data-in-view>

    <div class="model--card__container">
        <div class="model--card__image">
            <a href="{{ permalink }}">
                {% if model.meta('configurator_private') %}
                    {{ image|replace({'=1920':'=566'}) }}
                {% else %}
                    {{ picture.teaser(model.thumbnail, 'newscard') }}
                {% endif %}
                {% if model.custom_label %}
                    <span class="custom__label">
                        {{ model.custom_label }}
                    </span>
                {% endif %}
            </a>
        </div>

        <div class="model--card__meta">

            <h3 class="model--card__title">
                <a href="{{ permalink }}">
                    {% if model.custom_seo_title %}
                        {{ model.custom_seo_title }}
                    {% else %}
                        {{ model.brand }}
                        {{ model.title }}
                    {% endif %}
                </a>
            </h3>

            {% include 'components/model-usp-list.twig' with {
				'model': model,
				'count': 3
			} %}
        </div>

        <div class="model--card__prices">
            {% include 'components/price-card.twig' with {
				'model': model
			} %}
        </div>

    </div>
</article>

