{%- import 'macros/html.twig' as html -%}
{%- import 'macros/picture.twig' as picture -%}

{% set cssClass = cssClass ~ 'model--card' %}

<article class="model--card model--card__horizontal in-view" data-in-view>
	<div class="model--card__container">
        <span class="related--cars__indicator">
            {{ loop.index }}
        </span>

		<div class="model--card__image">
			<a href="{{ model.link }}">
				{{ picture.teaser(model.thumbnail, 'newscard') }}
				{% if model.custom_label %}
					<span class="custom__label">{{ model.custom_label }}</span>
				{% endif %}
			</a>
		</div>

		<div class="model--card__meta">
			<h3 class="model--card__title">
				<a href="{{ model.link }}">
					{% if model.custom_seo_title %}
						{{ model.custom_seo_title }}
					{% else %}
						{{ model.title }}
					{% endif %}
				</a>
			</h3>

			{% include 'components/model-usp-list.twig' with {
				'model': model,
				'count': 3
			} %}
		</div>

		<div class="model--card__prices">
			{% include 'components/price-card.twig' with {
				'model': model
			} %}
		</div>
	</div>
</article>



