@import '../config/colors';
@import '../mixins/sr-only';

.landings-page {
	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.section__container {
			padding: 0;
		}

		.wrapper {
			padding: 0;
		}

		.column__landings { 
			&-content {
				flex: 1 0 100%;

				@include screen($screen-normal) {
					flex: 1 0 65%;
					padding-right: 2rem;
				}
			}

			&-sidebar {
				flex: 1 0 100%;

				@include screen($screen-normal) {
					flex: 1 0 31%;
					margin-top: 4rem;
				}
			}
		}
	}
}

.sidebar__block {
	background: $c-white;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
    border: 1px solid #d8d8d8;
    border-radius: 4px;

	a {
		&:hover {		
			color: $c-darkgreen;
		}
    }
}