@import '../config/colors';
@import '../mixins/sr-only';

.archive,
.post-type-archive-models {
	background-color: $c-lightblue;
}

.models {
	margin: 0;
	padding-bottom: 4rem;

	&__hero {
		padding-bottom: 1.5rem;
		background-color: $c-lightblue;

		h1 {
			flex: 0 0 100%;
			font-size: 1.5rem;
			line-height: 1.1;
			margin-bottom: 0.5rem;
		}
	}

	&__images {
		overflow: hidden;
		position: relative;
	}

	&__data {
		display: grid;
		grid-template-areas: 
    "title title switch"
    "duration duration duration"
		"km km km"
		"price button button"
    "disclaimer disclaimer disclaimer"
		"usps usps usps"
		"usps2 usps2 usps2";
		grid-template-columns: repeat(2, auto);
		row-gap: 1.5rem;
		column-gap: 1rem;
		margin: -2rem -1rem 0;
		padding: 3.5rem 1rem 0;
		background-color: $c-white;
		justify-content: space-between;
		align-items: center;
		height: 100%;

		h2 {
			grid-area: title;
			margin-bottom: 0;
			font-size: 1.125rem;
		}

		.switch {
			grid-area: switch;
			justify-self: end;
		}

		.usps {
			grid-area: usps;
			padding-top: 1rem;
			border-top: 1px solid $c-grey--light;

			& + .usps {
				grid-area: usps2;
				padding: 1rem 1rem 0;
				margin: 0 -1rem;
				border-top: none;
				background-color: $c-lightblue;

				span {
					font-weight: 700;
				}
			}
		}

		.duration {
			grid-area: duration;

			> div {
				display: flex;
				justify-content: space-between;
			}
		}

		.km {
			grid-area: km;
		}

		.price__from {
			grid-area: disclaimer;
			margin-top: -1rem;
			text-align: center;
		}

		.price__indicator {
			grid-area: price;
			line-height: 1;
			font-size: 2rem;
			white-space: nowrap;
		}

		.button {
			grid-area: button;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 230px;
			margin-left: auto;

			span {
				margin-right: 0.75rem;
			}
		}

		label {
			font-size: 0.8125rem;
			margin-bottom: 0;
		}

		&-grid {
			display: grid;
			grid-template-columns: auto 230px;
			align-items: center;
			column-gap: 0.25rem;

			> label {
				grid-column: 1 / 2;
				cursor: default;
			}

			> div,
			> select {
				max-width: 230px;
				width: 100%;
				margin-left: auto;
			}
		}

		&-price {
			.price {
				&__label {
					display: none;
					font-weight: bold;
				}

				&__indicator {
					color: $c-darkgreen;
					font-size: 2rem;
					font-weight: 700;
				}

				&__from {
					color: #A6AEBC;
					font-size: 0.725rem;
				}
			}
		}

		.price__from {
			padding-left: 0;
		}
	}

	&__data--not-yet-available {
		grid-template-areas:
			"switch switch switch"
			"title title title"
			"usps usps usps"
			". button button"
			"usps2 usps2 usps2";
	}

	&__meta {
		padding-top: 2rem;

		> h3 {
			margin-top: 4rem;
			margin-bottom: 1.5rem;

			&:first-child {
				margin-top: 0;
			}
		}

		> .table {
			margin-top: 1rem;
		}
	}

	@include screen($screen-simple) {
		&__data {
			.usps + .usps {
				column-count: 2
			}
		}
	}

	@include screen($screen-normal) {
		padding-bottom: 5.5rem;

		&__hero {

			h1 {
				font-size: 2rem;
				margin-bottom: 1rem;
			}

			&-inner {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;
			}
		}

		&__images {
			flex: 0 0 50%;
		}

		&__data {
			grid-template-areas:
			"switch switch switch" 
			"title title price"
			"disclaimer disclaimer disclaimer"
			"usps usps usps"
			"duration duration duration"
			"km km km"
			". button button"
			"usps2 usps2 usps2";
			grid-template-columns: repeat(3, auto);
			row-gap: 1.125rem;
			flex: 0 0 47%;
			margin: 0;
			padding: 1rem 2.5rem 0;

			h2 {
				font-size: 1.25rem;
			}

			.switch {
				margin-top: -88px;
				justify-self: center;
				background-color: $c-lightblue;
			}

			.price__from {
				text-align: left;
			}

			.price__indicator {
				text-align: right;
				align-self: start;
			}

			.duration {
				margin-top: 0.5rem;
			}

			.usps {
				padding-top: 0.75rem;
				padding-bottom: 0.75rem;
				border-bottom: 1px solid $c-grey--light;
				column-count: initial;

				+ .usps {
					margin: 0 -2.5rem;
					padding-top: 1rem;
					border-bottom: none;
					column-count: 2;
				}
			}

			label {
				font-size: 0.875rem;
			}

			.button {
				max-width: 264px;
				width: 100%;
				margin-left: auto;
			}

			&-grid {
				grid-template-columns: repeat(3, 1fr);
				column-gap: 0;

				> label {
					grid-column: 1 / 2;
				}

				> div,
				> select {
					grid-column: 2 / -1;
					max-width: 250px;
				}
			}
		}

		&__data--not-yet-available {
			grid-template-areas:
			"switch switch switch"
			"title title title"
			"usps usps usps"
			". button button"
			"usps2 usps2 usps2";

			.usps {
				border-bottom: none;
			}
		}

		&__meta {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 8rem;
			padding-top: 3.75rem;

			> h3,
			> .table--2col {
				grid-column: 1 / -1;
			}

			> h3 {
				margin-top: 7.5rem;
				margin-bottom: 2.5rem;
			}

			> .table {
				margin-top: 0;
			}
		}
	}

	@include screen($screen-large) {
		&__images {
			flex-basis: 60%;
		}

		&__data {
			flex-basis: 37.5%;
		}
	}
}

.model__list {
	&.no--count {
		.related--cars__indicator {
			display: none;
		}
	}
}

.related--cars {
	padding: 2rem 0;

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
	}

	&__indicator {
		width: 2rem;
		height: 2rem;
		text-align: center;
		background: $c-darkgreen;
		color: $c-white;
		border-radius: 100%;
		display: inline-block;
		position: absolute;
		top: -0.5rem;
		left: -0.5rem;
		font-weight: 700;
		z-index: 5;
	}

	&__item {
		flex: 0 0 100%;
		position: relative;
		margin-bottom: 1rem;
		z-index: 2;

		@include screen($screen-minimal) {
			flex: 0 0 48%;
		}

		@include screen($screen-normal) {
			flex: 0 0 18%;
			margin-bottom: 0;
		}

		> h2 {
			font-size: 1.15rem;
			margin-bottom: 0;

			@include screen($screen-normal) {
				min-height: 3.25rem;
			}
		}

		.related--cars__meta {
			h3 {
				text-align: left;
				font-size: 1.3125rem;
				margin: 0;
				color: $c-black;
				font-size: 1.15rem;
				margin-bottom: 0;

				@include screen($screen-normal) {
					text-align: center;
				}

				a {
					text-decoration: none;
					font-weight: 700;
					font-family: 'Montserrat', sans-serif;
					color: $c-black;
				}
			}
		}

		.price--container {
			span {
				color: $c-black;
				font-weight: 700;
				vertical-align: middle;
			}

			.light--grey {
				color: $c-grey--light;
				color: #A6AEBC;
				vertical-align: middle;
				font-size: 0.85rem;
			}
		}

		.usps {
			&__list {
				padding: 1rem 0 .5rem 0;
			}

			&__item {
				display: block;
			}
		}

		.button__container {
			text-align: left;
			padding: 1rem 0 0 0;

			@include screen($screen-normal) {
				text-align: center;
			}
		}
	}
}

.title--container {
	h3 {
		margin-bottom: 0;
	}

	h5 {
		font-family: 'Muli', sans-serif;
		color: #B3B3B3;
		font-weight: 500;
	}
}

.value {
	position: absolute;
	top: 30px;
	left: 50%;
	margin: 0 0 0 -20px;
	width: 40px;
	text-align: center;
	display: block;

	/* optional */

	font-weight: normal;
	font-family: Verdana, Arial, sans-serif;
	font-size: 14px;
	color: #333;
}

.price-range-both.value {
	width: 100px;
	margin: 0 0 0 -50px;
	top: 26px;
}

.price-range-both {
	display: none;
}

.value i {
	font-style: normal;
}

#slider {
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
		border: 1px solid $c-darkgreen;
		box-shadow: inset 0 0 0 4px $c-darkgreen;
		background: $c-white;
		font-weight: normal;
		color: $c-base;
		border-radius: 100%;
	}

	.ui-widget-header {
		background: $c-darkblue;
	}
}

.archive-sorting-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: stretch;
	align-items: flex-start;
	margin-bottom: 1.5rem;

	@include screen($screen-simple) {
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
	}

	&__count {
		display: none;
		align-items: center;
		margin-bottom: 0.3rem;

		@include screen($screen-simple) {
			display: flex;
			margin-bottom: 0rem;
		}

		.label {
			font-style: italic;
			padding-right: 0.3rem;
			color: $c-refunded-text;
		}

		.count {
			font-weight: bold;
		}
	}

	&__selector {
		display: flex;
		align-items: flex-start;
		width: 100%;
		flex-direction: column;

		@include screen($screen-simple) {
			justify-content: flex-end;
			flex-direction: row;
			align-items: center;
		}

		&__label {
			margin-right: 1.1rem;
			margin-bottom: 0.3rem;
			color: $c-refunded-text;
			@include screen($screen-simple) {
				display: block;
				margin-bottom: 0;
			}
		}

		.select__container {
			width: 100%;
			@include screen($screen-simple) {
				width: auto;
			}
		}
	}
}


/* Carousel */
.related_carousel--cars__list{
    margin-top: 1rem;

    @include screen($screen-normal) {
    	margin-top: 2rem;
    }
	
	.related--cars {
		&__item {
			flex: 0 0 100%;
			position: relative;
			margin-bottom: 1rem;
			z-index: 2;
			background: $c-white;
			border: 1px solid $c-grey--light;
			border-radius: 8px;
			overflow:hidden;

			@include screen($screen-minimal) {
				flex: 0 0 48%;
			}

			@include screen($screen-normal) {
				flex: 0 0 33.33%;
			}

			picture{
				display: block;
				height: 266px;

				img{
					height:100%;
					object-fit: cover;
					object-position: center;
				}
			}


			.car_content--wrap{
				padding:1.2rem 1rem;

				> h2 {
				    font-size: 1.25rem;
					margin-bottom: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;

					@include screen($screen-normal) {
						min-height: auto;
						font-size: 1.5rem;
					}
				}

				.price--container{
					.car--price{
						font-size: 1.7rem;
					}

					span{
						display: block;
				    	line-height: normal;
			    	}
				}
				.button__container{
				    padding: 1.7rem 0 0 0;

				    .button__price{
			    	    padding-block: 0.3rem;
						
						&:not(:hover){
							background-color: $c-white;
		    				color: $c-darkgreen;

		    				span{
								color: $c-darkgreen;    				
		    				}
						}
					}
				}
			}

			.usps__list{
				padding-top:0.5rem;

				.usps__item{
					display:flex;
				    margin-bottom: 7px;
				}
			}
		}

		&__indicator{
		    width: 100%;
		    height: 2.5rem;
		    text-align: left;
		    border-radius: 0;
		    top: 0;
		    left: 0;
		    padding: 0.4rem 1rem;
		    text-transform: uppercase;
		    display: flex;
		    align-items: center;
		    font-size: 0.85rem;

		    .in__stock{
		    	background:$c_white;
		    	color:$c_black;
		    	margin-left: auto;
		    	border-radius: 4px;
		    	padding: 0.2rem 0.5rem;
		    	line-height: normal;
		    }
		}
	}
	.slick-arrow{
	    top: 38%;
	}
}