/**
 * Shared styles
 */

.post-grid {
    display: grid;
}

.post-date {
    font-size: 0.875rem;
    line-height: 1.14;
    color: $c-darkgreen;
}

.post-card {   
    a {
        color: inherit;
        text-decoration: none;
    }

    &__image {
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%; // 16:9
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.2s ease-in-out;
        }
    }

    &__content {
        padding-top: 1rem;
    }

    &__heading {
        margin-top: 0.5rem;
        margin-bottom: 0;
        font-size: 1.125rem;
        line-height: 1.333;
    }

    p {
        margin-top: 0.5rem; 
        padding: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    &--featured {
        .post-card__image {
            margin-right: -1rem;
            margin-left: -1rem;
        }

        .post-card__heading {
            font-size: 2rem;
            line-height: 1.25;
        }

        p {
            margin-top: 0.75rem;
            font-size: 1.125rem;
            line-height: 1.77;
            -webkit-line-clamp: 4;
        }
    }

    @media (hover: hover) {
        &:hover {
            .post-card__image img {
                transform: scale(1.05);
            }
        }
    }
}

.post-footer {
    padding-top: 3rem;
    padding-bottom: 3rem;

    .title--container {
        margin-bottom: 1.5rem;
    }

    .post-grid {
        gap: 2rem;
    }
}

.post-archive {
    padding-bottom: 3rem;

    &.post-grid {
        gap: 2rem;
    }
}

.post-single {    
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__image {
        height: 0;
        padding-bottom: 42.8571%; // 21:9
        overflow: hidden;
        position: relative;
        margin-bottom: 2rem;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .post-date {
        margin-bottom: 0.5rem;
    }

    .post-date,
    h1 {
        display: block;
        text-align: center;
    }
}

@include screen($screen-simple) {
    .post-grid {
        grid-template-columns: repeat(12, 1fr);
    }
    
    .post-footer {


        .post-card {
            grid-column: span 6;
        }
    }
    
    .post-archive {
        grid-template-rows: repeat(2, auto);

        .post-card {
            grid-column: span 6;

            &:first-child {
                grid-column: 1 / -1;
            }

            &--featured {
                .post-card__image {
                    padding-bottom: 42.8571%; // 21:9
                }
            }
        }
    }

    .post-single {
        column-gap: 2rem;
    
        > * {
            grid-column: 2 / 12;
        }
    }
}

@include screen($screen-normal) {
    .post-footer {
        .post-card {
            grid-column: span 4;
        }
    }

    .post-archive {
        .post-card {
            grid-column: span 4;
        }
        
        .post-card--featured {            
            a {
                display: grid;
                grid-template-columns: repeat(12, 1fr); 
                gap: 2rem;
            }

            .post-card__image {
                grid-column: span 6;    
                margin-right: 0;
                margin-left: 0;
                padding-bottom: 75%; // 4:3
            }

            .post-card__content {
                grid-column: span 6;
                padding-top: 0;
            }
        }
    } 
}

@include screen($screen-large) {
    .post-footer {
        padding-top: 4rem;
        padding-bottom: 4rem;

        .title--container {
            margin-bottom: 2rem;
        }
    
        .post-card {
            grid-column: span 3;
        }
    }

    .post-archive {
        padding-bottom: 4rem;

        .post-card {
            &:first-child {
                grid-column: 1 / -1;
            }
        }

        .post-card--featured {
            .post-card__image {
                grid-column: span 8;    
                padding-bottom: 56.25%; // 16:9
            }

            .post-card__content {
                grid-column: span 4;
            }
        }
    }

    .post-single {
        padding-top: 4rem;
        padding-bottom: 7.5rem;
    
        > * {
            grid-column: 3 / 11;
        }
    
        .post-single__image {
            grid-column: 2 / 12;
            margin-bottom: 3rem;
        }
    }
}
