<svg xmlns="http://www.w3.org/2000/svg" width="12.739" height="8.491" viewBox="0 0 12.739 8.491">
  <path id="Path_15" data-name="Path 15" d="M582.928,435.539l4.248-4.248,4.248,4.248" transform="translate(593.546 437.661) rotate(180)" fill="none" stroke="#00bf87" stroke-linecap="round" stroke-width="3"/>
</svg>
