<svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="12.159" viewBox="0 0 16.652 12.159">
    <path data-name="Path 28" d="M934.057,18.121l3.871,3.871,8.538-8.538" transform="translate(-931.936 -11.332)"
          fill="none" stroke="#19bf87" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
</svg>
