<svg id="Group_84" data-name="Group 84" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
  <rect id="Rectangle_94" data-name="Rectangle 94" width="16" height="16" fill="none"/>
  <g id="Group_79" data-name="Group 79">
    <rect id="Rectangle_95" data-name="Rectangle 95" width="9.733" height="1.333" transform="translate(0 1.867)" fill="#fff"/>
    <g id="Group_78" data-name="Group 78" transform="translate(8.533)">
      <rect id="Rectangle_96" data-name="Rectangle 96" width="2.533" height="1.333" transform="translate(4.933 1.867)" fill="#fff"/>
      <path id="Path_23" data-name="Path 23" d="M34.533,5.067a2.533,2.533,0,1,1,2.533-2.533A2.536,2.536,0,0,1,34.533,5.067Zm0-3.733a1.2,1.2,0,1,0,1.2,1.2A1.2,1.2,0,0,0,34.533,1.333Z" transform="translate(-32)" fill="#fff"/>
    </g>
  </g>
  <g id="Group_82" data-name="Group 82" transform="translate(0 5.467)">
    <g id="Group_80" data-name="Group 80" transform="translate(6.267 1.867)">
      <line id="Line_3" data-name="Line 3" x2="9.733" transform="translate(0 0.667)" fill="#fff"/>
      <rect id="Rectangle_97" data-name="Rectangle 97" width="9.733" height="1.333" fill="#fff"/>
    </g>
    <g id="Group_81" data-name="Group 81" transform="translate(0 1.867)">
      <line id="Line_4" data-name="Line 4" x2="2.533" transform="translate(0 0.667)" fill="#fff"/>
      <rect id="Rectangle_98" data-name="Rectangle 98" width="2.533" height="1.333" fill="#fff"/>
    </g>
    <path id="Path_24" data-name="Path 24" d="M9.533,25.567a2.533,2.533,0,1,1,2.533-2.533A2.536,2.536,0,0,1,9.533,25.567Zm0-3.733a1.2,1.2,0,1,0,1.2,1.2A1.2,1.2,0,0,0,9.533,21.833Z" transform="translate(-5.133 -20.5)" fill="#fff"/>
  </g>
  <g id="Group_83" data-name="Group 83" transform="translate(0 10.933)">
    <rect id="Rectangle_99" data-name="Rectangle 99" width="4.933" height="1.333" transform="translate(11.067 1.867)" fill="#fff"/>
    <rect id="Rectangle_100" data-name="Rectangle 100" width="7.333" height="1.333" transform="translate(0 1.867)" fill="#fff"/>
    <path id="Path_25" data-name="Path 25" d="M27.533,46.067a2.533,2.533,0,1,1,2.533-2.533A2.536,2.536,0,0,1,27.533,46.067Zm0-3.733a1.2,1.2,0,1,0,1.2,1.2A1.2,1.2,0,0,0,27.533,42.333Z" transform="translate(-18.333 -41)" fill="#fff"/>
  </g>
</svg>
