@import '../config/sizes';

@mixin container {
	margin: 0 auto;
	max-width: $w-site;
	width: 100%;
	padding: 0 1rem;
}

@mixin flex {
	display: flex;
	justify-content: space-between;
}

@mixin focus-style() {
	outline: 2px solid;
	outline-color: #14a1c8;
	animation: outline-animation linear 0.1s;
	animation-fill-mode: forwards;

	@-webkit-keyframes outline-animation {
		0% { outline-offset: 0.5em; }
		100% { outline-offset: 0; }
	}

	@-moz-keyframes outline-animation {
		0% { outline-offset: 0.5em; }
		100% { outline-offset: 0; }
	}

	@-o-keyframes outline-animation {
		0% { outline-offset: 0.5em; }
		100% { outline-offset: 0; }
	}

	@keyframes outline-animation {
		0% { outline-offset: 0.5em; }
		100% { outline-offset: 0; }
	}
}