// Forms
//
// @include form-control;
//
// Applies default form styling
//
// Styleguide _Nuclides.Mixins.Forms

// Placeholder
//
// @include placeholder { code.. }
//
// Set the placehold styling for a input element
//
// Styleguide _Nuclides.Mixins.Placeholder

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content;
	}

	&:-moz-placeholder { /* Firefox 18- */
		@content;
	}

	&::-moz-placeholder { /* Firefox 19+ */
		@content;
	}

	&:-ms-input-placeholder {
		@content;
	}
}

@mixin form-control {
	position: relative;
	box-sizing: border-box;
	display: block;
	width: 100%;
	border: 1px solid $c-grey--light;
	border-radius: $border-radius;
	padding: 0 $default-padding/2;
	height: $input-height;
	line-height: $input-height;
	-webkit-appearance: none;
	font-size: 1em;

	&:focus,
	&:active {
		@include focus-style;
	}

	@include placeholder {
		color: $c-grey--light;
	}
}

@mixin textarea {
	@include form-control;
	height: 150px;
	padding: $default-padding/2;
	line-height: inherit;

	@include screen($screen-simple) {
		height: 150px;
		line-height: inherit;
	}
}

@mixin label {
	display: block;
	font-weight: bold;
	cursor: pointer;
	line-height: 1;
	margin-bottom: $default-padding/2;
}

@mixin radiobutton {
	position: absolute;
	top: auto;
	left: -9999px;
	opacity: 0;

	&:checked + label {
		&:after {
			display: block;
		}
	}

	&:focus + label:before {
		outline: 2px solid;
		outline-color: #51cbee;
		animation: outline-animation linear 0.1s;
		animation-fill-mode: forwards;
	}
}

@mixin radiobutton-label {
	position: relative;
	padding-left: 25px;
	font-weight: normal;
	margin: 0;
	line-height: 1.5;

	&:before {
		position: absolute;
		left: 0;
		top: 2px;
		width: 16px;
		height: 16px;
		border: 1px solid $c-grey--light;
		border-radius: $border-radius;
		background-color: $c-white;
		content: '';
	}

	&:after {
		display: none;
		position: absolute;
		left: 3px;
		top: 5px;
		width: 10px;
		height: 10px;
		background-color: $c-darkgreen;
		border-radius: $border-radius - 2;
		content: '';
	}
}

@mixin checkbox {
	@include radiobutton;
}

@mixin checkbox-label {
	@include radiobutton-label;

	//&:before,
	//&:after {
	//  border-radius: 0;
	//}
}

input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='search'] {
	@include form-control;
}

select {
	@include form-control;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='000000'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
	background-size: 12px;
	background-position: calc(100% - #{ $default-padding/2}) calc(50% + 3px);
	background-repeat: no-repeat;
	background-color: $white;
	padding-right: $default-padding + $default-padding/2;
	color: $c-darkblue;
}

textarea {
	@include textarea;
}

label {
	@include label;

	small {
		display: block;
		color: #6B7B93;
		font-size: 0.75rem;
		font-weight: 400;
	}
}

input[type='radio'] {
	@include radiobutton;
}

input[type='radio'] + label {
	@include radiobutton-label;
}

input[type='checkbox'] {
	@include checkbox;
}

input[type='checkbox'] + label {
	@include checkbox-label;
}


.radio-input + label.radio-label {
	display: inline-flex;
	justify-content: center;
	padding-left: 0;
	line-height: 40px;
	width: 40px;
	height: 40px;
	z-index: 1;
	border: 1px solid $c-grey--light;
	border-radius: $border-radius;
	background-color: $c-white;
	box-shadow: 0px 2px 0px #F1F6FA;
	font-size: 1rem;

	&:before {
		display: none;
	}
}

.radio-input {
	&:checked + .radio-label {
		color: $c-white;
		background-color: $c-darkgreen;
		box-shadow: 0px 2px 0px #008C5A;
		border-color: $c-darkgreen;
	}

	&:disabled + .radio-label {
		background-color: $c-grey--lighter;
		color: $c-grey--light;
		box-shadow: none;
		cursor: not-allowed;
	}
}

/* The switch - the box around the slider */
.switch {
	display: flex;
	align-items: center;

	label {
		font-size: 0.875rem !important;
	}

	@include screen($screen-normal) {
		label {
			font-size: 1rem !important;
		}
	}
}

.switch__inner {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

/* Hide default HTML checkbox */
.switch__inner input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 34px;
	background-color: $c-darkgreen;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 17px;
	width: 17px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: $c-darkgreen;
}

input:focus + .slider {
	box-shadow: 0 0 1px $c-darkgreen;
}

input:checked + .slider:before {
	transform: translateX(20px);
}
