@mixin screen($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

@mixin screen-max($size) {
    @media only screen and (max-width: $size) {
        @content;
    }
}

@mixin screen-height($min, $max){
    @media all and (min-height: $min) and (max-height: $max){
        @content;
    }
}