@import './inline-svg';

/* How to use: @include svg('type', $color); */
@mixin svg($type, $color) {
    @if $type == arrow-down {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M28.25 6.125L32 9.875l-16 16-16-16 3.75-3.75L16 18.375z"/></svg>');
    }

    @if $type == arrow-up {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M3.75 25.875L0 22.125l16-16 16 16-3.75 3.75L16 13.625z"/></svg>');
    }

    @if $type == arrow-left {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M25.875 28.25L22.125 32l-16-16 16-16 3.75 3.75L13.625 16z"/></svg>');
    }

    @if $type == arrow-right {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M6.125 28.267L18.375 16 6.126 3.733 9.875 0l16 16-16 16z"/></svg>');
    }

    @if $type == close {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M32 3.223L28.777 0 16 12.777 3.223 0 0 3.223 12.777 16 0 28.777 3.223 32 16 19.223 28.777 32 32 28.777 19.223 16z"/></svg>');
    }

    @if $type == search {
        content: inline-svg('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#{$color}" d="M22.151 13.539q0-3.558-2.527-6.086-2.527-2.529-6.087-2.528-3.56.001-6.084 2.527-2.524 2.525-2.53 6.087-.007 3.562 2.53 6.086 2.537 2.524 6.084 2.529 3.547.004 6.087-2.529 2.54-2.533 2.528-6.086zM32 29.537q0 1.002-.732 1.73-.733.73-1.73.733-1.038 0-1.73-.732l-6.596-6.576q-3.441 2.384-7.672 2.384-2.75 0-5.258-1.066-2.51-1.066-4.327-2.886-1.818-1.82-2.886-4.327Q0 16.29.001 13.537q.001-2.752 1.066-5.258 1.065-2.507 2.886-4.327 1.82-1.82 4.326-2.886Q10.783 0 13.538 0q2.754 0 5.26 1.066t4.327 2.886q1.82 1.82 2.886 4.327 1.065 2.506 1.066 5.259 0 4.232-2.384 7.672l6.594 6.596q.71.71.71 1.73z"/></svg>');
    }
}
