@import '../config/fonts';
@import '../config/sizes';
@import '../mixins/screen';

//
// Text
//
@mixin style-text {
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2;
}

//
// Header Style
//
@mixin style-heading {
    font-weight: normal;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

//
// Header 1 ~ 4
//
@mixin style-heading-1 {
    @include style-heading;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 1rem;

    @include screen($screen-minimal) {
        font-size: 1.75rem;
    }

    @include screen($screen-simple) {
        font-size: 2rem;
    }
}

@mixin style-heading-2 {
    @include style-heading;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 1.25rem;

    @include screen($screen-minimal) {
        font-size: 1.25rem;
    }

    @include screen($screen-simple) {
        font-size: 1.5rem;
    }
}

@mixin style-heading-3 {
    @include style-heading;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 1rem;

    @include screen($screen-minimal) {
        font-size: 1.25rem;
    }

    @include screen($screen-simple) {
        font-size: 1.25rem;
    }
}

@mixin style-heading-4 {
    @include style-heading;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 1rem;

    @include screen($screen-minimal) {
        font-size: 1.125rem;
    }

    @include screen($screen-simple) {
        font-size: 1.25rem;
    }
}

@mixin style-heading-5 {
    @include style-heading;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 1rem;
}

h1 {
    @include style-heading-1;
}

h2 {
    @include style-heading-2 
}

h3 {
    @include style-heading-3;
}

h4 {
    @include style-heading-4;
}

h5 {
    @include style-heading-5;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculaterem($size);
}