{% extends 'base.twig' %}

{% block content %}
	<div class="landings-page wrapper">
		<div class="landings-page__container">
			<div class="column__landings-content">
				{% for section in post.sections %}
					{% set block = 'sections/' ~ section.acf_fc_layout ~ '.twig' %}
					{% include block with {
						'id': 'section--' ~ loop.index,
						'section': section,
						'isFirst': loop.first
					} %}
				{% endfor %}
				{% if reviews %}
					{% for review in reviews %}
						{% include 'components/review.twig' with {
							'review': review,
							'cssClass': 'review--list review--half',
							'trim': false
						} %}
					{% endfor %}
				{% endif %}
			</div>
			<aside class="column__landings-sidebar">
				{% if sidebar %}
					{{ sidebar }}
				{% endif %}
			</aside>
		</div>
	</div>

{% endblock %}


