@import '../config/sizes';
@import '../mixins/screen';
@import '../mixins/typography';
@import '../mixins/list-reset';

code,
kbd,
tt,
var,
samp,
pre {
    font-family: monospace, serif;
    font-size: 1rem;
    line-height: 1.625;
}

p {
    padding: 0 0 1rem 0;
}

pre {
    border: 1px solid $c-red;
    margin-bottom: 1rem;
    max-width: 100%;
    overflow: auto;
    padding: .75rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}

img,
picture {
    height: auto;
    max-width: 100%;
}

* {
    font-family: 'Muli', sans-serif;
}

/*ul,
ol {
    @include list-reset;

    &:not([class]) {
        margin: 0 0 1.2rem;

        > li {
            margin: 0 0 .2rem;
            padding-left: 1.5rem;
            position: relative;

            &::before {
                left: .25rem;
                position: absolute;
                top: 0;
            }
        }

        ul,
        ol {
            margin: .5rem 0 0;
        }
    }
}

ul {
    &:not([class]) {
        > li {
            display: block;

            &::before {
                background-color: $c-base;
                border-radius: 50%;
                content: '';
                height: 8px;
                top: 10px;
                width: 8px;
            }
        }
    }
}

ol {
    &:not([class]) {
        counter-reset: ol-number;

        > li {
            counter-increment: ol-number;

            &::before {
                color: red;
                content: counter(ol-number) '.';
                font-size: inherit;
                line-height: inherit;
            }

            ol {
                counter-reset: ol-number;

                > li {
                    counter-increment: ol-number;
                }
            }
        }
    }
}*/