//theme
$c-grey:            	#DEDEDE;
$c-offgrey: 			#414141;
$c-base:             	#030115;
$c-offwhite:			#F2F2F2;
$c-lightgrey:     #F0F0F0;

// custom theme
$c-green:            	#72BF44;
$c-salmon:            	#F99F6B;

$c-blue:                #2A324B;
$c-darkblue:			#08212F;
$c-darkgreen: 			#00BF86;

$c-lightblue:			#F6F9FC;

//notifications
$c-succes:            	#72BF44;
$c-warning:            	#ffdc3e;
$c-red:                 #C93E33;

//default
$c-white:               #fff;
$white:                 $c-white;
$c-black:               #000;
$black:                 $c-black;
$button-hover:			#15a775;

$c-grey--darkest:       #474747;
$c-grey--darker:        #4a4a4a;
$c-grey--dark:          #5c5c5c;
$c-grey--medium:        #8f9597;
$c-grey--light:         #d2d2d2;
$c-grey--lighter:       #f5f5f5;
$c-grey--lightest:      #f8f8f8;

//social
$c-facebook:            #3b5998;
$c-instagram:           #8a3ab9;
$c-linkedin:            #0077b5;
$c-twitter:             #55acee;
$c-whatsapp:            #34af23;
$c-youtube:             #cd201f;

//dashboard
$c-completed: 			#c6e1c6;
$c-failed:		 		#eba3a3;
$c-refunded:	 		#e5e5e5;
$c-onhold:	 			#f8dda7;
$c-processing:	 		#c8d7e1;
$c-pending:	 			#e5e5e5;
$c-cancelled:	 		#ffddbe;

$c-completed-text: 		#5b841b;
$c-failed-text:		 	#761919;
$c-refunded-text:	 	#777;
$c-onhold-text:	 		#94660c;
$c-processing-text:		#2e4453;
$c-pending-text:		#777;
$c-cancelled-text:	 	#c58810;
