// SCREENSIZES
$screen-minimal:     480px;
$screen-simple:      768px;
$screen-snormal:     991px;
$screen-normal:     1024px;
$screen-large:      1280px;
$screen-xlarge:     1440px;
$screen-huge:       1680px;
$screen-jumbo:      1920px;

// SITE
$w-site:            $screen-large;
$w-content:         $screen-simple;
$p-gutter:          20px; // 1.25rem * 16px

$border-radius:		5px;

$default-padding:   18px;
$input-height:      40px;
