{% macro logo(class) %}
    <svg class="{{ class }}" viewBox="0 0 105 44" xmlns="http://www.w3.org/2000/svg">
        <path d="M92.099 14.236l12.755 15.725H94.012L82.799 16.18v13.782h-7.907L59.608 13.49V29.96h-8.802V.385h7.889l15.243 16.39V.385H82.8v13.163L93.418.385h9.65l-10.97 13.85zm-60.362-6.66H20.33v22.39h-8.861V7.576H.064V.385h31.673v7.191z" fill="#00386D"/>
        <path d="M35.207.385h8.884v29.58h-8.884V.386zM18.051 37.45a5.499 5.499 0 0 0-2.694-.779 2.943 2.943 0 0 0-2.171.824 2.967 2.967 0 0 0-.906 2.146c-.01.812.317 1.592.904 2.15.587.56 1.38.847 2.187.793a5.063 5.063 0 0 0 2.74-.871v1.228a5.784 5.784 0 0 1-2.831.688c-2.885 0-4.187-2.177-4.187-4.002a4.087 4.087 0 0 1 1.263-2.898 4.054 4.054 0 0 1 2.947-1.121 6.88 6.88 0 0 1 2.739.642l.009 1.2zm15.855 2.155c0 2.245-1.712 4.024-4.26 4.024a3.995 3.995 0 0 1-3.605-1.976 4.029 4.029 0 0 1 .03-4.124 3.995 3.995 0 0 1 3.635-1.921c2.588 0 4.2 1.902 4.2 3.997zm-7.213.036a2.925 2.925 0 0 0 .883 2.121 2.902 2.902 0 0 0 2.139.822 3.189 3.189 0 0 0 2.283-.917c.486-.578.76-1.306.776-2.062a3.042 3.042 0 0 0-3.059-3.025 3.042 3.042 0 0 0-3.013 3.07l-.01-.009zm22.21 3.9h-.968L42.74 37.51v6.032h-1.05V35.75h.913l5.25 6.064v-6.105h1.063l-.013 7.833zm15.302 0h-.958l-5.2-6.031v6.032h-1.05V35.75h.913l5.25 6.064v-6.105h1.059l-.014 7.833zm12.49-6.833H73.4v2.383h3.195v.995H73.4v2.429h3.396v1.027h-4.529V35.75h4.429v.958zm14.536.742a5.499 5.499 0 0 0-2.693-.779 2.947 2.947 0 0 0-2.174.824 2.971 2.971 0 0 0-.908 2.146c-.01.816.32 1.598.91 2.158.591.56 1.39.844 2.2.785a5.063 5.063 0 0 0 2.738-.876v1.229a5.784 5.784 0 0 1-2.83.687c-2.89 0-4.186-2.177-4.186-4.001a4.087 4.087 0 0 1 1.262-2.899 4.054 4.054 0 0 1 2.947-1.12 6.88 6.88 0 0 1 2.739.641l-.005 1.205zm13.673-.756h-2.716v6.848h-1.119v-6.848H98.4v-.985h6.505v.985z" fill="#007BC0"/>
    </svg>
{% endmacro %}

{# {% macro button(class) %}
    <a class="button" href="">
        <span></span>
        <svg class="icon button__icon">

        </svg>
    </a>
{% endmacro %} #}

{% macro icon(type, class) %}
    {% if type == 'arrow--right' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.286 18.333C1.023 18.333 0 17.29 0 16c0-1.289 1.023-2.333 2.286-2.333h21.909l-7.526-7.683a2.35 2.35 0 0 1-.67-1.65c0-.621.242-1.216.67-1.65a2.252 2.252 0 0 1 3.233 0L31.33 14.35A2.35 2.35 0 0 1 32 16a2.35 2.35 0 0 1-.67 1.65L19.902 29.316a2.252 2.252 0 0 1-3.233 0 2.35 2.35 0 0 1-.67-1.65c0-.62.242-1.215.67-1.65l7.527-7.683H2.286z"/>
        </svg>
    {% elseif type == 'arrow--down' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.666 2.286C13.666 1.023 14.711 0 16 0c1.289 0 2.333 1.023 2.333 2.286v21.91l7.683-7.526a2.35 2.35 0 0 1 1.65-.67 2.35 2.35 0 0 1 1.65.67 2.252 2.252 0 0 1 0 3.232L17.649 31.331A2.35 2.35 0 0 1 16 32a2.35 2.35 0 0 1-1.65-.67L2.684 19.902a2.252 2.252 0 0 1 0-3.232 2.35 2.35 0 0 1 1.65-.67 2.35 2.35 0 0 1 1.65.67l7.683 7.526V2.286z"/>
        </svg>
    {% elseif type == 'arrow--up' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.333 29.714C18.333 30.977 17.29 32 16 32c-1.289 0-2.333-1.023-2.333-2.286V7.805l-7.683 7.526a2.35 2.35 0 0 1-1.65.67 2.35 2.35 0 0 1-1.65-.67 2.252 2.252 0 0 1 0-3.233L14.35.67A2.35 2.35 0 0 1 16 0a2.35 2.35 0 0 1 1.65.67l11.666 11.428a2.252 2.252 0 0 1 0 3.233 2.35 2.35 0 0 1-1.65.67 2.35 2.35 0 0 1-1.65-.67l-7.683-7.527v21.91z"/>
        </svg>
    {% elseif type == 'arrow--left' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M29.714 13.667C30.977 13.667 32 14.71 32 16c0 1.289-1.023 2.333-2.286 2.333H7.805l7.526 7.683a2.35 2.35 0 0 1 .67 1.65 2.35 2.35 0 0 1-.67 1.65 2.252 2.252 0 0 1-3.233 0L.67 17.65A2.35 2.35 0 0 1 0 16c0-.621.241-1.216.67-1.65L12.098 2.684a2.252 2.252 0 0 1 3.233 0 2.35 2.35 0 0 1 .67 1.65 2.35 2.35 0 0 1-.67 1.65l-7.527 7.683h21.91z"/>
        </svg>
    {% elseif type == 'check' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.358 5.612a2.164 2.164 0 0 1 3.017 0c.833.817.833 2.14 0 2.957l-19.2 18.819a2.164 2.164 0 0 1-3.017 0L.625 19.024a2.062 2.062 0 0 1 0-2.957 2.164 2.164 0 0 1 3.017 0l7.025 6.885 17.691-17.34z"/>
        </svg>
    {% elseif type == 'download' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path class="arrow" d="M28.8 22.4a1.6 1.6 0 1 1 3.2 0V28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4v-5.6a1.6 1.6 0 1 1 3.2 0V28a.8.8 0 0 0 .8.8h24a.8.8 0 0 0 .8-.8v-5.6z"/>
            <path d="M14.4 16.937V1.6a1.6 1.6 0 1 1 3.2 0v15.337l5.269-5.269a1.6 1.6 0 1 1 2.262 2.263l-8 8a1.6 1.6 0 0 1-2.262 0l-8-8a1.6 1.6 0 1 1 2.262-2.263l5.269 5.269z"/>
        </svg>
    {% elseif type == 'phone' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path class="phone" d="M25.28 19.69l3.706 3.72c.682.675 1.04 1.478 1.04 2.315 0 .83-.351 1.64-1.02 2.336-.29.304-.587.594-.877.87-.426.413-.83.798-1.182 1.223-.007.013-.02.02-.027.034-1.026 1.114-2.336 1.674-3.895 1.674-.135 0-.284-.007-.425-.014-2.316-.148-4.389-1.019-5.941-1.755-4.065-1.964-7.622-4.753-10.58-8.283-2.436-2.93-4.07-5.665-5.164-8.615-.445-1.2-1.025-3.038-.864-5.009a4.94 4.94 0 0 1 1.465-3.14l2.295-2.315.014-.013c.675-.649 1.472-.993 2.295-.993.824 0 1.607.344 2.262.993.439.405.864.837 1.269 1.255.203.216.419.432.628.642l1.843 1.843c1.418 1.417 1.418 3.254 0 4.671-.19.19-.378.385-.567.574-.5.507-1.013 1.033-1.566 1.54.411.91.978 1.809 1.822 2.875 1.742 2.14 3.558 3.795 5.556 5.064.196.121.426.236.669.358.169.087.344.175.52.27l2.133-2.127c.682-.682 1.478-1.04 2.309-1.04.837 0 1.627.365 2.282 1.047zm2.417 7.109c.688-.716.688-1.425-.007-2.113l-3.733-3.734c-.21-.23-.554-.493-.973-.493-.425 0-.79.277-1.019.507l-2.309 2.309c-.115.114-.466.465-1.026.465-.223 0-.439-.054-.668-.168-.027-.014-.054-.034-.081-.048a8.579 8.579 0 0 0-.669-.357 9.135 9.135 0 0 1-.83-.453c-2.167-1.37-4.132-3.16-5.995-5.455l-.007-.006c-1.026-1.303-1.7-2.398-2.18-3.558l-.02-.06c-.122-.386-.23-.953.35-1.533.007-.014.02-.02.034-.034.583-.53 1.149-1.08 1.695-1.647.195-.19.384-.385.58-.581.716-.716.716-1.377 0-2.093L8.996 5.905c-.216-.223-.432-.439-.641-.655-.395-.413-.8-.816-1.215-1.209l-.02-.02c-.217-.216-.56-.473-.986-.473-.345 0-.696.169-1.026.48l-2.303 2.3a3.1 3.1 0 0 0-.931 2.005c-.101 1.236.128 2.546.756 4.227 1.02 2.754 2.559 5.32 4.86 8.094 2.789 3.328 6.144 5.955 9.965 7.804 1.398.669 3.261 1.452 5.266 1.58.101.007.21.007.31.007 1.054 0 1.857-.344 2.539-1.074.419-.492.864-.931 1.303-1.35.29-.283.56-.54.824-.823v.001z"/>
            <path class="sound" d="M17.287 8.484a.902.902 0 0 1-.736-1.053.916.916 0 0 1 1.053-.743 10.413 10.413 0 0 1 5.637 2.923 10.413 10.413 0 0 1 2.923 5.637c.081.5-.25.973-.75 1.054-.053.006-.1.013-.155.013a.906.906 0 0 1-.897-.756 8.606 8.606 0 0 0-2.417-4.658 8.56 8.56 0 0 0-4.659-2.417h.001zm14.663 6.501a.894.894 0 0 1-.743 1.04.906.906 0 0 1-1.053-.743 15.294 15.294 0 0 0-4.3-8.297c-2.282-2.275-5.151-3.767-8.297-4.3a.916.916 0 0 1-.75-1.053.908.908 0 0 1 1.047-.743 17.13 17.13 0 0 1 9.282 4.813 17.13 17.13 0 0 1 4.814 9.283z"/>
            <path class="sound sound--small" d="M31.95,14.985 C31.992127,15.2217963 31.9370647,15.4655786 31.7972507,15.6612806 C31.6574368,15.8569825 31.4446661,15.9880943 31.207,16.025 C30.9686516,16.0675761 30.7231778,16.0129783 30.5253464,15.8733879 C30.3275151,15.7337975 30.1937876,15.5208297 30.154,15.282 C29.6214157,12.1354408 28.1178728,9.23430228 25.854,6.985 C23.572,4.71 20.703,3.218 17.557,2.685 C17.059703,2.60039079 16.7244075,2.12963589 16.807,1.632 C16.8910406,1.1377638 17.3597297,0.805160196 17.854,0.889 C21.3739771,1.48681243 24.6191894,3.16955396 27.136,5.702 C29.6689958,8.21894316 31.3521082,11.464546 31.95,14.985 L31.95,14.985 Z"/>
        </svg>
    {% elseif type == 'chevron--left' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M25.875 28.25L22.125 32l-16-16 16-16 3.75 3.75L13.625 16z"/>
        </svg>    
    {% elseif type == 'chevron--right' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.125 28.267L18.375 16 6.126 3.733 9.875 0l16 16-16 16z"/>
        </svg>    
    {% elseif type == 'chevron--down' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.25 6.125L32 9.875l-16 16-16-16 3.75-3.75L16 18.375z"/>
        </svg> 
    {% elseif type == 'chevron--up' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.75 25.875L0 22.125l16-16 16 16-3.75 3.75L16 13.625z"/>
        </svg>       
    {% elseif type == 'facebook' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.9218 10.4862h4.9908l-.5839 5.5128h-4.4079V32H12.299V15.999H9v-5.5128h3.3V7.1653c0-2.3557.5568-4.139 1.6701-5.3496C15.0836.6053 16.9157 0 19.4666 0h4.408v5.5127h-2.7585c-.5046 0-.909.0424-1.2134.1273-.3045.0848-.5245.237-.66.4566-.1357.2197-.2226.443-.261.6698-.0385.2269-.0584.5474-.0599.9612V10.4862z"/>
        </svg>        
    {% elseif type == 'linkedin' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 3.34c0-.962.335-1.76 1.006-2.393C2.677.314 3.553 0 4.633 0c1.08.001 1.947.317 2.598.947.65.63.983 1.428.995 2.393.015.95-.314 1.746-.984 2.384-.671.64-1.553.958-2.647.956h-.04c-1.068 0-1.927-.319-2.578-.957C1.326 5.085 1 4.291 1 3.341zm.372 25.33V9.318h6.442v19.354H1.372zm9.998 0c.027-5.194.04-9.406.04-12.635 0-3.23-.007-5.157-.02-5.783l-.02-.937h6.426v2.81h-.04a8.72 8.72 0 0 1 .802-1.093 8.135 8.135 0 0 1 1.105-1.015c.463-.363 1.029-.646 1.698-.85.67-.203 1.415-.304 2.237-.302 2.227 0 4.018.74 5.372 2.217C30.324 12.56 31 14.726 31 17.578v11.09h-6.427v-10.35c0-1.368-.263-2.439-.79-3.214-.527-.775-1.35-1.163-2.47-1.163-.82 0-1.507.225-2.06.674a4.153 4.153 0 0 0-1.24 1.67c-.144.391-.215.918-.215 1.582v10.8h-6.427v.003z"/>
        </svg>
    {% elseif type == 'twitter' %}
        <svg class="{{ class }}" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.9228 6.9393c-.8806 1.2874-1.945 2.3846-3.1934 3.2916.0132.1839.0198.4598.0198.8276 0 1.7066-.25 3.4111-.7503 5.1134-.5002 1.7022-1.2587 3.3342-2.2753 4.896-1.0167 1.5617-2.2286 2.9447-3.6359 4.149-1.4072 1.2042-3.1018 2.1627-5.0836 2.8755-1.9818.7128-4.1033 1.0707-6.3647 1.0737-3.5604 0-6.8182-.9527-9.7732-2.858.4598.053.9721.0795 1.5371.0795 2.9558 0 5.5893-.9063 7.9007-2.719-1.3786-.0257-2.613-.4486-3.7032-1.2689-1.0902-.8202-1.839-1.8685-2.2466-3.1448.434.0662.835.0993 1.2028.0993.5642 0 1.1222-.072 1.6739-.2163-1.4713-.3016-2.6898-1.0335-3.6557-2.1958-.966-1.1623-1.4489-2.5122-1.4489-4.0497v-.0794c.8931.5002 1.852.7694 2.8767.8077-.868-.5782-1.5577-1.3337-2.069-2.2665-.5112-.9328-.7676-1.9443-.769-3.0345 0-1.155.289-2.2253.8673-3.211 1.589 1.9568 3.523 3.523 5.802 4.6985 2.2789 1.1755 4.719 1.8291 7.3202 1.9608-.1052-.5002-.1578-.9857-.1578-1.4566 0-1.761.6205-3.2617 1.8615-4.502 1.241-1.2403 2.7417-1.862 4.502-1.8648 1.8392 0 3.3891.6701 4.65 2.0104 1.4323-.2758 2.7792-.7882 4.0408-1.537-.4855 1.511-1.4183 2.6806-2.7983 3.5089 1.2211-.1324 2.4423-.4612 3.6634-.9865l.0067-.001z"/>
        </svg>    
    {% elseif type == 'blob--top' %}
        {# <svg class="{{ class }}" viewBox="0 0 1000 800" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h967.51c70.913 326.51 25.744 553.075-135.508 679.693C670.751 806.312 393.417 832.984 0 759.711V0z"/>
        </svg> #}

        <svg class="{{ class }}" viewBox="0 0 1000 800" width="1000" height="800" xmlns="http://www.w3.org/2000/svg">
            <path d="M185 101.143C499.631-112.252 753.86 60.87 873.867 197c120.008 136.13 75.736 331.816-96.481 460.492C605.169 786.168 350.59 867.222 185 711.704c-165.59-155.518-314.631-397.165 0-610.56z"/>
        </svg>
    {% elseif type == 'blob--bottom' %}
        {# <svg class="{{ class }}" viewBox="0 0 2752 582" xmlns="http://www.w3.org/2000/svg">
            <path d="M834 53.156c96.647-46.24 579-127.025 579 97 0 161.28-99 161.28-99 270 0 82.975 43.26 115 99 115 37.16 0 1264-19.156 1306-.156s31 46.823 31 46.156H0C5.333 560.386 29 545 71 535c63-15 220.667.156 324 .156 155 0 133.297-335.74 439-482z"/>
        </svg> #}

        {# <svg class="{{ class }}" viewBox="0 0 3102 507" width="3102" height="507" xmlns="http://www.w3.org/2000/svg">
            <path d="M834 46.269c96.647-40.275 579-110.64 579 84.487 0 140.474-99 140.474-99 235.17 0 72.27 43.26 100.164 99 100.164 37.16 0 1600-16.685 1642-.136 42 16.55 47 40.647 47 40.066 0 0-1268.667.136-3102 .136 5.333-18.091 29-31.492 71-40.202 63-13.065 220.667.136 324 .136 155 0 133.297-292.429 439-419.821z"/>
        </svg> #}

        <svg class="{{ class }}" width="3108" height="760" xmlns="http://www.w3.org/2000/svg">
            <path d="M840 46.269c96.647-40.275 579-110.64 579 84.487 0 140.474-99 140.474-99 235.17 0 72.27 43.26 100.164 99 100.164 37.16 0 1600-16.685 1642-.136 42 16.55 47 60.046 47 60.046v234H0V553c9.333-49.32 35-78.336 77-87.046 63-13.065 220.667.136 324 .136 155 0 133.297-292.429 439-419.821z"/>
        
        </svg>

        {# <svg  class="{{ class }}" <svg width="2752px" height="582px" viewBox="0 0 2752 582" xmlns="http://www.w3.org/2000/svg">
            <path d="M834 53.156c96.647-46.24 579-127.025 579 97 0 161.28-99 161.28-99 270 0 82.975 43.26 115 99 115 37.16 0 1264-19.156 1306-.156s31 46.823 31 46.156H0C5.333 560.386 29 545 71 535c63-15 220.667.156 324 .156 155 0 133.297-335.74 439-482z"/>
            <path stroke="#979797" d="M878.5.5h1279v580h-1279z"/>
        </svg> #}
    {% elseif type == 'home' %}
        <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M.6 12.04L15 .356a1.583 1.583 0 0 1 2 0L31.4 12.04c.38.307.6.774.6 1.267v17.07c0 .896-.716 1.623-1.6 1.623H1.6C.716 32 0 31.273 0 30.377v-17.07c0-.493.22-.96.6-1.267zm21.8 16.714h6.4V14.087L16 3.7 3.2 14.087v14.667h6.4v-6.49c0-3.586 2.865-6.492 6.4-6.492s6.4 2.906 6.4 6.491v6.491zm-3.2 0v-6.49c0-1.793-1.433-3.246-3.2-3.246-1.767 0-3.2 1.453-3.2 3.245v6.491h6.4z"/>
            <defs>
                <linearGradient id="gradient">
                    <stop offset="0%" stop-color="#11366b" />
                    <stop offset="100%" stop-color="#2c71b3" />
                </linearGradient>
            </defs>
        </svg>
    {% elseif type == 'close' %}
        <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M32 3.223L28.777 0 16 12.777 3.223 0 0 3.223 12.777 16 0 28.777 3.223 32 16 19.223 28.777 32 32 28.777 19.223 16z"/>
        </svg>
    {% elseif type == 'email' %}
        <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M32 6.225v20.338C32 27.909 30.925 29 29.6 29H2.4C1.075 29 0 27.909 0 26.562V5.438C0 4.091 1.075 3 2.4 3h27.2C30.925 3 32 4.091 32 5.438v.787zm-3.2 3.061l-11.912 8.066a1.58 1.58 0 0 1-1.776 0L3.2 9.286V25.75h25.6V9.286zM4.485 6.25L16 14.047 27.515 6.25H4.485z"/>
        </svg>
    {% elseif type == 'note' %}
        <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M1.6 22.408c1.399 0 2.72-1.506 2.72-3.201v-7.15C4.32 5.412 9.536 0 16 0c6.464 0 11.68 5.411 11.68 12.058v7.149c0 1.695 1.321 3.2 2.72 3.2 2.133 0 2.133 3.202 0 3.202H1.6c-2.133 0-2.133-3.201 0-3.201zm19.2 6.402C19.807 30.785 17.978 32 16 32c-1.978 0-3.807-1.215-4.8-3.19h9.6z"/>
        </svg>
    {% elseif type == 'warning' %}
        <svg class="{{ class }}"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-18.4a1.6 1.6 0 0 0-1.6 1.6v7.2a1.6 1.6 0 1 0 3.2 0v-7.2a1.6 1.6 0 0 0-1.6-1.6zM16 8a1.6 1.6 0 1 0 0 3.2A1.6 1.6 0 0 0 16 8z"/>
        </svg>
    {% elseif type == 'danger' %}
        <svg class="{{ class }}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M18.642 2.578l12.99 23.946a3.035 3.035 0 0 1-1.201 4.106c-.442.243-.938.37-1.442.37H3.01A3.018 3.018 0 0 1 0 27.973c0-.506.126-1.004.368-1.449l12.99-23.946a3.002 3.002 0 0 1 5.284 0zm-2.499 20.099a1.51 1.51 0 0 0-1.505 1.513 1.51 1.51 0 0 0 1.505 1.513 1.51 1.51 0 0 0 1.505-1.513 1.51 1.51 0 0 0-1.505-1.513zm0-11.35a1.51 1.51 0 0 0-1.505 1.513v6.053a1.51 1.51 0 0 0 1.505 1.514 1.51 1.51 0 0 0 1.505-1.514V12.84a1.51 1.51 0 0 0-1.505-1.513z"/>
        </svg>
    {% elseif type == 'flag--english' %}
        <svg class="{{ class }}" viewBox="0 0 32 21" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.387 20.983H.55A.551.551 0 0 1 0 20.43V.57C0 .264.247.017.55.017h30.837c.304 0 .55.247.55.552v19.862a.551.551 0 0 1-.55.552z" fill="#41479B"/>
            <path d="M31.938.569a.551.551 0 0 0-.551-.552h-2.464L18.722 6.714V.017h-5.506v6.697L3.014.017H.551A.551.551 0 0 0 0 .57v1.427L8.752 7.74H0v5.518h8.752L0 19.004v1.427c0 .305.247.552.55.552h2.464l10.202-6.697v6.697h5.506v-6.697l10.201 6.697h2.464c.304 0 .55-.247.55-.552v-1.427l-8.751-5.745h8.752V7.74h-8.753l8.753-5.745V.569z" fill="#F5F5F5"/>
            <path fill="#FF4B55" d="M31.938 8.845H17.62V.017h-3.304v8.828H0v3.31h14.317v8.828h3.304v-8.828h14.317z"/>
            <path d="M11.162 13.259h2.023L1.31 20.983H.551a.544.544 0 0 1-.535-.475l11.146-7.25zm10.445 0l10.33 6.718v.454c0 .285-.217.51-.494.54L19.584 13.26h2.023zM0 1.179v-.61A.55.55 0 0 1 .32.071l11.794 7.67h-2.023L0 1.178zM20.745 7.74h-2.023L30.598.017h.789c.27 0 .485.2.531.457L20.745 7.741z" fill="#FF4B55"/>
        </svg>
    {% elseif type == 'flag--dutch' %}
        <svg class="{{ class }}" viewBox="0 0 32 21" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 14h32v6.5a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5V14z" fill="#21468B"/>
            <path d="M0 7h32v7H0z" fill="#FFF"/>
            <path d="M.5 0h31a.5.5 0 0 1 .5.5V7H0V.5A.5.5 0 0 1 .5 0z" fill="#AE1C28"/>
        </svg>
    {% else %}
        <p>No icon</p>
    {% endif %}
{% endmacro %}
