{% macro timberPicture (image, width, height, class, sizes = []) %}
    {% set image = Image(image.src) %}
    {% set alt   = image.alt|default('') %}
    {% set title = image.title|default('') %}
    {% set sizes = sizes|default(0) %}
    <picture>
        {% if sizes %}
            {% for size in sizes %}
                <source type="image/webp" media="(min-width: {{ size.media }}px)"
                    srcset="{{ image.src|resize(size.width, size.height, 'center')|retina(1)|towebp }} 1x,
                    {{ image.src|resize(size.width, size.height, 'center')|retina(2)|towebp }} 2x,
                    {{ image.src|resize(size.width, size.height, 'center')|retina(3)|towebp }} 3x"
                />
                <source media="(min-width: {{ size.media }}px)"
                    srcset="{{ image.src|resize(size.width, size.height, 'center')|retina(1) }} 1x,
                    {{ image.src|resize(size.width, size.height, 'center')|retina(2) }} 2x,
                    {{ image.src|resize(size.width, size.height, 'center')|retina(3) }} 3x"
                />
            {% endfor %}
        {% endif %}
        <img class="{{ class }}" src="{{ image.src|resize((width) , (height)) }}" alt="{{ alt }}" title="{{ title }}" width="{{ width }}" height="{{ height }}"/>
    </picture>
{% endmacro %}

{% macro banner(image) %}
    {%- import _self as picture -%}
    {{ picture.timberPicture(image, 480, 400, '', [
        { 'media': 1280, 'width': 1440, 'height': 600 },
        { 'media': 1024, 'width': 1100, 'height': 500 },
        { 'media':  768, 'width': 1024, 'height': 450 },
        { 'media':  480, 'width':  768, 'height': 450 }
    ]) }}
{% endmacro %}

{% macro featured(image) %}
    {%- import _self as picture -%}
    {{ picture.timberPicture(image, 600, 400, '', [
        { 'media': 1280, 'width': 1200, 'height': 800 },
        { 'media': 1024, 'width': 1200, 'height': 800 },
        { 'media':  768, 'width': 1024, 'height': 450 },
        { 'media':  480, 'width':  768, 'height': 450 }
    ]) }}
{% endmacro %}

{% macro carcard(image) %}
    {%- import _self as picture -%}
    {{ picture.timberPicture(image, 480, 400, '', [
        { 'media': 1280, 'width': 400, 'height': 267 },
        { 'media': 1024, 'width': 400, 'height': 267 },
        { 'media':  768, 'width': 675, 'height': 378 },
        { 'media':  480, 'width':  450, 'height': 252 }
    ]) }}
{% endmacro %}

{% macro teaser(image) %}
    {%- import _self as picture -%}
    {{ picture.timberPicture(image, 408, 272, '', [
        { 'media': 1280, 'width': 408, 'height': 272 },
        { 'media': 1024, 'width': 408, 'height': 272 },
        { 'media':  768, 'width': 408, 'height': 272 },
        { 'media':  480, 'width':  408, 'height': 272 }
    ]) }}
{% endmacro %}

{% macro column(image) %}
    {%- import _self as picture -%}
    {{ picture.timberPicture(image, 600, 400, '', [
        { 'media': 1280, 'width': 600, 'height': 400 },
        { 'media': 1024, 'width': 600, 'height': 400 },
        { 'media':  768, 'width': 900, 'height': 600 },
        { 'media':  480, 'width': 450, 'height': 300 }
    ]) }}
{% endmacro %}

{% macro newscard(image) %}
    {%- import _self as picture -%}
    {{ picture.timberPicture(image, 585, 330, '', [
        { 'media': 1280, 'width': 585, 'height': 330 },
        { 'media': 1024, 'width': 585, 'height': 330 },
        { 'media':  768, 'width': 585, 'height': 330 },
        { 'media':  480, 'width': 585, 'height': 330 }
    ]) }}
{% endmacro %}
