{% if section.settings.no_margin_top %}
    {% set marginTop = 'no_margin_top' %}
{% endif %}

{% if section.settings.no_margin_bottom %}
    {% set marginBottom = 'no_margin_bottom' %}
{% endif %}

{% if section.settings.alignment %}
    {% set alignment = section.settings.alignment %}
    {% set alignText = 'text--' ~ alignment %}
{% endif %}

{% if section.settings.align_items %}
    {% set align_items = section.settings.align_items %}
   	{% set alignItems = 'align--' ~ align_items %}
{% endif %}

{% if section.settings.wrapper_size %}
    {% set wrapper_size = section.settings.wrapper_size %}
    {% set wrapper = 'wrapper ' ~ section.settings.wrapper_size %}
    {% set wrapperSize = wrapper %}
    {{wrapperSize}}
{% endif %}
