{% extends 'base.twig' %}

{% block content %}
    <section class="section">
        <div class="section__content">
            <h1>404, Pagina niet gevonden</h1>
            <p>
                Sorry, de gevraagde pagina is niet gevonden, probeer de
                <a href="{{ site.url }}">homepagina</a> of <a href="{{ site.url }}/contact/">neem contact op</a>.
            </p>
        </div>
    </section>
{% endblock %}
