{% extends 'base.twig' %}

{% block content %}

	{% include 'sections/breadcrumbs.twig' %}

	<div class="post-archive post-grid wrapper">

		{% if(featured_posts) %}

			{% set count = 0 %}

			{% for post in featured_posts %}
				{% if count == 0 %}
					{% include 'partials/blog/post-card.twig' with {
						'featured': true,
						'model': post.model,
						'excerpt': post.excerpt
					} %}
				{% else %}
					{% include 'partials/blog/post-card.twig' with {
						'model': post.model,
						'excerpt': post.excerpt
					} %}
				{% endif %}
				{% set count = count + 1 %}
			{% endfor %}

		{% endif %}

	</div>

	{% if(normal_posts) %}
		{% include 'partials/blog/post-footer.twig' with {
			'related_posts': normal_posts
		} %}
	{% endif %}

{% endblock %}


