{% extends 'base.twig' %}

{% block content %}

	{% include 'sections/breadcrumbs.twig' %}

	{% set cssClass = 'archive-blog section__container' %}

	<section class="{{ cssClass|trim }} section--index section--modellen">

		{% include 'partials/sidebar.twig' %}

		<div class="index--content">

			<h1>{{ model_archive.model_archive_introduction_title }}</h1>
			<p>{{ model_archive.model_archive_introduction_text }}</p>

			<button class="button button__primary filter--toggle">{% include 'svg/filter.twig' %}Filter</button>

			{% include 'partials/sorting/archive-sorting.twig' %}

			<div data-cars-section>

				{% if posts %}

					<ul class="list list--blog">
						{% set count = 1 %}
						{% set reviewCount = 0 %}
						{% for model in posts %}

							<li id="model-{{ count }}" class="list__item">
								{% include 'components/teaser-card.twig' with {
									'post': post
								} %}
							</li>
							{% if count is divisible by(10) %}
								{% if reviews[reviewCount] %}
									{% include 'components/review.twig' with {
										'review': reviews[reviewCount],
										'cssClass': 'review--half review--list',
										'trim': true
									} %}
									{% set reviewCount = reviewCount + 1 %}
								{% endif %}
							{% endif %}
							{% set count = count + 1 %}
						{% endfor %}
					</ul>
				{% else %}
					<p><em>{{ __('Geen items gevonden.') }}</em></p>
				{% endif %}

				{% include 'partials/pagination.twig' with {
					'pagination': posts.pagination
				} %}

			</div>

			<h2>{{ model_archive.model_archive_faq_title }}</h2>
			{% if(model_archive.model_archive_faq) %}
				{% for model_archive_item in model_archive.model_archive_faq %}
					<h3>{{ model_archive_item.question }}</h3>
					<p>{{ model_archive_item.answer }}</p>
				{% endfor %}
			{% endif %}

		</div>

	</section>

	<script type="application/ld+json">
        {{ model_archive_faq_json_object }}

	</script>

{% endblock %}
