<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
	<meta charset="{{ site.charset }}"/>
	<title>{% if wp_title %}{{ wp_title }}{% else %}{{ site.name }}{% endif %}</title>
	<meta http-equiv="Accept-CH content=" DPR, Width, Viewport-Width
	" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1"/>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,700i|Muli:400,400i,700,700i&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{{ assets.css_url }}">

	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"/>
	<link rel="stylesheet" href="https://use.typekit.net/mfp6wtd.css">

	{{ function('wp_head') }}

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-M85MGZ5');</script>
	<!-- End Google Tag Manager -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148377280-1"></script>
	<script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-148377280-1');
	</script>
</head>
<body class="{{ body_class }}" itemscope itemtype="//schema.org/WebPage">
<!-- Google Tag Manager (noscript) (for Analytics?) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KNV44PR"
			height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- Google Tag Manager (noscript) (for GTM) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M85MGZ5"
			height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{% include 'partials/loading-bar.twig' %}


<div class="site">

	<header class="site__header">
		{% include 'partials/header.twig' with {
			'items': menu_main.get_items,
		} %}
	</header>
	<main class="site__main">
		{% block content %}{% endblock %}
	</main>
	<footer class="site__footer">
		{% include 'partials/footer.twig' %}
	</footer>
</div>

{{ function('wp_footer') }}

</body>
</html>
