{% extends 'base.twig' %}

{% block content %}

	<div class="section-holder__quote-form">

		{% for section in sections %}

			{% set block = 'sections/' ~ section.acf_fc_layout ~ '.twig' %}

			{% include block with {
				'id': 'section--' ~ loop.index,
				'section': section,
				'isFirst': loop.first
			} %}
		{% endfor %}

	</div>

{% endblock %}


