{% extends 'base.twig' %}

{% block content %}

	{% for section in post.sections %}

		{% set block = 'sections/' ~ section.acf_fc_layout ~ '.twig' %}

		{% include block with {
			'id': 'section--' ~ loop.index,
			'section': section,
			'isFirst': loop.first
		} %}
	{% endfor %}

{% endblock %}
