{% extends 'base.twig' %}

{% block content %}

	{% for section in post.sections %}

		{% set block = 'sections/' ~ section.acf_fc_layout ~ '.twig' %}

		{% include block with {
			'id': 'section--' ~ loop.index,
			'section': section,
			'isFirst': loop.first
		} %}
	{% endfor %}

	<section id="section--2" class="section section--column no_margin_top">
		<div class="wrapper normal">
			<div class="description">
				<script type="text/javascript" src="https://tools.daisycon.io/car-lease/app.js"></script>
				<div class="dc-tool dc-car-lease-tool" data-config='{{ quick_form_private_lease_config }}'></div>
			</div>
		</div>
	</section>

{% endblock %}
