{% extends 'base.twig' %}

{% set title = 'Resultaten' %}
{% if total > 1 %}
    {% set title = total ~ ' resultaten gevonden' %}
{% elseif total == 1 %}
    {% set title = '1 resultaat gevonden' %}
{% endif %}

{% if search_term %}
    {% set title = title ~ ' voor "' ~ search_term ~ '"' %}
{% endif %}

{% block content %}
    {% include 'sections/breadcrumbs.twig' %}
    
    <div class="section__container">
        <h1 class="section__title">{{ title }}</h1>
  	</div>

    <div class="section__content">
        {% if posts|length > 0 %}
              <ul class="list list--blog">
                {% for model in posts %}
                    <li class="list__item">
                        {% include 'components/teaser-card.twig' with {
                            'post': post
                        } %}
                    </li>
                {% endfor %}
            </ul>

            {% if pagination %}
                {% include 'partials/pagination.twig' with {
                    'pagination': pagination
                } %}
            {% endif %}
        {% else %}
            {% if category %}
                <p><em>{{ __('Geen merken of modellen gevonden voor') ~ ' ' ~ category.title }}</em></p>
            {% else %}
                <p><em>{{ __('Geen merken of modellen gevonden met deze zoekterm!') }}</em></p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
