{% import 'macros/picture.twig' as picture %}
{% extends 'base.twig' %}

{% block content %}
	{% set cssClass = 'article' %}

	{% set id = id|default(0) %}
	{% set section = section|default(0) %}
	{% set isFirst = isFirst|default(0) %}

	<section {% if id %}id="{{ id }}" {% endif %}class="breadcrumbs section--background">
		<div class="section__container">
			{% if breadcrumbs %} {{ breadcrumbs }} {% endif %}
		</div>
	</section>

	<main class="models">

		<div class="models__hero">
			<div class="wrapper">
				<div class="models__hero-inner">
					<h1>{{ single_model.model_information.title }}</h1>
					{% include 'partials/single-model/gallery.twig' %}
					{% include 'partials/single-model/configurator.twig' %}
				</div>
			</div>
		</div>

		<section class="models__meta wrapper">
			{# Temp: only show stock car data #}
			{% if(post.is_new_stock) %}
				{% include 'partials/single-model/detail-tables-new-stock.twig' %}
			{% else %}
				{% include 'partials/single-model/detail-tables.twig' %}
			{% endif %}
			{# {% include 'partials/single-model/detail-tables-stock-cars.twig' %} #}
			{# {% include 'partials/single-model/detail-tables.twig' %} #}
		</section>
	</main>

	{# sliderClass = 'js-reviews--no-image or '' #}
	{# cssClass = 'review--no-image', 'review--third' or 'review--half' #}
	{% include 'partials/reviews.twig' with {
		'reviews': reviews,
		'slider': true,
		'sliderClass': 'js-reviews--no-image',
		'cssClass': 'review--no-image',
	} %}

	{% if(single_model.top_5_models) %}
		<aside class="related--cars section--background">
			{% include 'partials/single-model/related-cars.twig' %}
		</aside>
	{% endif %}

{% endblock %}
