{% import 'macros/picture.twig' as picture %}
{% extends 'base.twig' %}

{% block content %}
    {% set cssClass = 'article' %}

    {% set id = id|default(0) %}
    {% set section = section|default(0) %}
    {% set isFirst = isFirst|default(0) %}

    <section {% if id %}id="{{ id }}" {% endif %}class="breadcrumbs">
        <div class="section__container">
            {% if breadcrumbs %} {{breadcrumbs}} {% endif %}
        </div>
    </section>

    <article id="post--{{ post.id }}" itemscope itemtype="https://schema.org/Article">
        <div class="article__container">
            <div class="article__content" itemprop="articleBody">
                <h1>{{ post.post_title }}</h1>
                <p>Deze template is niet in gebruik. De post type is enkel bedoeld om de modelcollectie te vullen.</p>
                <p>De modelcollectie heeft wel een landingspagina.</p>
                {% if landingpage %}
                    De landingspagina die nu ingesteld is, is <a href="{{ landingpage }}">{{ landingpage }}</a>
                {% else %}
                    De landingspagina is nu niet ingesteld.
                {% endif %}
                <p>Zorg ervoor dat de URL van de landingspagina en de modelcollectie <strong>NIET</strong> conflicteren!</p>
            </div>
        </div>
    </article>
    
{% endblock %}
