{% import 'macros/picture.twig' as picture %}
{% extends 'base.twig' %}

{% block content %}
    {% set cssClass = 'article' %}

    {% set id = id|default(0) %}
    {% set section = section|default(0) %}
    {% set isFirst = isFirst|default(0) %}

    <section {% if id %}id="{{ id }}" {% endif %}class="breadcrumbs">
        <div class="section__container">
            {% if breadcrumbs %} {{breadcrumbs}} {% endif %}
        </div>
    </section>

    <article id="post--{{ post.id }}" itemscope itemtype="https://schema.org/Article">
        <div class="section__container">
            <div class="wrapper">
                <div class="column__container">
                    <div class="column__item">
                        {{ post.columns_description }}
                    </div>

                    <div class="column__item column__item--image">
                        {{ picture.featured(post.thumbnail, 'column__image') }}
                    </div>
                </div>
            </div>
        </div>

        <div class="article__container">
            <div class="article__content" itemprop="articleBody">
                {{ post.content }}

                {% include 'components/share.twig' with {
                    'cssClass': 'article__share',
                    'url': post.link,
                } %}
            </div>
        </div>
    </article>

    <section {% if id %}id="{{ id }}" {% endif %}class="section section--news stick__button green_bottom">
        <div class="wrapper">
            <h2>Gerelateerde artikelen</h2>

            {% for term in post.terms('category') %}
                {# Only the first category #}
                {% if loop.first %}
                    <div class="flexbox--container">
                        {% for child_post in term.posts(3) %}
                            <div class="news--card">
                                <figure class="news--card__thumb">
                                    <a href="{{child_post.link}}">
                                        {{ picture.featured(child_post.thumbnail, 'newscard') }}
                                        {# <img src="{{ child_post.thumbnail.src }}" alt="{{ child_post.thumbnail.alt }}">  #}
                                        <div class="aspect-ratio-placeholder__fill"></div>
                                    </a>
                                </figure>

                                <div class="news--card__bottom">
                                    <h2 class="news--card__title"><a href="{{child_post.link}}">{{ child_post.title }}</a></h2>

                                    {% if child_post.custom_intro %}
                                        <p>
                                            {{ child_post.custom_intro }}
                                        </p>
                                    {% else %}
                                        <p>
                                            {{ child_post.content|excerpt(15) }}
                                        </p>
                                    {% endif %}

                                    <a href="{{child_post.link}}" class="button button__primary button__secundary button__arrow">
                                        <span>{{ __('Lees verder')}}</span>
                                        <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}

            {% endfor %}

            <a href="{{site.link}}/blog/" class="button button__primary sticky__button button__secundary button__arrow">
                <span>{{ __('Naar het nieuws')}}</span>
                 <svg class="icon button__icon" width="7" height="12" xmlns="http://www.w3.org/2000/svg"><path d="M4.586 6L.293 1.707A1 1 0 1 1 1.707.293l5 5a1 1 0 0 1 0 1.414l-5 5a1 1 0 1 1-1.414-1.414L4.586 6z" fill="#051033" fill-rule="nonzero"/></svg>
            </a>
        </div>
    </section>
    
{% endblock %}
