{% import 'macros/picture.twig' as picture %}
{% extends 'base.twig' %}

{% block content %}

	{% set id = id|default(0) %}

	{% include 'sections/breadcrumbs.twig' %}

	<div class="post-single post-grid wrapper">
		<time class="post-date" datetime="{{ post.post_date|date("Y-m-d") }}">{{ post.post_date|date("j F Y") }}</time>
		<h1>{{ post.title }}</h1>
		<div class="post-single__image">
			<img src="{{ post.thumbnail.src('sticky_blog_item') }}" alt="{{ post.title }}">
		</div>
		<div class="copy">
			{{ post.content }}
		</div>
	</div>

	{% if(related_posts) %}
		{% include 'partials/blog/post-footer.twig' with {
			'related_posts': related_posts
		} %}
	{% endif %}

{% endblock %}
