{% extends 'base.twig' %}

{% block content %}
    {% include 'sections/breadcrumbs.twig' %}

    {% set cssClass = 'archive-blog section__container' %}

    <section class="{{ cssClass|trim }} section--index section--modellen">

        {% include 'partials/sidebar.twig' with {
            'term': term.id
        } %}

        <div class="index--content">

            {% if term.custom_seo_title %}
                <h1>{{term.custom_seo_title}}</h1>
            {% elseif(term.taxonomy is same as('modellandingspage')) %}
                <h1>{{term.name}}</h1>
            {% else %}
                <h1>Elektrische {{term.name}} leasen</h1>
            {% endif %}

            <button class="button button__primary filter--toggle">{% include 'svg/filter.twig' %}Filter</button>

			{% include 'partials/sorting/archive-sorting.twig' %}

            <div data-cars-section>

                {% if posts %}

                    <ul class="list list--blog">
                        {% for model in posts %}
                            <li class="list__item">
                                {% include 'components/teaser-card.twig' with {
                                    'post': post,
                                    'show_prices': {
                                        'show_all': 1,
                                        'show_private': 1,
                                        'show_business': 1
                                    }
                                } %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p><em>{{ 'Geen items gevonden voor ' ~ category.title }}</em></p>
                {% endif %}

                {% include 'partials/pagination.twig' with {
                    'pagination': posts.pagination
                } %}

            </div>

            <div class="archive-description">
                {{term.description}}
            </div>

        </div>

    </section>

    <input type="hidden" class="hidden-term-id" value="{{ term.id }}" />

{% endblock %}

