{% extends 'base.twig' %}

{% block content %}
    {% include 'sections/breadcrumbs.twig' %}

    {% set cssClass = 'archive-blog section__container' %}

    <section class="{{ cssClass|trim }} section--index section--modellen">

        {% if term.id == 125 %}
            {% include 'partials/sidebar-private-lease.twig' with {
				'term': term.id
			} %}
        {% else %}
            {% include 'partials/sidebar.twig' with {
				'term': term.id
			} %}
        {% endif %}

        <div class="index--content">

            {% if term.custom_seo_title_lease %}
                <h1>
                    {{ term.custom_seo_title_lease }}
                </h1>
            {% elseif term.name %}
                <h1>
                    {{ term.name }}
                </h1>
            {% else %}
                <h1>
                    Elektrisch leasen
                </h1>
            {% endif %}

            {% if term.description %}
                <p>
                    {{ term.description }}
                </p>
            {% endif %}

            <button class="button button__primary filter--toggle">
                {% include 'svg/filter.twig' %}
                Filter
            </button>

            {% include 'partials/sorting/archive-sorting.twig' %}

            <div data-cars-section>

                {% if posts %}

                    <ul class="list list--blog">
                        {% for model in posts %}
                            <li class="list__item">
                                {% include 'components/teaser-card.twig' with {
									'post': post
								} %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>
                        <em>
                            {{ 'Geen items gevonden voor ' ~ category.title }}
                        </em>
                    </p>
                {% endif %}

                {% include 'partials/pagination.twig' with {
					'pagination': posts.pagination
				} %}

            </div>

            {% if term.custom_seo_text_lease %}
                {{ term.custom_seo_text_lease }}
            {% endif %}

        </div>

    </section>

    <input type="hidden" class="hidden-term-id" value="{{ term.id }}" />

{% endblock %}

